// Page layout
body
  font-size(1)
  font-family $base-font-family
  background $c-body-bg url('/images/little_pluses.png')
  overflow hidden
#container
  max-width 800px
  margin 0 auto
header
  position relative
  z-index 50
  margin 80px 0 0 50px
  gradient($c-bg-light,$c-bg-dark)
  height 46px
  .logo img
    margin -45px 0 0 -50px
    float left
    position relative
    z-index 50
  .navigation
    gradient($c-bg-light,$c-bg-dark)
    float right
    list-style none
    margin 0 0 60px 0
    padding 0
    border-radius()
    li
      margin 0
      float left
      a
        text-decoration none
        color $c-a-nav
      border-right 1px solid $c-a-nav
      padding 7px 30px
      border-radius(14px)
.hand-container
  position absolute
  z-index 0
  .card
    position absolute
    font-family Times New Roman
    text-align center
    line-height 50px
  .hand
    position absolute
.hand-container.right
  top 400px
  right 0
  .card
    box-rotate(15deg)
    gradient(#006699,#003366)
    color #aaccee
    height 115px
    width 200px
    right 199px
    top -51px
  .hand
    top 0
    right 0
.hand-container.left
  left -30px
  top 0
  .hand
    left 0
    top 0
  .card
    box-rotate(-25deg)
    gradient(#990033,#330000)
    color #eeaacc
    height 152px
    width 250px
    top 31px
    left 64px
    border-radius(15px)
.header-back
  gradient($c-bg-light,$c-bg-dark)
  width 50%
  top 80px
  right 0
  height 46px
  position absolute
.section
  margin gap(3) 0
  padding gap(1)
  color $c-light
  position relative
.cell-content
  z-index 150
  position relative
.cell-bg
  gradient($c-bg-light,$c-bg-dark)
  opacity(.6)
  color $c-light
  border-radius()
  box-shadow(5px,$c-black,16px)
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  z-index 20