// Page layout
body
  font-size(1)
  font-family $base-font-family
  background $c-background url('/images/little_pluses.png')
  padding gap(3)
  border-top gap(1) solid $c-dark-warm
  border-bottom gap(.5) solid $c-dark-cool

#container
  padding gap(1)
  background $c-background
  border-radius()
  box-shadow()