// Color-scheme Coffee-Break, by kristi 
// From http://kuler.adobe.com/#themeID/90894

$c-light = #EEEEEE
$c-mid-cool = #AAAAAA
$c-dark-cool = #111111
$c-mid-warm = #FFFFFF
$c-dark-warm = #333333
$c-black = #000000

$c-bg-dark = #524641//#006E9F
$c-bg-light = #908575//#006E9F
$c-logo-light = #f05a23//#f37b4f


$c-background = lighten($c-light, 10%)
$c-body-bg = #cfbea8
$c-font = $c-dark-warm
$c-highlight = $c-mid-warm


$c-link = $c-mid-cool
$c-link-hover = $c-mid-warm
$c-link-visited = $c-mid-cool
$c-link-active = $c-mid-cool

$c-a-nav = #d8cfc5