.center_column
  .about
    .company
      h1 About Cardsly
      p Cardsly wants to help you make connections. That's what our business cards are about, giving you the tools to make more connections. Business cards have been around a while, but we know that a lot people wished they could work better. Now we have given you the tools to make sure each business card is modern and contains more then just the words printed on them. They are a tool that will allow you to make more and stronger connections because they are more then just words, they are content that you choose and control.
      p We launched in October of 2011, with the dream of improving business cards, and then improving the power of QR codes in general. We are on a path to change QR codes forever, we want you to join us on this path.
    .team
      h1.us The Team
      .clear
      ul.us_pics
        li.steven.us
          a(href='http://twitter.com/#!scigrex14')
            img(src='/images/steven.png',title='The browncoats will rise again!')
            img(src='/images/steven_text.png').name
          p.stitle User Experience/Engineer
        li.johnny.us
          a(href='http://twitter.com/#!john_knee')
            img(src='/images/johnny.png',title='I’m gonna rise up, I’m gonna to kick a little ass, I’m gonna to kick some ass in the U.S.A., gonna climb a mountain, gonna sew a flag, gonna fly on an eagle.\nI’m gonna kick some butt, I’m gonna drive a big truck, I’m gonna rule this world I’m gonna kick some ass, I’m gonna rise up, I’m gonna kick a little ass.\n\nROCK, FLAG and EAGLE!!')
            img(src='/images/johnny_text.png').name
          p.jtitle Graphic Designer
        li.derek.us
          a(href='http://twitter.com/#!elspoono')
            img(src='/images/derek.png',title='There\'s nothing you can do to prepare to rock.\n\nDo you prepare to eat a delicious meal? Are you hungry?\n\nThen you\'re gonna eat it.')
            img(src='/images/derek_text.png').name
          p.dtitle Lead Engineer
        li.scott.us
          a(href='http://twitter.com/#!wscain')
            img(src='/images/scott.png',title='Four score and seven years ago ...')
            img(src='/images/scott_text.png').name
          p.sctitle Business
    .clear
    .contact_us
      h1 Contact Us
      .address
        h2 Address
        p Cardsly
        p 6729 E Camino Santo
        p Scottsdale AZ, 85254
        br
        p That is our physical address, so feel free to write us a letter if you wish. If you want to get in touch with us by phone you can call us at 480-428-8000, and our email is 
          a(href='mailto:help@cards.ly') help@cards.ly
        p Feel free to get in touch with us if you have any questions, concerns, or just want to talk about how awesome your new business cards are.
        br
      .shipping
        h2 Processing and Shipping
        p.subtitle We're fast! We ship orders the same day.
        p.subtitle Shipping is built into our price. USPS first class mail, which they frequently deliver within 3 business days.
        p.subtitle At this time we only ship within the United States.
        h4 Canceling an Order
        p.subtitle You may cancel an order at any time prior to shipping. We process quickly, please call us at (480) 428-8000 for any changes to your order.