.center_column
  .about
    .team
      ul.us_pics
        li.steven
          a(href='http://twitter.com/#!scigrex14')
            img(src='/images/steven.png',title='The browncoats will rise again!')
            img(src='/images/steven_text.png').stext
          p.stitle User Experience/Engineer
        li.johnny
          a(href='http://twitter.com/#!john_knee')
            img(src='/images/johnny.png',title='I’m gonna rise up, I’m gonna to kick a little ass, I’m gonna to kick some ass in the U.S.A., gonna climb a mountain, gonna sew a flag, gonna fly on an eagle.\nI’m gonna kick some butt, I’m gonna drive a big truck, I’m gonna rule this world I’m gonna kick some ass, I’m gonna rise up, I’m gonna kick a little ass.\n\nROCK, FLAG and EAGLE!!')
            img(src='/images/johnny_text.png').jtext
          p.jtitle Graphic Designer
        li.derek
          a(href='http://twitter.com/#!elspoono')
            img(src='/images/derek.png',title='There\'s nothing you can do to prepare to rock.\n\nDo you prepare to eat a delicious meal? Are you hungry?\n\nThen you\'re gonna eat it.')
            img(src='/images/derek_text.png').dtext
          p.dtitle Lead Engineer
        li.scott
          a(href='http://twitter.com/#!wscain')
            img(src='/images/scott.png',title='Four score and seven years ago ...')
            img(src='/images/scott_text.png').sctext
          p.sctitle Business
    .information
      p Our Story
      p Cardsly launched in October of 2011. The team saw the potential of QR codes after working together in a pervious startup. They moved onto Cardsly with dreams of modernizing business cards. 
      .address
        p Address
        p Cardsly
        p 6729 E Camino Santo
        p Scottsdale AZ, 85254
        br
      .orderinfo
        b For Questions or Order Information Contact
        p Us at 480 428 8000 or 
          a(href='mailto:help@cards.ly') help@cards.ly
        br
      .shipping
        b Processing and Shipping
        p.subtitle We're fast! We ship orders the same day.
        p.subtitle Shipping is built into our price. USPS first class mail, which they frequently deliver within 3 business days.
        p.subtitle At this time we only ship within the United States.
        h4 Canceling an Order
        p.subtitle You may cancel an order at any time prior to shipping. We process quickly, please call us at (480) 428-8000 for any changes to your order.
        br
      .privacy 
        b Privacy Policy
        p.subtitle
          b Card.ly takes your privacy very seriously. 
          | We collect information to do the following: Process your order and customer support.
        p.subtitle Your browser will read and write cookies on your computer for Cards.ly to keep you logged in. Cards.ly also uses 
          a(href="http://google.com/analytics") Google Analytics 
          |  ,  
          a(href="http://chartbeat.com/") Chartbeat
          |  , and 
          a(href="http://kissmetrics.com/") Kissmetrics
          |  to gather anonymous, aggregated statistical information on our traffic in order to improve the customer experience.
        p.subtitle Cards.ly will send your information to 
          a(href="http://usps.com/") USPS
          |  and 
          a(href=" http://authorize.net/") Authorize.net
          |  specifically to accept payment, and specifically to ship your order.
        p.subtitle Cards.ly does not share your personal information with anyone outside of the companies listed above. We will not sell your information to marketing companies. We will not send you marketing emails.
        p.subtitle We may change this privacy policy in the future, for example to change the name of the shipping service or credit card processing company. To ask questions about this policy, remove your information from our database, or ask us anything at all please email us at help@cards.ly, or contact us through any of the links, phone numbers or emails at the bottom of this page
        br
      .refund
        h4 Refund Policy
        p.subtitle If you are not happy with your order for any reason, please call us at (480) 428-8000. If we cannot make it right, we will of course provide a refund.