.section.first
  .cell-bg
  .cell-content
    h3 Contact Information
    p
      | Jodesco, LLC.
      br
      | 6729 E Camino Santo
      br
      | Scottsdale AZ, 85254

    p
      b For Questions or Order Information Contact
    p
      | William Scott Cain
      br
      | Office #: 480 428 8000
      br
      a(href='mailto:help@cards.ly') help@cards.ly
      br
      br
      b Processing and Shipping
      br
    p
      | We're fast! Once we receive an order, we get right to it. We send our orders our the same day we receive them, unless it is on the weekend or after post office hours. If so, we will ship your order out next day or Monday if it was ordered on the weekend.
      br
    p
      | Shipping is built into our price. We ship through the United States Postal service and shipping time is estimated 1-3 business days. If you do not receive your order within 5 business days contact us and we will resolve the issue or send you more cards on us.

      br
    p
      | We want you to be happy, if your order is damaged during the shipping process we want to make it up to you. Contact us with a picture of the damage and we will make it right, and then some.
      br
    p
      | At this time we only ship within the United States of America. If you live in Hawaii or Alaska don’t worry we got you covered, just allow for an extra day of travel.

      br
    p
      | At this time we only ship within the United States of America. If you live in Hawaii or Alaska don’t worry we got you covered, just allow for an extra day of travel.

      br
      br
      b Canceling an Order
    p
      | You may cancel an order at any time prior to shipping. We process our orders fast, so please contact us at (480) 428-8000 immediately if you have a change or need to cancel your order.
    p
      b Privacy Policy
      br
      br
      b Card.ly takes your privacy very seriously.
      br
      | We collect information to do the following: Process your order, customer support and special offers.
      br
    p
      | Cards.ly will set and access our own cookies on your computer to allow you to make purchases and interact with the site. We also use web analytics services to gather anonymous, aggregated statistical information (e.g. unique hits, page views, etc.) about our website traffic.
      br
    p
    | Cards.ly has to share information collected by us with third parties to help process your order (e.g. shipping companies, credit card processors, etc).
    p
    | Cards.ly does not share your personal information with anyone outside of the companies listed above. We will not sell your information to marketing companies.
    p 
    | We may change this Privacy Policy at any time. To ask questions about this policy or remove your information from our database, email us at help@cards.ly
    p
    b Refund Policy
    br
    | If you are not happy with your order, give us a chance to make it right. After that, if you are still not pleased we will refund your money. We strive to make our customers happy.