.center_column
  .about
    .company
      h1 About Cardsly
      p Cardsly wants to help you make connections, because that's what business cards are about, connecting with another person. That's why Cardsly created a better business card that is more powerful then ordinary cards. With Cardly you can hand a person content and know track when they scan your card to have the information you need to follow up with them.
      br
      p We launched in October of 2011, with the dream of improving business cards, and then improving the power of QR codes in general. We are on a path to change QR codes forever, we want you to join us on this path.
    .team
      h1.us The Team
      ul.us_pics
        li.steven.us
          a(href='http://twitter.com/#!scigrex14')
            img(src='/images/steven.png',title='The browncoats will rise again!')
            img(src='/images/steven_text.png').name
          br
          b.stitle User Experience/Engineer
          p 
            | Steven loves learning how people think and applying that knowledge towards making more intuitive interfaces and designs. With this in mind he got his undergraduate degree from 
            a(href='http://www.rpi.edu') RPI
            |  in Psychology and his masters from
            a(href='http://www.asu.edu') ASU
            |  in Applied Psychology.
        li.johnny.us
          a(href='http://twitter.com/#!john_knee')
            img(src='/images/johnny.png',title='I’m gonna rise up, I’m gonna to kick a little ass, I’m gonna to kick some ass in the U.S.A., gonna climb a mountain, gonna sew a flag, gonna fly on an eagle.\nI’m gonna kick some butt, I’m gonna drive a big truck, I’m gonna rule this world I’m gonna kick some ass, I’m gonna rise up, I’m gonna kick a little ass.\n\nROCK, FLAG and EAGLE!!')
            img(src='/images/johnny_text.png').name
          br
          b.jtitle Graphic Designer
          p Johnny is a  26 year old Apple, Phoenix Coyotes, music and design fan. He would love to work in all of these different areas and he is so happy to be focusing on design. He has been dipping into a few areas of design, from designing on his iMac to making graffiti stencils, nothing illegal, to different styles of music. He has dabbled in a little of all of those and though his little classroom experience he thinks that my real world experience has taught him a lot. As time goes by he is always looking for new ways to learn and is excited about those different opportunities.
        li.derek.us
          a(href='http://twitter.com/#!elspoono')
            img(src='/images/derek.png',title='There\'s nothing you can do to prepare to rock.\n\nDo you prepare to eat a delicious meal? Are you hungry?\n\nThen you\'re gonna eat it.')
            img(src='/images/derek_text.png').name
          br
          b.dtitle Lead Engineer
          p As Cardsly's chief engineer of engineering, Derek brings another hacker skillset into team Cardsly with his 12 years of experience breaking computers at print shops, ISPs, and web design firms.
        li.scott.us
          a(href='http://twitter.com/#!wscain')
            img(src='/images/scott.png',title='Four score and seven years ago ...')
            img(src='/images/scott_text.png').name
          br
          b.sctitle Business
    .clear
    .contact_us
      h1 Contact Us
      .address
        h2 Address
        p Cardsly
        p 6729 E Camino Santo
        p Scottsdale AZ, 85254
        br
        p That is our physical address, so feel free to write us a letter if you wish. If you want to get in touch with us by phone you can call us at 480-428-8000, and our email is 
          a(href='mailto:help@cards.ly') help@cards.ly
        br
        p Feel free to get in touch with us if you have any questions, concerns, or just want to talk about how awesome your new business cards are.
        br
    .policy
      h1 Policies
      .shipping
        h2 Processing and Shipping
        p.subtitle We're fast! We ship orders the same day.
        p.subtitle Shipping is built into our price. USPS first class mail, which they frequently deliver within 3 business days.
        p.subtitle At this time we only ship within the United States.
        br
        h4 Canceling an Order
        p.subtitle You may cancel an order at any time prior to shipping. We process quickly, please call us at (480) 428-8000 for any changes to your order.
        br
      .privacy 
        b Privacy Policy
        p.subtitle
          b Card.ly takes your privacy very seriously. 
          | We collect information to do the following: Process your order and customer support.  Your browser will read and write cookies on your computer for Cards.ly to keep you logged in. Cards.ly also uses 
          a(href="http://google.com/analytics") Google Analytics 
          |  ,  
          a(href="http://chartbeat.com/") Chartbeat
          |  , and 
          a(href="http://kissmetrics.com/") Kissmetrics
          |  to gather anonymous, aggregated statistical information on our traffic in order to improve the customer experience.  Cards.ly will send your information to 
          a(href="http://usps.com/") USPS
          |  and 
          a(href=" http://authorize.net/") Authorize.net
          |  specifically to accept payment, and specifically to ship your order. Cards.ly does not share your personal information with anyone outside of the companies listed above. We will not sell your information to marketing companies. We will not send you marketing emails. We may change this privacy policy in the future, for example to change the name of the shipping service or credit card processing company. To ask questions about this policy, remove your information from our database, or ask us anything at all please email us at help@cards.ly, or contact us through any of the links, phone numbers or emails at the bottom of this page
        br
      .refund
        h4 Refund Policy
        p.subtitle If you are not happy with your order for any reason, please call us at (480) 428-8000. If we cannot make it right, we will of course provide a refund.
        .clear