.section.first
  .cell-bg
  .cell-content
    h3 About
    h4 Contact Information
    p
      | Jodesco, LLC.
      br
      | 6729 E Camino Santo
      br
      | Scottsdale AZ, 85254

    h4 For Questions or Order Information Contact
    p
      | William Scott Cain
      br
      | Office #: 480 428 8000
      br
      a(href='mailto:help@cards.ly') help@cards.ly
    h4 Processing and Shipping
    p We're fast! We typically ship orders the same day, or the next business day.
    p Shipping is built into our price. We ship through the United States Postal service and shipping time is estimated 1-3 business days. If you do not receive your order within 5 business days please contact us so we can make it right.
    p We want you to be happy, if your order is damaged during the shipping process we want to make it up to you.
    p At this time we only ship within the United States. If you live in Hawaii or Alaska don’t worry we got you covered, just allow for an extra day of travel.
    h4 Canceling an Order
    p You may cancel an order at any time prior to shipping. We process our orders fast, so please contact us at (480) 428-8000 immediately if you have a change or need to cancel your order.
    h4 Privacy Policy
    p
      b Card.ly takes your privacy very seriously. 
      | We collect information to do the following: Process your order, customer support and special offers.
    p Cards.ly will set and access our own cookies on your computer to allow you to make purchases and interact with the site. We also use web analytics services to gather anonymous, aggregated statistical information (e.g. unique hits, page views, etc.) about our website traffic.
    p Cards.ly has to share information collected by us with third parties to help process your order (e.g. shipping companies, credit card processors, etc).
    p Cards.ly does not share your personal information with anyone outside of the companies listed above. We will not sell your information to marketing companies.
    p We may change this Privacy Policy at any time. To ask questions about this policy or remove your information from our database, email us at help@cards.ly
    h4 Refund Policy
    p If you are not happy with your order, give us a chance to make it right. After that, if you are still not pleased we will refund your money. We strive to make our customers happy.