.section.first
  .cell-bg
  .cell-content
    h3 About
    h4 Contact Information
    p
      | Cards.ly, a subsidiary of Jodesco, LLC.
      br
      | 6729 E Camino Santo
      br
      | Scottsdale AZ, 85254

    h4 For Questions or Order Information Contact
    p
      | William Scott Cain
      br
      | Office #: 480 428 8000
      br
      a(href='mailto:help@cards.ly') help@cards.ly
    h4 Processing and Shipping
    p We're fast! We typically ship orders the same day, or the next business day.
    p Shipping is built into our price. USPS first class mail - Delivery within 3 days in most cases. If you do not receive your order within 5 business days please let us know.
    p At this time we only ship within the United States.
    h4 Canceling an Order
    p You may cancel an order at any time prior to shipping. We process quickly, please call us at (480) 428-8000 for any changes to your order.
    h4 Privacy Policy
    p
      b Card.ly takes your privacy very seriously. 
      | We collect information to do the following: Process your order and customer support.
    p Your browser will read and write cookies on your computer for Cards.ly to keep you logged in. Cards.ly also uses 
      a(href="http://google.com/analytics") Google Analytics 
      |  and 
      a(href="http://chartbeat.com/") Chartbeat
      |  to gather anonymous, aggregated statistical information on our traffic in order to improve the customer experience.
    p Cards.ly will send your information to the 
      a(href="http://usps.com/") USPS
      |  and 
      a(href=" http://authorize.net/") Authorize.net
      |  in order to accept payment for and fulfill your order.
    p Cards.ly does not share your personal information with anyone outside of the companies listed above. We will not sell your information to marketing companies. We will not send you marketing emails.
    p We may change this privacy policy in the future, for example to change the name of the shipping service or credit card processing company. To ask questions about this policy, remove your information from our database, or ask us anything at all please email us at help@cards.ly, or contact us through any of the links, phone numbers or emails at the bottom of this page.
    h4 Refund Policy
    p If you are not happy with your order for any reason, please call us at (480) 428-8000. If we cannot make it right, we will of course provide a refund.