//These are the parts of account page.
.section.first
  .cell_bg
  .cell_content 
    h2 Your Account
    .change_password
      h3 Change Password
      form.current_password
        ul
          li
            b.current_password_text Current:
            input.current_password_field(type='password')
      form.set_new_password
        ul
          li.new_password
            b New:
            input(type='password')
          li.new_password2
            b Re-type New:
            input(type='password2')
          li
            input(type='submit', value='Change').button.normal.change_password_button