.section.first
  .cell-bg
  .cell-content 
    h1 Your Account
    h2 Account Information
    .address
      b Nick Smith
      p 123 W Broadway
      p Tempe, AZ 85281
      a(href='/edit') Update
    .email
      p email@email.com
      a(href='/edit') Update
    .payment
      p Visa: ***************1111
      a(href='/edit') Update
      
.section
  .cell-bg
  .cell-content 
    h1 Shipping Activity
    table(border="5")
      tr
        td 100 Cards
        td 11-6-2011
        td Report a Problem
      tr
        td 200 Cards
        td 11-16-2011
        td Report a Problem
      tr
        td 50 Cards
        td 11-26-2011
        td Report a Problem
      
.section
  .cell-bg
  .cell-content 
    h1 Card Chart
  
.section
  .cell-bg
  .cell-content 
    h1 Recent Activity
    select
      option Recent Cards
      option Recent Changes
      option Recent Scans
    table(border="5")
        tr
          td 100 Cards
          td 11-6-2011
          td Report a Problem
        tr
          td 200 Cards
          td 11-16-2011
          td Report a Problem
        tr
          td 50 Cards
          td 11-26-2011
          td Report a Problem