//These are the parts of account page.
.section.first
  .cell_bg
  .cell_content 
    h1 Your Account
    // Address Information
      h2 Account Information
      .account_information
        .address
          h2 Current Shipping Address
          b Nick Smith
          p 123 W Broadway
          p Tempe, AZ 85281
          a(href='/edit') Update
    .change_password
      h1 Change Password
      form.current_password
        ul
          li
            b.current_password_text Current:
            input.current_password_field(type='password')
      form.set_new_password
        ul
          li.new_password
            b New:
            input(type='password')
          li.new_password2
            b Re-type New:
            input(type='password')
          li
            input(type='submit', value='Change').button.normal.change_password_button
      //
        .email
          p email@email.com
          a(href='/edit') Update
        .payment
          p Visa: ***************1111
          a(href='/edit') Update
        .password_text
          p Password : ************
          a(href='/change_password') Change

//      
  .section
    .cell_bg
    .cell_content 
      h1 Shipping Activity
      .shipping_table
        table(border="2")
          tr
            td 100 Cards
            td 11-6-2011
            td 
              a(href='reportproblem') Report a Problem
          tr
            td 200 Cards
            td 11-16-2011
            td
              a(href='reportproblem') Report a Problem
          tr
            td 50 Cards
            td 11-26-2011
            td
             a(href='reportproblem') Report a Problem
        
  .section
    .cell_bg
    .cell_content 
      h1 Card Chart
      .chart_dropdown
        select(id="show_card_chart")
          option(name="cards_scanned") Number of Cards Scanned
          option(name="cards_default") Number of cards set to default
          option(name="cards_scans_30days") Number of scans in last 30 days
      div(id="chart_container")
        ul(id="cards_scanned")
          li
            .chart_scanned
              ul
                li
                  .unfilled_scanned
                    .filled_scanned
        ul(id="cards_default")
          li
            .chart_default
              ul
                li
                  .unfilled_default
                    .filled_default
        ul(id="cards_scans_30days")
          li
            .chart_scans_30days
              ul
                li
                  .unfilled_scans_30days
                    .filled_scans_30days
  .section
    .cell_bg
    .cell_content
      h1 Recent Activity
      .activity_dropdown
        select(id="show_activity")
          option(name="recent_cards") Recent Cards
          option(name="recent_changes") Recent Changes
          option(name="recent_scans") Recent Scans
      div(id="activity_container")
        ul(id="recent_cards")
          li
            .recent_card_table
              table(border="5")
                tr
                  td 100 Cards
                  td 11-6-2011
                  td 
                    a(href='reportproblem') Report a Problem
                tr
                  td 200 Cards
                  td 11-16-2011
                  td
                    a(href='reportproblem') Report a Problem
                tr
                  td 50 Cards
                  td 11-26-2011
                  td
                   a(href='reportproblem') Report a Problem    
        ul(id="recent_changes")
          li
            .recent_changes_table
              table(border="5")
                tr
                  td 100 Cards
                  td 11-6-2011
                  td 
                    a(href='reportproblem') Report a Problem
                tr
                  td 200 Cards
                  td 11-16-2011
                  td
                    a(href='reportproblem') Report a Problem
                tr
                  td 50 Cards
                  td 11-26-2011
                  td
                   a(href='reportproblem') Report a Problem
        ul(id="recent_scans")
          li
            .recent_scans_table
              table(border="5")
                tr
                  td 100 Cards
                  td 11-6-2011
                  td 
                    a(href='reportproblem') Report a Problem
                tr
                  td 200 Cards
                  td 11-16-2011
                  td
                    a(href='reportproblem') Report a Problem
                tr
                  td 50 Cards
                  td 11-26-2011
                  td
                   a(href='reportproblem') Report a Problem