.gallery-select
.section.first
  .cell-bg
  .cell-content
    h3 Template Admin
    .designer
      .card
        .qr
          img(src='/images/qr.png')
        ul.content
          - for(var i=0; i<12; i++)
            .line(class='nth-'+i) line number  
              =i+1
      .options
        ul
          li.category
            label Category / Theme
            input(placeholder='Professional')
            select
              option Theme 1
              option Theme 2
          li.image
            label Card Image
            form(target='hiddenFrame',action='/uploadImage',method='POST',enctype='multipart/form-data')
              input(type='file',name='image')
            .img-loader
              iframe(name='hiddenFrame')
          li.gradient
            label Web Gradient
            input(placeholder='#000000')
            input(placeholder='#FFFFFF')
          li.field
            label Field Position/Size
            label.label Height: 
            input.height(placeholder='10%',title='height')
            label.label Width: 
            input.width(placeholder='90%',title='width')
            label.label X: 
            input.x(placeholder='10%',title='X')
            label.label Y: 
            input.y(placeholder='40%',title='Y')
          li.buttons
            .button.normal.save Save
            .button.gray.delete Delete
      .clear
    .category.active
      h4 New Category +
      ul.gallery
        li.card New Card +
  //
    .category.active
      h4 Professional
      ul.gallery
        - for i in ['black-red','blue-boxes','Gnome','purple-blue','green-grid','hello','white-purple','prime-grid']
          li.card(class=i)
            img(src='/images/qr.png').qr
            ul.content
              - for (i=0; i<=12; i++)
                li
    .category
      h4 Professional
      ul.gallery
        - for i in ['black-red','blue-boxes','Gnome','purple-blue','green-grid','hello','white-purple','prime-grid']
          li.card(class=i)
            img(src='/images/qr.png').qr
            ul.content
              - for (i=0; i<=12; i++)
                li