.gallery_select
.section.first
  .cell_bg
  .cell_content
    h3 Theme Admin
    .designer
      .card
        .qr
          img(src='/images/qr.png')
        ul.content
          - lines = ['Jimbo bo Jim','Banker Extraordinaire','Cool Cats Cucumbers','57 Bakers, Edwarstonville ','555.555.5555','New York','','h','i','j','l','m']
          - for(var i=0; i<12; i++)
            .line(class='nth-'+i)
              =lines[i]
      .options
        .tab.defaults.active
          h4 Card
          ul
            li.category_field
              label Category
              input(placeholder='Professional')
            li.image
              label Background
              form(target='hiddenFrame',action='/uploadImage',method='POST',enctype='multipart/form-data')
                input(type='file',name='image')
              .img_loader
                iframe(name='hiddenFrame')
            li.gradient
              label Website Colors
              input.color1(placeholder='000000')
              input.color2(placeholder='FFFFFF')
        .tab.font_style
          h4 Font
          ul
            li
              input.color(placeholder='000000')
            li
              select.font_family(size='8')
                option
                option Luckiest Guy
                option Arial
        .tab.qr_style
          h4 QR
          ul
            li
              label Colors
              input.qr_color1(placeholder='000000')
              input.qr_color2(placeholder='FFFFFF')
            li
              label Corners
              select
                - for(var i=0; i<=20; i++)
                  option(value=i)
                    =i
        .buttons
          .button.normal.save Save
          .button.gray.delete Delete
      .clear
    .category.active(category='')
      h4 (No Category)
      ul.gallery
    .button.gray.add_new Add New