.gallery-select
.section.first
  .cell-bg
  .cell-content
    h3 Theme Admin
    .designer
      .card
        .qr
          img(src='/images/qr.png')
        ul.content
          - for(var i=0; i<12; i++)
            .line(class='nth-'+i) line number  
              =i+1
      .options
        ul
          li.category-field
            label Category
            input(placeholder='Professional')
          li.image
            label Card Image
            form(target='hiddenFrame',action='/uploadImage',method='POST',enctype='multipart/form-data')
              input(type='file',name='image')
            .img-loader
              iframe(name='hiddenFrame')
          li.gradient
            label Web Gradient
            span.pre #
            input.color1(placeholder='000000')
            span.pre #
            input.color2(placeholder='FFFFFF')
          li.font-style
            label Font
            span.pre #
            input.color(placeholder='000000')
            select.font-family
              option
              option Luckiest Guy
              option Arial
          li.buttons
            .button.normal.save Save
            .button.gray.delete Delete
      .clear
    .category.active(category='')
      h4 (No Category)
      ul.gallery
    .button.gray.add-new Add New