.gallery_select
.section.first
  .cell_bg
  .cell_content
    .button.small.gray.add_new Create New [+]
    h3 Theme Admin
    p.subtitle
      b keyboard shortcuts:
      |  arrow, shift+arrow, cmd+z and shift+cmd+z
    .designer
      .card
        .qr
          .background
        ul.content
          - lines = ['Jimbo jo Jiming','Banker Extraordinaire','Cool Cats Cucumbers','57 Bakers, Edwarstonville ','555.555.5555','New York','','h','i','j','l','m']
          - for(var i=0; i<12; i++)
            .line(class='nth-'+i)
              =lines[i]
      .options
        .tab.defaults.active
          h4 General
          ul
            li.category_field
              label Category
              input(placeholder='Professional')
            li.image
              label Background
              form(target='hiddenFrame',action='/upload-image',method='POST',enctype='multipart/form-data')
                input(type='file',name='image')
              .img_loader
                iframe(name='hiddenFrame')
            li.gradient
              label Website Colors
              .color.color1
              .color.color2
        .tab.font_style
          h4 Font
          ul
            li
              .color.font_color
              .alignment
                .left
                .center
                .right
            li
              select.font_family(size='6')
                option
                option Luckiest Guy
                option Arial
        .tab.qr_style
          h4 QR
          ul
            li
              label Colors
              .color.qr_color1
              .color.qr_color2
            li
              label Opacity
              select.qr_color2_alpha
                - for(var i=0; i<=100; i++)
                  option(value=i/100)
                    =i
            li
              label Border Style
              select.qr_radius
                option(value=0) square
                option(value=10) round
        .buttons
          .button.normal.save Save
          .button.gray.delete Delete
      .clear
.section
  .cell_bg
  .cell_content
    .categories Loading thumbnails ...