include pull_down
.alert
	.alerttext
		img(src='/images/redarrow.png')
		p You just clicked this!
		p Each click results makes an alert
		p Alerts from scans and clicks are what make Cardsly cards powerful.
		br
		br
		br
		p Don't have a scanner we recommend SCAN on iOS and Android
		img(src='/images/appstore.png')
		img(src='/images/droidstore.png')