
.clear
.section.left
  .cell-bg
  .cell-content
    table.card-list
      tr
        th
          input(type='checkbox')
        th Purchase Date
        th Card #
        th Action
      tr
        td
          input(type='checkbox')
        td 10/23/11
        td 1
        td Message
      tr
        td
          input(type='checkbox')
        td 10/23/11
        td 2
        td Message
      tr
        td
          input(type='checkbox')
        td 10/23/11
        td 3
        td Message
      tr
        td
          input(type='checkbox')
        td 11/07/11
        td 4
        td Contact Card
      tr
        td
          input(type='checkbox')
        td 11/07/11
        td 5
        td Contact Card
          

.section.right
  .cell-bg
  .cell-content
    h3 Edit Card Stuff
    .text-fields
      p Link to:
        input
        span.suggestions e.g. Youtube video or LinkedIn Profile or ...
      p Custom Message:
        textarea
        span.suggestions e.g. "It was nice to meet you Bob"
    .button.save.normal Save
.clear