.clear
.section.left
  .cell_bg
  .cell_content
    .card_table
      .row_header
        .cell_selectorh
          input(type='checkbox')
        .cell_card_numberh
          p card #
        .cell_purchase_dateh
          p Purchase Date
        .cell_actionh
          p Action
      .body_rows
        .card1
          .cell_selector
            input(type='checkbox')
          .cell_card_number
            p 1
          .cell_purchase_date
            p 11/18/2001
          .cell_action
            p Link
        .card2
          .cell_selector
            input(type='checkbox')
          .cell_card_number
            p 2
          .cell_purchase_date
            p 11/18/2001
          .cell_action
            p Message
        .card3
          .cell_selector
            input(type='checkbox')
          .cell_card_number
            p 3
          .cell_purchase_date
            p 11/18/2001
          .cell_action
            p Link
          

.section.right
  .cell_bg
  .cell_content
    h3 Edit Card Stuff
    .text-fields
      p Link to:
        input
        span.suggestions e.g. Youtube video or LinkedIn Profile or ...
      p Custom Message:
        textarea
        span.suggestions e.g. "It was nice to meet you Bob"
    .button.save.normal Save
.clear