if thankyou
  .section
    .cell_bg
    .cell_content
      h2 Thank You!
        p Dear Awesome Customer, 
        p At this moment you are our favorite person in the world (until our next order, then you are replaced) but be happy cause who knows when that will be!  We appreciate you being an early adopter/hipster.  We are currently working on printing, cutting and making your radical business/personal/fun/whatever the heck you want to do with them cards!
        p If you want to make any changes to your order, please email or call (480.428.8000) post haste! If a robot answers then you have dialed the wrong number, because we will personally answer your call after a brief message from Scott explaining how rad we are. If your happy and ready to hand out your cards, just sit back and wait because we process orders fast, which means same day shipping, if the mail man hasn't already driven by that is. If you ordered on a weekend, we will ship them out on Monday as we do have lives on the weekend, sometimes.  Seriously though, thanks so much for your order; we are excited for you to be creative in adding and editing whatever you want to those QR codes!
        p Let us know how we can help improve the product or any interaction you've had with cards.ly. We really value input as we grow and become more awesomer because of people like you!
if req.url_groups.length 
  .section.first
    .cell_bg
    .cell_content
      -for url_group in req.url_groups
        -if(url_group.redirect_to)
          .url_group(id=url_group._id)
            .link_main_row
              .pic
                img(src='/render/79/45/' + url_group.order_id + '/?cards.ly')
              .range
                .top
                  ='#'+url_group.range
                .bottom
                  =''+url_group.at_defaults+' / '+url_group.urls.length+''
              .redirect_to
                =url_group.redirect_to.replace('http://','')
            - for url, i in url_group.ranged_urls
              .link_row(url_string=url.url_string,id=url._id)
                .visited
                .range
                  ='#'+url.card_number
                .redirect_to
                  =url.redirect_to.replace('http://','')
                .time
                  ='updated '+url.last_updated.ago()
            .link_row.edit
              .add
                .button.small.gray Edit Card (s)
            - for url,i in url_group.urls
              - if(url.visits != 0)
                .link_row.visit(url_string=url.url_string,id=url._id)
                  .visited
                    =url.visits+' visit'+(url.visits==1?'':'s')
                  .range
                    ='#'+url.card_number
                  .redirect_to
                    =url.redirect_to.replace('http://','')
                  .time
                    ='updated '+url.last_updated.ago()
            .clear
