
.center_column
  .stats
    .item
      img(src='/images/stats.jpeg')
    .item
      p 4 Cards were scanned within the last 5 mins

.row.home_designer
  .top
    .center_column
      h1.two
        .one Card Selector
        .two Choose which cards to see stats for
  .mid
    .center_column
      .row_bg
      .row_content
        .left
          .cards
            .card
              img(src='/images/bcards.jpeg')
              p # 1-100
            .card.selected
              img(src='/images/bcards.jpeg')
              p # 101-200
        .right
          .event_feed
            h1 Event Feed
            .event
              p Card 101 was scanned in Phoenix AZ, by an Android Phone 17 Minutes ago
            .event
              p Card 101 was scanned in Phoenix AZ, by an Android Phone 17 Minutes ago
            .event
              p Card 101 was scanned in Phoenix AZ, by an Android Phone 17 Minutes ago
            .event
              p Card 101 was scanned in Phoenix AZ, by an Android Phone 17 Minutes ago
            .event
              p Card 101 was scanned in Phoenix AZ, by an Android Phone 17 Minutes ago
            .event
              p Card 101 was scanned in Phoenix AZ, by an Android Phone 17 Minutes ago
        .clear