.section.first.login-container.subtle
  .cell-bg
  .cell-content
    form.current_password
      ul
        li
          span.subtitle Old Password:
          input(type='password').password-login
    form.set_new_password
      ul
        li
          span.subtitle Type New Password:
          input(type='password')
        li
          span.subtitle Retype New Password:
          input(type='password_retyped').password-login
        li
          input(type='submit', value='Change').button.normal
          .clear
        .clear
.clear