.section.first
  .cell-bg
  .cell-content
    h1 Change Password
    form.current_password
      ul
        li.old_password
          b Current:
          input(type='password')
    form.set_new_password
      ul
        li.new_password
          b New:
          input(type='password')
        li.new_password2
          b Re-type New:
          input(type='password_retyped')
        li
          input(type='submit', value='Change').button.normal
          .clear
        .clear
.clear