.navigation
  .center_column
    ul.left
      li
        a(href='/') Home
      li
        a(href='/') How It Works
    ul.right
      li
        a(href='http://blog.cards.ly') Blog
      li
        a(href='/about') About
      li
        a(href='/login') Login
.logo
.pull_down
  img.bg(src='/images/pulldown.png')
  .contents
    h2 Scan Me
    img(src='qr/3e434b/?http://192.168.1.102:4000/log_home')
    p Simulate scan by clicking
    .list
!= body


.clear
.footer
  ul.items
    li.f
      a(href='http://fb.com/cardsly') F
    li.g
      a(href='https://plus.google.com/101327189030192478503/posts') g
    li.t
      a(href='http://twitter.com/cardsly') t
    li.phone 480.428.8000
    li.email
      a(href='mailto:help@cards.ly')
        span help
        span.at @
        span cards.ly