.overlay_container
  .overlay
.navigation
  .center_column
    a.logo(href='/')
      img(src='/images/logo35x100.png')
    ul
      li
        a(href='/login') Login
!= body


.clear
.footer
  .center_column
    ul
      li
        a(href='/about') About
      li
        a(href='http://blog.cards.ly') Blog
    ul
      li.f
        a(href='http://fb.com/cardsly') f
      li.g
        a(href='https://plus.google.com/101327189030192478503/posts') g+
      li.t
        a(href='http://twitter.com/cardsly') t
    ul
      li.email
        a(href='mailto:help@cards.ly')
          span help
          span.at @
          span cards.ly
      li.phone
        a(href='tel://4804288000') 480.428.8000