.overlay_container
  .overlay
.navigation
  .center_column
    a.logo(href='/')
      img(src='/images/logo35x100.png')
    ul
      li
        a(href='/login') Login
!= body


.clear
.footer
  .center_column
    .col_one
      .top
        a(href='/about') About
      .bottom
        a(href='mailto:help@cards.ly') help@cards.ly
    .col_two
      a(href='http://fb.com/cardsly')
        img(src='/images/facebooklink.png')
      a(href='https://plus.google.com/101327189030192478503/posts')
        img(src='/images/googlelink.png')
      a(href='http://twitter.com/cardsly')
        img(src='/images/twitterlink.png')
    .col_three
      .top
        a(href='http://blog.cards.ly') Blog
      .bottom
        a(href='tel://4804288000') 480.428.8000