.section.first
  .cell-bg
  .cell-content
    h3 Contact Information
    p
      | Jodesco, LLC.
      br
      | 6729 E Camino Santo
      br
      | Scottsdale AZ, 85254

    p
      b For Questions or Order Information Contact
    p
      | William Scott Cain
      br
      | Office #: 480 428 8000
      br
      a(href='mailto:help@cards.ly') help@cards.ly