.overlay
.navigation
  .center_column
    ul.left
      li
        a(href='/') Home
      li
        a(href='/') How It Works
    ul.right
      li
        a(href='/') About Us
      li
        a(href='/') Login
.logo
.center_column
  != body




