.section.first
  .cell_bg
  .cell_content
    h2 We hope the cute animal calms you down a little
    script
      function swapImage() {
        theImages = ["images/sorry_puppy.jpg", "images/happy_bunny.jpg", "images/sleepy_kola.jpg", "images/foxes.png", "images/puppies.png", "images/polarbear.png"];
        whichImage = Math.round(Math.random()*(theImages.length-1));
        document.write('<IMG SRC="' +theImages[whichImage]+ '">'); }
    script
      swapImage();
    noscript
      img(src="image.jpg")