.section.first
  .cell_bg
  .cell_content
    h2 404 Page
    p We are so sorry that you've found something that doesn't exist. Usually our server is good and also obeys our users. In this instance it has disobyed you and thus you are seeing this page. We will punish the server so this doesn't happen again.
    p We know you might be a little angry because you arrived on this page, to calm your nerves and make your day better please scan the below QR code for a picture of a cute animal. This should calm you and make you less angry at us. 
    img(src='/images/qr.png')
    p We hope you find what you're looking for on our site, and if not, here's 
    a(href="http://blog.cards.ly") a link to our blog
    |  where you can at least learn something about us and the QR code bussiness.