.section.first
  .cell_bg
  .cell_content
    h2 Whoops!
    h4 It broke. We're on it.
    p We know this error might be upsetting.
    p To make your day a little better please scan the below QR code for a picture of a cute animal.
    a(href='#').qr_link
      .qr(style='height:200px;width:200px;margin:20px auto;')
        .background(style='background:#EEE;height:200px;width:200px;position:absolute;z-index:-1;border-radius:5px')
    script
      window.onload = function(){
        images = [
          'http://cards.ly/cute-animal'
        ];
        image = images[Math.round(Math.random()*(images.length-1))]
        $('.qr').qr({
          url: image,
          height: 200,
          width: 200,
          color: '#333333'
        })
        $('.qr_link').attr('href',image)
      }
    p This should calm you down and make you less angry with us.