if req.customer_questions_available
  a.chat(href='https://jodesco.campfirenow.com/b8b1c',target='_blank')
    img(src='images/chatbubble.png')
.feedback
  a.button.feedback(href='#') Feedback
.feedback_form
.footer
  .container
    .above
      p
        a(href='mailto:help@cards.ly') help@cards.ly
        |  &nbsp;|&nbsp; 
        | 480.428.8000
      ul
        li
          a(href="http://twitter.com/#!/cardsly")
            img(src='/images/twitter-icon.png')
        li
          a(href="http://facebook.com/cardsly")
            img(src='/images/facebook-icon.png')
        li
          a(href="https://plus.google.com/101327189030192478503/posts")
            img(src='/images/googleplus-icon.png')
      p Give us a shout, we'll shout back.
    ul.us_pics
      li.steven
        a(href='http://twitter.com/#!scigrex14')
          img(src='/images/steven.png',title='The browncoats will rise again!')
          img(src='/images/steven_text.png')
      li.johnny
        a(href='http://twitter.com/#!john_knee')
          img(src='/images/johnny.png',title='I’m gonna rise up, I’m gonna to kick a little ass, I’m gonna to kick some ass in the U.S.A., gonna climb a mountain, gonna sew a flag, gonna fly on an eagle.\nI’m gonna kick some butt, I’m gonna drive a big truck, I’m gonna rule this world I’m gonna kick some ass, I’m gonna rise up, I’m gonna kick a little ass.\n\nROCK, FLAG and EAGLE!!')
          img(src='/images/johnny_text.png')
      li.derek
        a(href='http://twitter.com/#!elspoono')
          img(src='/images/derek.png',title='There\'s nothing you can do to prepare to rock.\n\nDo you prepare to eat a delicious meal? Are you hungry?\n\nThen you\'re gonna eat it.')
          img(src='/images/derek_text.png')
      li.scott
        a(href='http://twitter.com/#!wscain')
          img(src='/images/scott.png',title='Four score and seven years ago ...')
          img(src='/images/scott_text.png')
//if lt IE 7
  != js('libs/json2.js')
script(src='https://js.stripe.com/v1/')
script(src='//www.google.com/jsapi')
script
  google.load("webfont", "1");
!= js('script')
- for (var i in scripts)
  != js(scripts[i])
script
  var _sf_async_config={uid:30481,domain:"cards.ly"};
  (function(){
    function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
         (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
         "js/chartbeat.js");
      document.body.appendChild(e);
    }
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
script
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/9d1117801d4df63bf079c74f1c957bf5881311a1.1.js');
//script(src='//cdn.optimizely.com/js/15739021.js')
//if IE lt 9
  != css('ie')
  != js('libs/PIE.js')