.section.first
  .cell_bg
  .cell_content
    h3 Forgot Password
    h2
      span.subtitle Use this to reset your password if your forget it.
      form.email_password
        ul
          li
            label.email_text Enter Current Email:
            input(size='40').current_email
        .buttons          
          input(type='submit', value='Reset Password').button.normal.email_password
        .clear
  .clear