.center_column
  .hero
    .top
      .left
        img(src='/images/scan_guy.png')
      .right
        h1.one 
          .one QR Code 
          .two Business
          .three Cards

    .bottom
      .left
        h1.two 
          .one Get Notified!
          .two Email and text alerts on every scan
        img(src='/images/get_guy.png')
      .right
        a(href='/h').qr_action
          h1.three Try Me
          img(src='/qr/ce6d4e/?cards.ly/h', width=200)


.center_column
  .call_to_action  
    h1.four get connected
    ul.socials
      .social_bg _
      li.facebook F
      li.shift.twitter t
      li.linkedin l
      li.google g
      li.shift.yahoo Y 
      li.shift_2.vimeo v
      li.github G
      li.tumblr T
      li.shift_2.foursquare j


.center_column
  .home_designer
    .card
    .phone
      .profile_image
        img(src='/images/whodat.png')
        p Connect a Social Account to Update
    .controls
      .titles
        .title.active Text
        .title QR
        .title Background
      .areas
        .area.active
        .area
        .area
    .clear
    .themes