.hero
  .top
    .right
      h1.one 
        .one QR Code 
        .two Business
        .three Cards

  .bottom
    img(src='/images/scan_guy.png')
    h1.two 
      .one Get Notified!
      .two Email and text alerts on every scan
    img(src='/images/get_guy.png')

a(href='/h').qr_action
  h1.three Try Me
  img(src='/qr/CE534D/?cards.ly/h', width=200)
.clear
.call_to_action
  
  h1.four And Connect
  ul.socials
    .social_bg _
    li F
    li.shift t
    li l
    li g
    li.shift Y 
    li.shift_2 v
    li G
    li T
    li.shift_2 j



.home_designer
  .card
  .phone
  .controls
    .titles
      .title.active Text
      .title QR
      .title Background
    .areas
      .area.active
      .area
      .area