

.hero
  .top
    .left
      h1.two They scan
      img.one(src='/images/scan_guy.png')
      h1.two And You know
      img.two(src='/images/get_guy.png')
    .right
      h1.one QR Code Business Cards

ul.socials
  li F
  li.shift t
  li l
  li g
  li.shift Y 
  li.shift_2 v
  li G
  li T
  li.shift_2 j 