.hero
  .center_column
    .super_top
    .top
      .left
        img(src='/images/hand.png')
      .right
        #hero
          h1.one 
            span.char1 Q
            span.char2 R
            span.char3 &nbsp;
            span.char4 C
            span.char5 o
            span.char6 d
            span.char7 e
          h1.two 
            span.char1 B
            span.char2 u
            span.char3 s
            span.char4 i
            span.char5 n
            span.char6 e
            span.char7 s
            span.char8 s
          h1.three 
            span.char1 C
            span.char2 a
            span.char3 r
            span.char4 d
            span.char5 s
          .four
            .button.design_now 
              img(src='/images/arrow.png')
              | Design Now
      .clear
      .bottom
        .col_one
          img(src='/images/socialicons.png')
          h4 Hand them content
          p Link QR codes to a website. 
            br 
            | Link to your social network. 
            br
            | Link anywhere.
          p
            a(href='/learn-more#Social') Learn More
        .col_two
          img.two(src='/images/alerticons.png')
          h4 Learn who scans
          p When scanned, get an e-mail or text message telling you which card was hit.
          .learn
          p
            a(href='/learn-more#Alerts') Learn More
        .col_three
          img.three(src='/images/clockicon.png')
          h4 Update links anytime
          p New website? No problem. 
            br
            | Edit any card, or all of them, anytime.
          p
            a(href='/learn-more#Update') Learn More
          
  .clear
.row.home_designer
  .help_overlay.active
    .bg
    .center_column
      .button_hide Hide Help
      .button_show Show Help
      .dialog.left.one
        .text Click To Edit Text
  .top
    .center_column
      h1.two
        .one Design Cards
        .two Customize colors and fonts
      .images
        img(src='/images/icons/paint_brush_333333.png')
  .mid
    .center_column
      .row_bg
      .row_content
        .left
          .card.editor
          .spacer
          .below_card
            .below_left
              .toggle.front_back
                .bg
                  .option.active Front
                  .option Back
            .below_right
              .button.add_image
                img(src='/images/icons/camera.png',style='margin-top:3px')
                | +
              .button.alpha_image
                img(src='/images/icons/alpha.png',style='margin-top:6px')
                | +
          .clear
        .right
          .controls
            .areas
              .area
                .line_values
                .clear
                .mid_spacer
                - font_families = ['Arial','Comic Sans MS','Courier New','Georgia','Impact','Times New Roman','Trebuchet MS','Verdana','IM FELL English SC','Julee','Syncopate','Gravitas One','Quicksand','Vast Shadow','Smokum','Ovo','Amatic SC','Rancho','Poly','Chivo','Prata','Abril Fatface','Ultra','Love Ya Like A Sister','Carter One','Luckiest Guy','Gruppo','Slackey'].sort()
                select.font_families
                  -for font_family in font_families
                    option(style='font-family:'+font_family+';')=font_family
                select.font_size
                  -for size in [8,10,12,14,16,18,20,22,24,28,32,36,40,44,48,56,64,72,80,92,104,116,128]
                    option(value=size)=size
                .color_picker
                  .bg
                    .color
                    .shader
                    .arrow_container
                      .arrow_1
                      .arrow_2
                .clear
                .spacer
                .toggle.text_align
                  .bg
                    .option.active(align='left')
                      .img.left
                    .option(align='center')
                      .img.center
                    .option(align='right')
                      .img.right
              .area
                .toggle
                  .bg
                    .option.active(align='left')
                      .img.left
                    .option(align='center')
                      .img.center
                    .option(align='right')
                      .img.right
                .color_picker
                  .bg
                    .color
                    .shader
                    .arrow_container
                      .arrow_1
                      .arrow_2
                .color_picker
                  .bg
                    .color
                    .shader
                    .arrow_container
                      .arrow_1
                      .arrow_2
              .area
                form(action='/up',target='hidden_frame',enctype='multipart/form-data',method='POST').upload_form
                  input(type='file',name='image')
                  iframe(name='hidden_frame')
                .button.upload_button
                  img(src='/images/icons/upload.png', style='margin-top:5px')
                  | Upload
              .area.active
                .themes
        .clear
.row.alert_row
  .help_overlay.active
    .bg
    .center_column
      .button_hide Hide Help
      .button_show Show Help
      .dialog.right.two
        .text Email Address
  .top
    .center_column
      h1.two 
        .one Get Alerts
        .two Learn who scanned your cards
      .images
        img.text(src='/images/icons/alert_333333.png')
  .mid
    .center_column
      .set_alerts
        .row_bg
        .row_content
          .field
            h2 Enter Email
          .clear
          .field
            p Enter your email here. Turn automatic alerts on or off at anytime.
            p Text messages also available.
          .field
            .toggle
              .bg
                .option On
                .option.active Off
            .input
              input.email.required(placeholder='my@email.com',pattern='.+@.+\\..+')
              .symbol *
              .clear
              label E-mail Address
            .clear
            .mid_spacer
            .toggle
              .bg
                .option On
                .option.active Off
            .input
              input.phone.optional(placeholder='555 555 5555',pattern='.*[0-9].*[0-9].*[0-9].*[0-9].*[0-9].*[0-9].*[0-9].*[0-9].*[0-9].*[0-9].*')
              .symbol
              .clear
              label Phone Number
      .clear
    .clear
  .clear
  .mid_spacer
  .mid
    .center_column
      .set_links
        .row_bg
        .row_content
          .field
            h2 Set Links
          .clear
          .field
            p Where they go, when they scan. No worries - this can be updated anytime.
          .field
            .link_editor
              .input
                ul.socials
                  li.facebook F
                  li.twitter.shift t
                  li.linkedin l
                  li.google g
                .clear
                label Connect social
              .links
                .input
                  input.set_link.required(placeholder='mysite.com',pattern='.+\\..+')
                  .symbol *
                  .clear
                  label Or type website address
            .link_items
      .clear
    .clear
  .clear
.row
  .help_overlay.active
    .bg
    .center_column
      .button_hide Hide Help
      .button_show Show Help
      .dialog.left
        .text Select Amount
  .top
    .center_column
      h1.two
        .one Cart
        .two Everything lookin' good?
      .images
        img.shopping_cart(src='/images/icons/shopping_cart_333333.png')
  .mid
    .center_column
      .row_bg
      .row_content
        .left
          .quantity_form
            h2 Quantity
            .spacer
            .option(cards=50,cost=10)
              .label 50 cards
              .img
                img(src='/images/icons/50.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 10
            .option(cards=100,cost=15)
              .label 100 cards
              .img
                img(src='/images/icons/100.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 15
            .option(cards=250,cost=25)
              .label 250 cards
              .img
                img(src='/images/icons/250.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 25
            .option(cards=500,cost=40)
              .label 500 cards
              .img
                img(src='/images/icons/500.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 40
            .option(cards=1000,cost=60)
              .label 1000 cards
              .img
                img(src='/images/icons/1000.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 60
            .option(cards=2000,cost=100)
              .label 2000 cards
              .img
                img(src='/images/icons/2000.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 100
        .right
          h2 Approval
          .card.preview
        .clear
.row
  .help_overlay.active
    .bg
    .center_column
      .button_hide Hide Help
      .button_show Show Help
      .dialog.left
        .text Zip Code Please
  .top
    .center_column
      h1.two
        .one Checkout
        .two The last step
      .images
        img.truck(src='/images/creditcard.png')
  .mid
    .center_column
      .row_bg
      .row_content.checkout
        .left
          h2 Shipping
          p Free via USPS priority mail
          .field.input
            label Address
            input.required.street(placeholder='123 Main St.',pattern='.{4,}')
            .symbol *
          .field.input
            label Zip Code
            input.required.zip_code(placeholder='85022',pattern='.{5,}')
            .symbol *
          .map
          .full_address_container
            .full_address
        .right
          h2 Credit Card
          p Visa, Amex, Mastercard or Discover
          .field.input
            label Card #
            input.required.credit-card(placeholder='4111111111111111',pattern='[0-9]{15,}')
            .symbol *
          .field.input
            label CVC
            input.required.cvc(placeholder='123',pattern='[0-9]{3,}')
            .symbol *
          .field
            label Expires
            select.card_expiry_month(name='credit_card[expiry_month]')
              - months = ['January','February','March','April','May','June','July','August','September','October','November','December']
              - for (var i in months)
                option(value=(i*1)+1)=months[i]
            select.card_expiry_year(name='credit_card[expiry_year]')
              - for (var year = 2011; year<2032; year++)
                option(value=year)=year
          .clear
          .spaceer
          .field.total 
            label Total 
            | $
            span.total_price
        .clear
  .bottom
    .center_column
      .button.normal.purchase
        img(src='/images/lock_icon.png')
        | Purchase