.section.home_first.first
  .cell_bg
  .cell_content.home_slides
    .above_phone
      h2 Link to any web page ...
      h2.right ... from any business card
    .clear
    img.phone_frame(src='/images/phone-frame.png')
    img.phone_bar(src='images/iphone_bar.png')
    .slide_bg
    ul.slides
      li
        .slide 
          p Hand them
          p
            em content
          p with
          p
            span.cardsly cards
              span.alt .ly
        img
        label 
    ul.phone_scanner
      li
        img(src='/images/phone_scanner.png')
    ul.loading_screen
      li
        img(src='images/safari_loading.png')
    .container_slides
      ul.biz_cards
    .clear
include order_form
