.hero
  .center_column
    .super_top
    .top
      .left
        img(src='/images/hand.png')
      .right
        #hero
          h1.one 
            span.char1 Q
            span.char2 R
            span.char3 &nbsp;
            span.char4 C
            span.char5 o
            span.char6 d
            span.char7 e
          h1.two 
            span.char1 B
            span.char2 u
            span.char3 s
            span.char4 i
            span.char5 n
            span.char6 e
            span.char7 s
            span.char8 s
          h1.three 
            span.char1 C
            span.char2 a
            span.char3 r
            span.char4 d
            span.char5 s
          .four
            .button.design_now 
              img(src='/images/arrow.png')
              | Design Now
      .clear
      .bottom
        .col_one
          img(src='/images/socialicons.png')
          h4 Hand them content
          p Link QR codes to a website. 
            br 
            | Link to your social network. 
            br
            | Link anywhere.
          p
            a(href='/learn-more#Social') Learn More >
        .col_two
          img.two(src='/images/alerticons.png')
          h4 Learn who scans
          p When scanned, get an e-mail or text message telling you which card was hit.
          p
            a(href='/learn-more#Alerts') Learn More >
        .col_three
          img.three(src='/images/clockicon.png')
          h4 Update links anytime
          p New website? No problem. 
            br
            | Edit any card, or all of them, anytime.
          p
            a(href='/learn-more#Update') Learn More >
          
  .clear
include home_designer
include just_settings
include order_form