.section.first
  .cell_bg
  .cell_content
    .home_titles
      h2.left They Scan
      h2.middle You Know
      h2.right You Act
      .clear
      .hero
        img(src='/images/homepage.png')
include order_form