.hero
  .top
    .right
      h1.one 
        .one QR Code 
        .two Business
        .three Cards

  .bottom
    img(src='/images/scan_guy.png')
    h1.two 
      .one Get Notified!
      .two Email and text alerts on every scan
    img(src='/images/get_guy.png')

a(href='/h').qr_action
  h1.three Try Me
  img(src='/qr/e38902/?cards.ly/h', width=200)


.call_to_action  
  h1.four get connected
  ul.socials
    .social_bg _
    li.facebook F
    li.shift.twitter t
    li.linkedin l
    li.google g
    li.shift.yahoo Y 
    li.shift_2.vimeo v
    li.github G
    li.tumblr T
    li.shift_2.foursquare j



.home_designer
  .card
  .phone
  .controls
    .titles
      .title.active Text
      .title QR
      .title Background
    .areas
      .area.active
      .area
      .area
  .clear
  .themes