.section
  .cell_bg
  .cell_content
    h3 What is a QR Code?
    p This is a QR Code
    if whateverComesAfterHowItWorks == 'scanned'
      img.joe(src='/images/qr-blue.png', alt='qrcode')
    else
      img.joe(src='/images/qr-brown.png', alt='qrcode')
    img.sam(src='/images/what-is-a-qr-code-phone.png', alt='qrscan')
    .clear
    p Now that you know what a QR code is and what it can do, we guarantee you will notice them everywhere since they are becoming more prevalent every day.

.section
  .cell_bg
  .cell_content
    h3 QR Code background
    p QR codes or quick response codes are a new type of barcode that are decoded by smart phones or a QR reader. QR codes are a very powerful tool because they can provide a bridge between the physical and digital world.  Everyday QR codes are being used in more places such as billboards, signs, flyers, posters, and other marketing materials. QR codes are used mostly for marketing right now but that only scratches the surface of what they can do.
.section
  .cell_bg
  .cell_content 
    h3 What is a business card?
    img.what_is_qr(src='/images/why-use-biz-cards.png')
    p A business card is a small card that usually contains personal information so that the person you gave it too can contact you later on. It can be used for many different purposes and is something that everyone can use in today's world.

.section
  .cell_bg
  .cell_content
    h3 Why use Cardsly?
    img.multi_phone(src='/images/multi-phones.png')
    p There are two main reasons to use Cardsly to promote yourself.
    p The first reason is that on ever Cardsly card there is a QR code on each card. This allows you to put links on your cards meaning they are more then just a physical item, but a link betwen the physical world and the digital world that is set by you.
    p The second reason to use Cardsly is that each QR code on each code is different. This gives you full control over each card. This means that each code can link to something different. This gives you full control over your business cards. Meaning each card can be a different link to a different part of the digital world.
    p We know that you might give business cards out to different people, wouldn’t it be ncie if each QR code does something different. That is why cardsly gives you full control of each custom qr code. Each business card contains a unique card that you can tell to do anything. No longer will your business cards be static, they will now be dynamic and you will have full control.
    p The main reason to use Cardsly is that Cardsly gives you the power to promote yourself better.