if whateverComesAfterHowItWorks == 'scanned'
  .section.first
    .cell-bg
    .cell-content
      h3 You scanned a QR code. 
      img(src='/images/QRblue.png', alt='qrcode')
      p That was just a taste of the power of QR codes. As you can see they work as a link between the physical world and the digital world.
      p Now that you know what a QR code is and what it can do, we guarantee you will notice them everywhere since they are becoming more prevalent every day.

  .section
    .cell-bg
    .cell-content
      h3 How It Works
      

  .section
    .cell-bg
    .cell-content
      h3 QR Code background
      p QR codes or quick response codes are a new type of barcode that are decoded by smart phones or a QR reader. QR codes are a very powerful tool because they can provide a bridge between the physical and digital world.  Everyday QR codes are being used in more places such as billboards, signs, flyers, posters, and other marketing materials. QR codes are used mostly for marketing right now but that only scratches the surface of what they can do.
  .section
    .cell-bg
    .cell-content 
      h3 What is a business card?
      p A business card is something that does many things: promote yourself, and network with all kinds of people.
  
  .section
    .cell-bg
    .cell-content
      h3 How is Cardsly better than a traditional bussiness card?
      p There are two parts to why Cardsly cards are better then traditional bussiness cards.
      h2 1
      br
      p Is the fact that we harness the power of QR codes to make each card stand out and be a bridge from the physical world to the digital world.
      h2 2
      br
      p Is the fact that each Cardsly card contains a unique QR code, meaning you can change the desintation of that QR code at anytime you want. This gives you full control over each card and allows you to make sure each card is best suited for who you are giving it to.
      p Cardsly cards give you the power to control your cards and make them work for you in the ways you want them too.

else
  .section.first
    .cell-bg
    .cell-content
      h3 If you have a mobile phone you can access the power of QR codes. Go download a scanner and scan the code below to see the power of QR codes.
      img(src='/images/qr.png', alt='qrcode')

  .section
    .cell-bg
    .cell-content
      h3 How It Works
      

  .section
    .cell-bg
    .cell-content
     h3 What is a QR Code?
     p This is a QR Code
     img(src='/images/qr.png', alt='qrcode')
     p Now that you know what a QR code is and what it can do, we guarantee you will notice them everywhere since they are becoming more prevalent every day.

  .section
    .cell-bg
    .cell-content
      h3 QR Code background
      p QR codes or quick response codes are a new type of barcode that are decoded by smart phones or a QR reader. QR codes are a very powerful tool because they can provide a bridge between the physical and digital world.  Everyday QR codes are being used in more places such as billboards, signs, flyers, posters, and other marketing materials. QR codes are used mostly for marketing right now but that only scratches the surface of what they can do.
  .section
    .cell-bg
    .cell-content 
      h3 What is a business card?
      p A business card is a small card that usually contains personal information so that the person you gave it too can contact you later on.
  .section
    .cell-bg
    .cell-content
      h3 How are QR Codes used on business cards right now?
      p Currently business cards might have static QR codes. That mean each business card does the exact same thing and contains the exact same QR code. That means you get one choice about you want the QR code to do.
  .section
    .cell-bg
    .cell-content
      h3 How is Cardsly better?
      p We know that you might give business cards out to different people, wouldn’t it be ncie if each QR code does something different. That is why cardsly gives you full control of each custom qr code. Each business card contains a unique card that you can tell to do anything. No longer will your business cards be static, they will now be dynamic and you will have full control.