.section.first
  .cell-bg
  .cell-content
    h3 How It Works

.section
  .cell-bg
  .cell-content
    h3 What is a QR Code?
   p This is a QR Code scan it with your phone to see how it works. 
  <img src="http://qrcode.kaywa.com/img.php?s=6&d=http%3A%2F%2Fcards.ly%2Fhow-it-works%2Fscanned" alt="qrcode"  />
  p Now that you know what a QR code is and what it can do, we guarantee you will notice them everywhere since they are becoming more prevalent every day.

.section
  .cell-bg
  .cell-content
    h2 QR Code background
    p QR codes or quick response codes are a new type of barcode that are decoded by smart phones or a QR reader. QR codes are a very powerful tool because they can provide a bridge between the physical and digital world.  Everyday QR codes are being used in more places such as billboards, signs, flyers, posters, and other marketing materials. QR codes are used mostly for marketing right now but that only scratches the surface of what they can do.
.section
  .cell-bg
  .cell-content 
    h3 What is a business card?
    p A business card is a small card that usually contains personal information so that the person you gave it too can contact you later on.
.section
  .cell-bg
  .cell-content
    h3 How are QR Codes used on business cards right now?
    p Currently business cards might have static QR codes. That mean each business card does the exact same thing and contains the exact same QR code. That means you get one choice about you want the QR code to do.
.section
  .cell-bg
  .cell-content
    h3 How is Cardsly better?
    p We know that you might give business cards out to different people, wouldn’t it be ncie if each QR code does something different. That is why cardsly gives you full control of each custom qr code. Each business card contains a unique card that you can tell to do anything. No longer will your business cards be static, they will now be dynamic and you will have full control.