.section
  .cell_bg
  .cell_content
    h3 What is a QR Code
    p This is a QR Code, scan it
    if whateverComesAfterHowItWorks == 'scanned'
      img.joe(src='/images/qr-blue.png', alt='qrcode')
    else
      img.joe(src='/images/qr-brown.png', alt='qrcode')
    img.sam(src='/images/what-is-a-qr-code-phone.png', alt='qrscan')
    .clear
    p QR codes are a link, instead of typing a website URL, all you have to do is have a scanner app on your smartphone and scan the code.  QR codes are everywhere.  Now that you know what a QR code is and what it can do, we guarantee you will notice them everywhere since they are becoming more prevalent every day.

.section
  .cell_bg
  .cell_content 
    h3 Why use a business card
    img.split_guy(src='/images/why-use-biz-cards.png', alt='why use qr code business cards')
    p A business card is a small card that usually contains personal information so that the person you gave it too can contact you later on right?... Not anymore.  
    p Business cards can now be used to direct your interaction in a new way through the use of QR codes.  It can be used for many different purposes and is something that everyone can use in today's world.  
    p A business card is your first impression, it needs to serve a purpose.  Direct your interaction to what you want them to see.  You may want to use it in different social situations, with Cardsly we allow you to share both sides with full control of your QR codes.

.section
  .cell_bg
  .cell_content
    h3 Why use Cardsly
    img.multi_phone(src='/images/multi-phones.png', alt='example of qr code results'
    p Use Cardsly to make that great first impression and by setting yourself above the competition.

    p Direct that interaction to what you want them to see.

    p Have full control of every business card QR code and have limitless possibilities with your cards.

    p Manage your QR code links with our simple management tool.
