
.hand-container-container
  .hand-container
    .card.scott-qr-blue
      img(src='/images/qr.png').qr
      .content
        | Josh Smith
        br
        | Designer
        br
        | 480.123.4568
        br
        | Josh@Smith.com
    .hand
      img(src='/images/hand.png')
.section.home-first.first
  .cell-bg
  .cell-content
    .phone-left
      img(src='/images/phone-frame-left.png')
    .slides
      h2.prompt Complete QR code control anywhere, anytime
      .arrow-left.button
      .arrow-right.button
      .img-loader
        img(src='/images/arrow-left-alt.png')
        img(src='/images/arrow-right-alt.png')
      h2.caption 
        span Attach a personal message with 
        span.cardsly cards
          span.alt .ly
      .container
        ul.content
          li.first
            img(src='/images/slide-1.png')
          li.second
            img(src='/images/slide-2.png')
          li.third
            img(src='/images/slide-3.png')
    .clear
.section
  .cell-bg
  .cell-content
    .card.main.scott-qr-blue
      img(src='/images/qr.png').qr
      ul.content
        li.name John Stamos
        li.title Uncle Jesse
        li.phone 555.555.5555
        li.email john@stamos.com
    .text-fields
      ul
        li
          label Name
          input.name(placeholder='John Stamos',value='John Stamos')
        li
          label Title
          input.title(placeholder='Uncle Jesse',value='Uncle Jesse')
        li
          label Phone Number
          input.phone(placeholder='555.555.5555',value='555.555.5555')
        li
          label Email Address
          input.email(placeholder='john@stamos.com',value='john@stamos.com')
        .clear
    ul.gallery
      li.blue-green-gradient
      li.circles-blue
      li.gray-blue-gradient
      li.kickback-blue
      li.kickback-tan
      li.tri-color
    .add-button.button
    .img-loader
      img(src='/images/buttons/add-click.png')
      img(src='/images/buttons/add-hover.png')
.section
  .cell-bg
  .cell-content
    h2 Free Shipping!
    .radio-text-fields
      ul
        li
          input(type='radio',name='quantity',checked='checked')
          label 50 cards for $5
        li
          input(type='radio',name='quantity')
          label 250 cards for $15
        li
          input(type='radio',name='quantity')
          label 500 cards for $25
        li
          input(type='radio',name='quantity')
          label 1500 cards for $50
        .clear
    .checkout-button.button
    .img-loader
      img(src='/images/buttons/checkout-click.png')
      img(src='/images/buttons/checkout-hover.png')