
.section.home_first.first
  .cell_bg
  .cell_content.home_slides
    img.phone_frame(src='/images/phone-frame.png')
    img.phone_bar(src='images/iphone_bar.png')
    .slide_bg
    ul.slides
      li
        .slide Link to anything with cards.ly
        img
        label
      li
        img(src='/images/8.png')
        label facebook
      li
        img(src='/images/1.png')
        label presentations
      li
        img(src='/images/19.png')
        label reviews
      li
        img(src='/images/9.png')
        label wikipedia
      li
        img(src='/images/2.png')
        label shopping
      li
        img(src='/images/3.png')
        label music
      li
        img(src='/images/4.png')
        label profiles
      li
        img(src='/images/5.png')
        label books
      li
        img(src='/images/6.png')
        label videos
      li
        img(src='/images/7.png')
        label itunes
      li
        img(src='/images/10.png')
        label twitter
      li
        img(src='/images/11.png')
        label etsy
      li
        img(src='/images/12.png')
        label maps
      li
        img(src='/images/13.png')
        label blogging
      li
        img(src='/images/14.png')
        label facebook
      li
        img(src='/images/15.png')
        label auctions
      li
        img(src='/images/16.png')
        label deals
      li
        img(src='/images/17.png')
        label auctions
      li
        img(src='/images/18.png')
        label websites
      li
        img(src='/images/20.png')
        label web comic
      li
        img(src='/images/21.png')
        label movie review
      li
        img(src='/images/22.png')
        label news story
      li
        img(src='/images/23.png')
        label meetup
      li
        img(src='/images/24.png')
        label recipe
      li
        .slide 
          p Hand out
          p
            em cool links
          p with
          p
            span.cardsly cards
              span.alt .ly
        img
        label anything
    ul.phone_scanner
      li
        img(src='/images/phone_scanner.png')
    ul.loading_screen
      li
        img(src='images/safari_loading.png')
    .container_slides
      ul.biz_cards
    .clear
include order_form