
.hand-container.first
  .card
    p I've got skills
  .hand
    img(src='/images/hand.png')
.section
  .cell-bg
  .cell-content
    .phone-left
      img(src='/images/phone-frame-left.png')
.section
  .cell-bg
  .cell-content
    .add-button