
.hand-container.first
  .card
    p I've got skills
  .hand
    img(src='/images/hand.png')
.section.home-first
  .cell-bg
  .cell-content
    .phone-left
      img(src='/images/phone-frame-left.png')
    .slides
      .arrow-left
      .arrow-right
      h2.caption Attach a customized message to a single business card
      .container
        ul.content
          li.first
            img(src='/images/slide-1.png')
          li.second
            img(src='/images/slide-2.png')
    .clear
.section
  .cell-bg
  .cell-content
    .add-button
    .img-loader
      img(src='/images/buttons/add-click.png')
      img(src='/images/buttons/add-hover.png')
.section
  .cell-bg
  .cell-content
    .checkout-button
    .img-loader
      img(src='/images/buttons/checkout-click.png')
      img(src='/images/buttons/checkout-hover.png')