
.section
  .cell-bg
  .cell-content
    p Business cards done easily and less expensively.
    p
      img(src='/images/cards.png')
    p Welcome to the future of leave-behinds.
.section
  .cell-bg
  .cell-content
    .hand-container.left
      .card
        p I've got skills
      .hand
        img(src='/images/hand-2.png')
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p &nbsp;
    p This site is in development