
.hand-container-container
  .hand-container
    .card.scott-qr-blue
      img(src='/images/qr.png').qr
      .content
        | Josh Smith
        br
        | Designer
        br
        | 480.123.4568
        br
        | Josh@Smith.com
    .hand
      img(src='/images/hand.png')
.section.home-first.first
  .cell-bg
  .cell-content
    .phone-left
      img(src='/images/phone-frame-left.png')
    .slides
      h2.prompt Complete QR code control anywhere, anytime
      .arrow-left.button
      .arrow-right.button
      .img-loader
        img(src='/images/arrow-left-alt.png')
        img(src='/images/arrow-right-alt.png')
      h2.caption 
        span Attach a personal message with 
        span.cardsly cards
          span.alt .ly
      .container
        ul.content
          li.first
            img(src='/images/slide-1.png')
          li.second
            img(src='/images/slide-2.png')
          li.third
            img(src='/images/slide-3.png')
    .clear
.gallery-select
.design-container
  .section
    .cell-bg
    .cell-content
      h3 Step 1 : Design Your Card
      .card.main.scott-qr-blue
        img(src='/images/qr.png').qr
        ul.content
          input(value='John Stamos')
          input(value='Uncle Jesse')
          input(value='555.555.5555')
          input(value='john@stamos.com')
          input
          input
      
      .category.active
        h4 Professional
        ul.gallery
          - for i in ['black-red','blue-boxes','Gnome','purple-blue','green-grid','hello','white-purple','prime-grid']
            li.card(class=i)
              img(src='/images/qr.png').qr
              ul.content
                - for (i=0; i<=6; i++)
                  li

      .category
        h4 Modern
        ul.gallery
          - for i in ['retroish','stripes','tri-color','vertical-gray']
            li.card(class=i)
              img(src='/images/qr.png').qr
              ul.content
                - for (i=0; i<=6; i++)
                  li
      .category
        h4 Other
        ul.gallery
          - for i in ['purple-blue','green-grid','retroish','stripes','tri-color','vertical-gray']
            li.card(class=i)
              img(src='/images/qr.png').qr
              ul.content
                - for (i=0; i<=6; i++)
                  li
  .clear
.section
  .cell-bg
  .cell-content

    .img-loader
      img(src='/images/buttons/google-click.png')
      img(src='/images/buttons/google-hover.png')
      img(src='/images/buttons/facebook-click.png')
      img(src='/images/buttons/facebook-hover.png')
      img(src='/images/buttons/linkedin-click.png')
      img(src='/images/buttons/linkedin-hover.png')
      img(src='/images/buttons/twitter-click.png')
      img(src='/images/buttons/twitter-hover.png')
      img(src='/images/buttons/new-click.png')
      img(src='/images/buttons/new-hover.png')

    h3 Step 2 : Purchase
    p.subtitle With cards.ly you can sign in at anytime from any browser to add a custom message to the QR code on any card. Connect with a social network to secure this editing feature, or create a cards.ly username and password.
    p
      | I want to sign in to 
      span.cardsly cards
        span.alt .ly
      | &nbsp;with:
    a.button.twitter(href='/auth/twitter')
      span Twitter
    a.button.facebook(href='/auth/facebook')
      span Facebook
    a.button.linkedin(href='/auth/linkedin')
      span LinkedIn
    a.button.google(href='/auth/google')
      span Google
    .clear
    p -or-
    a.button.new(href='#')
      span Create a username and password
      span.subtitle username and password
    .clear
    
    .order-details
      ul.radio-text-fields.left.quantity
        li
          p Quantity:
        li
          input(type='radio',name='quantity',value='10',checked='checked')
          label 100 cards for $10
            .subtitle 10 cents per card
        li
          input(type='radio',name='quantity',value='20')
          label 250 cards for $20
            .subtitle 8 cents per card
        li
          input(type='radio',name='quantity',value='30')
          label 500 cards for $30
            .subtitle 6 cents per card
        li
          input(type='radio',name='quantity',value='60')
          label 1500 cards for $60
            .subtitle 4 cents per card
      ul.radio-text-fields.right.shipping_method
        li
          p Speed:
        li
          input(type='radio',name='shipping_method',value='0',checked='checked')
          label USPS Priority Mail for $0
            .subtitle 1-3 days
        li
          input(type='radio',name='shipping_method',value='25')
          label USPS Express Mail for $25
            .subtitle overnight
      ul.text-fields.shipping.righter
        li
          p Shipped To:
        li
          label Address Line 1
          input.address(placeholder='123 Fake St')
        li
          label Address Line 2
          input.address-2(placeholder='Apt 2032')
        li
          label City
          input.city(placeholder='Cityville')
        li
          label State
          input.state(placeholder='State')
          .subtitle U.S. Addresses only right now
      .clear
    .order-total
      .title It costs this much
      .price $10
      .button.normal.checkout Buy Now
      .subtitle checkout with paypal
        