.section
  .cell-bg
  .cell-content
    p This site is in development
.section
  .cell-bg
  .cell-content
    p Business cards done easily and less expensively.
    p Welcome to the future of leave-behinds.