
.hand-container.first
  .card
    p I've got skills
  .hand
    img(src='/images/hand.png')
.section.home-first
  .cell-bg
  .cell-content
    .phone-left
      img(src='/images/phone-frame-left.png')
    .slides
      .arrow-left.button
      .arrow-right.button
      .img-loader
        img(src='/images/arrow-left-alt.png')
        img(src='/images/arrow-right-alt.png')
      h2.caption Attach a customized message to a single business card
      .container
        ul.content
          li.first
            img(src='/images/slide-1.png')
          li.second
            img(src='/images/slide-2.png')
    .clear
.section
  .cell-bg
  .cell-content
    .card.main.scott-qr-blue
    .text-fields
      ul
        li
          label Name
          input.name(placeholder='Ted Mosby')
        li
          label Title
          input.title(placeholder='Architect')
        li
          label Phone Number
          input.phone(placeholder='555.555.5555')
        li
          label Email Address
          input.email(placeholder='ted@mosby.com')
        .clear
    p This is where the card selection stuff will go, the gallery if you will.
    .add-button.button
    .img-loader
      img(src='/images/buttons/add-click.png')
      img(src='/images/buttons/add-hover.png')
.section
  .cell-bg
  .cell-content
    p This is where selecting the quantity and seeing the price and setting up google/facebook/custom signon is.
    .checkout-button.button
    .img-loader
      img(src='/images/buttons/checkout-click.png')
      img(src='/images/buttons/checkout-hover.png')