.section
  .cell-bg
  .cell-content
    p This site is in development
.section
  .cell-bg
  .cell-content
    p Business cards done easily and less expensively.
    p
      img(src='/images/cards.png')
    p Welcome to the future of leave-behinds.
.section
  .cell-bg
  .cell-content
    p This site is in development