.section.first
  .cell_bg
  .cell_content
    h2 Welcome to Cardsly, we are launching soon... very soon
    iframe.dbcommercial(width='560', height='315', src='http://www.youtube.com/embed/ggiKNY9gIkI', frameborder='0', allowfullscreen='true')
    h2 Cardsly is a business card solution using unique QR codes on every individual business card that the user can manage.
    p Use Cardsly to make that great first impression and by setting yourself above the competition.
    p Have full control of every business card QR code and have limitless possibilities with your cards.
    p Manage your QR codes links on the fly with our simple management tool.