!!! 5
html
  include header
  body
    #container
      header
        .small_nav_container
          //This is the small navigation bar at the top of the page.
          ul.small_nav
            if user
              li.account_link
                a(href='/settings')
                  if user.name
                    =user.name
                  else if user.email
                    =user.email
                    .hidden_email
                      =user.email
                  .gear
                    img(src='/images/buttons/gear.png')
                ul.account_menu
                  li
                    a(href='/settings') Settings
                  li
                    a(href='/logout') Logout
            else
              li.login
                 a(href='/login') Login
            li
               a(href='/about') About
            li
               a(href='http://blog.cards.ly') Blog
        .header
          .logo
            a(href='/')
              img(src='/images/logo.png')
              
          ul.navigation
            if user && user.role && user.role == 'admin'
              li
                a(href='/admin') Edit Templates
            else if user
              li
                a(href='/') Buy Cards
              li
                a(href='/cards') Edit Cards
            else
              li
                a(href='/') Home
              li
                a(href='/how-it-works') How it Works
          h1
            span business cards done easi
            span.alt ly
          if !user
            .button.design_button.normal Get Started!
          .img_loader
            img(src='/images/buttons/design-click.png')
            img(src='/images/buttons/design-hover.png')
        .header_back
      #main(role='main')
        != body
    include footer
    //
    //
    // Wow, IE downloads everything
    // So google won't load anything, unless we chunk it up into segments of 6 or less
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=IM+Fell+English+SC|Julee|Syncopate|Gravitas+One|Quicksand')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Vast+Shadow|Smokum|Ovo|Amatic+SC:700|Rancho|Poly')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Chivo|Prata|Abril+Fatface|Ultra')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Carter+One|Luckiest+Guy|Gruppo|Slackey')
    //if IE lt 9
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js')
      style
        .chromeFrameInstallDefaultStyle {
          width: 100%; /* default is 800px */
        }
      #prompt
      script
        window.attachEvent("onload", function() {
          CFInstall.check({
            mode: "overlay", // the default
            node: "prompt"
          });
        });