.center_column
  .learn_more
    .content
      h1 Links
      img(src='/images/content_qr.png')
      p You can easily link to anything with a Cardsly card. Though you are not just thethered to linking to one thing with a single QR code. Each code can also link to a link group that you set. With Cardsly you will always hand them more then just a business card, you will hand them the content you want.
    .scans
      h1 Alerts
      img(src='/images/notify.png')
      p Everytime any of your cards is scanned you will recieve an email or text letting you know. This allows you to know which cards to follow up on and when you should do so. It gives you the edge you need to network better.
    .update
      h1 Updates
      img(src='/images/cardeditor.png')
      p You don't always want the default link or link group on a card. No worries you can change any card to contain any single link or  group of links. With Cardsly you can be sure each card contains the link(s) you want it to.