.section.first.login-container.subtle
  .cell-bg
  .cell-content
    .signins
      if user
        p.subtitle I see you've already signed in.
        p
          | Welcome back 
          =user.name
          =user.email
      else
        h3 Login to 
          span.cardsly cards
            span.alt .ly
          | &nbsp;with:
        .clear.center
        .socials
          a.button.twitter(href='/auth/twitter')
            span Twitter
          a.button.facebook(href='/auth/facebook')
            span Facebook
          a.button.linkedin(href='/auth/linkedin')
            span LinkedIn
          a.button.google(href='/auth/google')
            span Google
          .clear
          p.center -or-
        .login-form
          ul
            li
              input
            li
              input
            li
              .button.normal Login
          .clear
          p.center -or-
        .clear
        .local
          a.button.new(href='#')
            span Create a username and password
            span.subtitle username and password
          .clear
        .clear
.clear