.row
  .help_overlay.active
    .bg
    .center_column
      .button_hide Hide Help
      .button_show Show Help
      .dialog.left.three
        .text Number of Cards
  .top
    .center_column
      h1.two
        .one Cart
        .two Everything lookin' good?
      .images
        img.shopping_cart(src='/images/icons/shopping_cart_333333.png')
  .mid
    .center_column
      .row_bg
      .row_content
        .left
          .quantity_form
            h2 Quantity
            .spacer
            .option(cards=50,cost=10)
              .label 50 cards
              .img
                img(src='/images/icons/50.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 10
            .option(cards=100,cost=15)
              .label 100 cards
              .img
                img(src='/images/icons/100.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 15
            .option(cards=250,cost=25)
              .label 250 cards
              .img
                img(src='/images/icons/250.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 25
            .option(cards=500,cost=40)
              .label 500 cards
              .img
                img(src='/images/icons/500.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 40
            .option(cards=1000,cost=60)
              .label 1000 cards
              .img
                img(src='/images/icons/1000.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 60
            .option(cards=2000,cost=100)
              .label 2000 cards
              .img
                img(src='/images/icons/2000.png')
              .value 
                span.dollar
                  span.char1 s
                  span.char2 i
                span 100
        .right.preview_area
          h2 Proof
          .card.preview
          .toggle.front_back
            .bg
              .option.active Front
              .option Back
          .preview_count
        .clear
.row
  .help_overlay.active
    .bg
    .center_column
      .button_hide Hide Help
      .button_show Show Help
      .dialog.left.four
        .text Where to boss?
      .dialog.right.six
        .text Total Price
  .top
    .center_column
      h1.two
        .one Checkout
        .two The last step
      .images
        img.truck(src='/images/creditcard.png')
  .mid
    .center_column
      .row_bg
      .row_content.checkout
        .left
          h2 Shipping
          p Free via USPS priority mail
          .field.input
            label Address
            input.required.street(placeholder='123 Main St.',pattern='.{4,}')
            .symbol *
          .field.input
            label Zip Code
            input.required.zip_code(placeholder='85022',pattern='.{5,}')
            .symbol *
          .map
          .full_address_container
            .full_address
        .right
          h2 Credit Card
          if req.user && req.user.stripe && req.user.stripe.id
            .alt_field
              input(type='radio', name='use_credit_card', value='existing', checked="checked", id='use_existing')
              label(for='use_existing') Use existing card on file:
                p XXXX-XXXX-XXXX-
                  =req.user.stripe.active_card.last4
            .clear
            .alt_field
              input(type='radio', name='use_credit_card', value='new', id='use_new')
              label(for='use_new') Or use new card:
            .clear
          else
            p Visa, Amex, Mastercard or Discover
          .field.input
            label Card #
            input.required.credit_card(placeholder='4111111111111111',pattern='[0-9]{13,16}')
            .symbol *
          .field.input
            label CVC
            input.required.cvc(placeholder='123',pattern='[0-9]{3,}')
            .symbol *
          .field
            label Expires
            select.card_expiry_month(name='credit_card[expiry_month]')
              - months = ['January','February','March','April','May','June','July','August','September','October','November','December']
              - for (var i in months)
                option(value=(i*1)+1)=months[i]
            select.card_expiry_year(name='credit_card[expiry_year]')
              - for (var year = 2012; year<2032; year++)
                option(value=year)=year
          .field
            label &nbsp;
            a.coupon(href='#') Enter coupon code
          .clear
          .spaceer
          .field.total 
            label Total
            .total_value $
              span.total_price
        .clear
  .bottom
    .center_column
      .button.normal.purchase
        img(src='/images/lock_icon.png')
        | Purchase
