.section
  .cell_bg
  .cell_content
    table.order_status
      tr.order_row_top
        td.order_cell Card
        td.order_cell Order ID
        td.order_cell Date Submitted
        td.order_cell Paid
        td.order_cell Status
        td.order_cell Action
      - for (var i in orders)
        tr.order_row
          td.order_cell
            a(href='/render/1680/900/' + orders[i]._id + '/?cards.ly',target='_blank')
              img(src='/render/158/90/' + orders[i]._id + '/?cards.ly')
          td.order_cell=orders[i].order_number
          td.order_cell=orders[i].date_added
          td.order_cell=orders[i].quantity
          td.order_cell=orders[i].status
          td.order_cell
            - if(orders[i].s3_id)
               a(href='https://d3eo3eito2cquu.cloudfront.net/pdfs/' + orders[i].s3_id + '.pdf',target='_blank') Print
            - else
              | Processing...