.section.first
  .cell_bg
  .cell_content
    h3 Welcome NetworkingPhoenixing.com Networkers!
    p Attendee,
    p We hope you like our concept of qr code business cards that you can update at any time. We've designed this product for job seekers, entrepreneurs and people like you who want to stand out from the crowd.
    p If you have any questions at all about our products and services, please do not hesistate to click any of our links, such as the "Questions Let's Chat" in the lower right. We are available.
    p Or click any of the links at the bottom of the page for our email, social networks, or phone number.
include order_form