.section.first
  .cell_bg
  .cell_content
    h3 Welcome to Cardsly, Phoenix!
    p Hi,
    p You have just scanned a cardsly card and landed on our homepage. That was just a taste of what a cardsly card can do. We hope you like our concept of qr code business cards that you can update at any time. We've designed this product for job seekers, entrepreneurs and people like you who want to stand out from the crowd.
    p If you have any questions at all about our products and services, please do not hesistate to click any of our links such as the "Questions Let's Chat", our email, phone number, or any of our social networks. We are available and will respond to you.
include order_form