.pull_down
  img.bg(src='/images/pulldown.png')
  .contents
    a(href='/loghome')
      h2 Scan Me
      img(src='qr/3e434b/?http://192.168.1.102:4000/loghome')
      p Simulate scan by clicking
    h3 Sample Alerts
    .list    