.pull_down
  img.bg(src='/images/pulldown.png')
  .contents
    a(href='/loghome')
      h2 Scan Me
      img(src='qr/3e434b/?'+short_domain+'loghome')
      p Simulate scan by clicking
    h3 Sample Alerts
    .list