.hero
  .center_column
    if err
      =err
    else
      p Welcome back 
        =req.user.name||req.user.email
        | . Please set a password below:

      form.set_password_form
        .field
          label Password  
          input.set_new_password(type='password')
        .clear
        .field
          label &nbsp;
          input.button(type='submit',value='Set')
    .clear
    .mid_spacer
include settings