.hero
  .center_column
    if err
      =err
    else
      p Welcome back 
        =req.user.name||req.user.email
      p Please set password below
      .field
        label Password  
        input.password(type='password')