.section.first.form_narrow
  .cell_bg
  .cell_content
    h3 Settings
    - if(req.user && req.user.password_encrypted)
      h2
        span.subtitle Use this to change your password.
        form.set_new_password
          ul
            li
              label.current_password_text Current Password:
              input(type='password').current_password
          ul
            li
              label New:
              input(type='password').new_password
            li
              label Re-type New:
              input(type='password').new_password2
          .buttons          
            input(type='submit', value='Change').button.normal.set_new_password
          .clear
  .clear
.section
  .cell_bg
  .cell_content
    h3 Orders
    table.order_status
      tr.order_row_top
        td.order_cell Card
        td.order_cell Order ID
        td.order_cell Paid
        td.order_cell Date
        td.order_cell Status
      - for (var i in req.orders)
        tr.order_row
          td.order_cell
            a(href='/render/1680/900/' + req.orders[i]._id + '/?cards.ly',target='_blank')
              img(src='/render/158/90/' + req.orders[i]._id + '/?cards.ly')
          td.order_cell=req.orders[i].order_number
          td.order_cell='$'+(req.orders[i].amount/100)+''
          td.order_cell=req.orders[i].date_added
          td.order_cell=req.orders[i].Status