.section.first
  .cell_bg
  .cell_content
        h2  We're sorry, our site isn't optimized for Internet Explorer 6 and 7, download one of the following browsers...
         ul.browsers
          li.chrome
            a(href="http://www.google.com/chrome")
              img.chrome(src='/images/chrome.png')
          li.safari
            a(href="http://www.apple.com/safari/download/")
              img.safari(src='/images/safari.png')
          li.firefox
            a(href="http://www.mozilla.org/en-US/firefox/new/")
              img.firefox(src='/images/firefox.png')

        h2 Or..
        p.internet_explorer_error_page I understand that the site will not be fully functional and would like to 
          a(href="/#bypass_splash")
            | continue anyway
  