.section
  .cell_bg
  .cell_content
    p Got It 
      if user
        =user.name
        =user.email
    script
      window.onload = function(){
        $.cookie('success_login',true);
        window.close();
      }