.section
  .cell-bg
  .cell-content
    p Got It 
      if user
        =user.name
        =user.email
    script
      window.onload = function(){
        $.cookie('success-login',true);
        window.close();
      }