.section.first
  .cell_bg
  .cell_content
        h2 Thank You
        p Order Number # 12321452342
        p Your Order is being processed and is being shipped to:
        p Nick Smith
        p 123 W Thunderbird
        p Scottsdale, AZ 85309
        br
        p Please Print this page for your records
        a(href="/") Click Here 
        | to start modifying your QR codes.
  