/* Font-families */
/***********************************
 *
 * Color Definitions
 *
 ***********************************/
/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/
.header h1 {
  font-size: 16.8px;
  line-height: 1.5em;
  line-height: 1.2em;
  width: 120px;
}
.header .design-button {
margin-top
  width: 120px;
  font-size: 16.8px;
  line-height: 1.5em;
  height: 25px;
}
.section {
  padding: 15px;
}
.phone-left {
  margin: 150px 50px 50px;
  display: none;
  float: none;
}
.slides {
  margin: 50px auto;
  float: none;
  width: 310px;
  height: 335px;
  display: block;
}
.slides .arrow-left,
.slides .arrow-right {
  height: 35px;
  width: 21px;
  z-index: 250;
  top: 140px;
}
.slides .container {
  margin-top: -15px;
  height: 205px;
}
.slides .container .content {
  width: 9000px;
}
.slides .container .content li {
  height: 175px;
  margin: 30px;
  width: 250px;
}
.slides .container .content .first {
  margin-top: 40px;
}
.slides .container .content .first img {
  width: 252px;
  height: 141px;
}
.slides .container .content .first .video {
  top: 10px;
  left: 44px;
}
.slides .container .content .first .video iframe {
  width: 165px;
  height: 124px;
}
.slides .container .content .second {
  margin-top: 15px;
}
.slides .container .content .second img {
  width: 170px;
  height: 195px;
}
.slides .container .content .third {
  margin-top: 20px;
}
.slides .container .content .third img {
  width: 273px;
  height: 185px;
}
.slides .container .content .fourth {
  margin-top: 15px;
}
.slides .container .content .fourth img {
  width: 252px;
  height: 141px;
}
.slides .container .content .fourth .commercial iframe {
  width: 230px;
  height: 157px;
}
.card.main {
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  margin-left: -50px;
}
.move {
  display: none;
}
.text-fields {
  margin: 30px -15px;
}
.text-fields label {
  margin: 0;
}
.text-fields input {
  width: 250px;
}
.text-fields li {
  margin: 10px 15px;
}
.header .navigation li {
  padding: 3px 15px;
}
.header .navigation li a {
  font-size: 16.8px;
  line-height: 1.5em;
}
.design-container {
  position: relative;
}
.design-left {
  width: auto;
  float: none;
  margin: 30px 0;
}
.design-right {
  position: relative;
  width: auto;
  height: auto;
  float: none;
  padding: 0;
  margin: 30px 0;
}
input value=["Send Feedback"],
.feedback_form {
input
  margin: 15px auto;
  width: 100%;
}
.feedback_text {
  font-size: 14px;
  width: 350px;
  width: 100%;
}
.emailNotUser {
  font-size: 12px;
  width: 350px;
  width: 75%;
}
.feedback {
  top: 40%;
  right: -45px;
  cursor: pointer;
  position: fixed;
  z-index: 500;
}
.feedback a {
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 5px;
  background: $c_extra_dark;
  border: 3px solid $c_light;
  border-bottom: none;
  display: block;
  color: $c_light;
  text-decoration: none;
}
