/* Font_families */
/***********************************
 *
 * Color Definitions
 *
 ***********************************/
/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/
/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/
.section {
  padding: 15px;
}
.header h1 {
  display: none;
}
.header .logo img {
  margin-top: -25px;
  width: 250px;
}
.header .design_button {
  display: none;
}
.header .navigation li {
  padding: 3px 15px;
}
.home_designer .card_container {
  padding: 0;
  width: auto;
  float: left;
}
.home_options {
  width: 280px;
  margin: 0;
}
.footer .us_pics li {
  margin: 45px 10px 0 10px;
}
.promo_img {
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
.help_container .help_img {
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
.help_container .enter_card .help_img {
  margin: 90px 0 0 -70px;
}
.help_container .click_more_card .help_img {
  margin: 10px -40px 0 0;
  float: right;
}
.help_container .choose_card_design .help_img {
  margin: -200px 0 0 -40px;
}
.help_container .enter_price .help_img {
  margin: 370px 0 0 -90px;
  float: left;
}
.order_details .left,
.order_details .right,
.order_details .righter {
  float: left;
  margin: 0;
  width: 200px;
}
.order_details .right,
.order_details .righter {
  margin: 0;
}
.order_details .address_result,
.order_details label {
  font-size: 10.5px;
  line-height: 1.5em;
}
.order_total .my_card {
  height: 150px;
  width: 263px;
  clear: both;
  display: block;
}
.order_total .card_side {
  float: none;
  display: block;
}
.order_total .details {
  float: none;
  display: block;
}
.order_total .card,
.home_designer .card {
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  margin: -75px 0 -50px -120px;
}
.chat {
  display: none;
}
input value=["Send Feedback"],
.feedback_form {
input
  margin: 15px auto;
}
.feedback_text {
  font-size: 14px;
  width: 350px;
}
.emailNotUser {
  font-size: 12px;
  width: 350px;
}
.feedback {
  top: 40%;
  right: -45px;
  cursor: pointer;
  position: fixed;
  z-index: 500;
  opacity: 0.7;
  filter: alpha ( opacity = 70 );
}
.feedback a {
  height: 20px;
  line-height: 14px;
  font-size: 10px;
  text-align: center;
  margin-left: 5px;
  padding: 0 10px 20px 10px;
  background: #3a322f;
  border: 3px solid #eee;
  border-bottom: none;
  display: block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  zoom: 1;
  font-size: 21px;
  line-height: 1.5em;
  color: #eee;
  text-decoration: none;
}
