.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
header h1 {
  top: -80px;
  left: -45px;
  font-size: 16.8px;
  line-height: 1.5em;
  line-height: 1.2em;
  width: 120px;
}
header .design-button {
  top: -80px;
}
.section {
  padding: 15px;
}
.phone-left {
  margin: 150px 50px 50px;
  display: none;
  float: none;
}
.slides {
  margin: 50px auto;
  float: none;
  width: 310px;
  height: 335px;
  display: block;
}
.slides .arrow-left,
.slides .arrow-right {
  height: 35px;
  width: 21px;
  z-index: 250;
  top: 140px;
}
.slides .container {
  margin-top: -15px;
  height: 205px;
}
.slides .container .content {
  width: 9000px;
}
.slides .container .content li {
  height: 175px;
  margin: 30px;
  width: 250px;
}
.slides .container .content .first {
  margin-top: 40px;
}
.slides .container .content .first img {
  width: 252px;
  height: 141px;
}
.slides .container .content .second {
  margin-top: 15px;
}
.slides .container .content .second img {
  width: 170px;
  height: 195px;
}
.slides .container .content .third {
  margin-top: 40px;
}
.slides .container .content .third img {
  width: 170px;
  height: 150px;
}
.card.main {
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  margin-left: -50px;
}
.text-fields {
  margin: 30px -15px;
}
.text-fields label {
  margin: 0;
}
.text-fields input {
  width: 250px;
}
.text-fields li {
  margin: 10px 15px;
}
