/* Font-families */
/***********************************
 *
 * Color Definitions
 *
 ***********************************/
/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/
/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/
h1,
h2,
h3 {
  font-weight: normal;
  font-family: 'Maven Pro', sans-serif;
}
h1 {
  font-size: 50.4px;
  line-height: 1.5em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15.75px;
  line-height: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  background: #cfbea8 url("/images/little_pluses.png");
}
input {
  font-size: 21px;
  line-height: 1.5em;
}
#container {
  max-width: 850px;
  margin: 0 auto;
}
.cardsly {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  padding: 0 2px 0 5px;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #f05a23;
}
.cardsly .alt {
  color: #56a3da;
}
.tooltip {
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  padding: 2px 8px;
  background: #ff0;
  color: dark;
  font-size: 0.7em;
  margin-top: -29px;
  z-index: 350;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.modal {
  z-index: 200;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.close {
  font-size: 1em;
  padding: 4px 30px;
  background: #000;
  color: #eee;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;
  cursor: pointer;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}
.window {
  z-index: 201;
  background: #191514;
  background: rgba(25,21,20,0.90);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  color: #eee;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.create-form input {
  width: 100%;
}
.buttons .button {
  display: block;
  float: right;
  text-align: center;
}
.smallnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #3a322f;
}
.smallnav li {
  font-size: 12.6px;
  line-height: 1.5em;
  margin: 0px 10px;
  float: right;
}
.smallnav .gearbutton {
  position: relative;
  margin-top: 3px;
}
.smallnav .adminpage {
  color: #908575;
  position: relative;
  text-decoration: none;
  margin-top: 3px;
}
.header {
  position: relative;
  z-index: 50;
  margin: 80px 0 0 50px;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  height: 46px;
}
.header .logo img {
  margin: -45px 0 0 -50px;
  float: left;
  position: relative;
  z-index: 50;
}
.header .design-button {
  position: absolute;
  top: 75px;
  right: 0;
  display: block;
}
.header h1 {
  position: absolute;
  top: 75px;
  color: #f05a23;
  font-size: 31.5px;
  line-height: 1.5em;
}
.header h1 .alt {
  color: #56a3da;
}
.header .navigation {
  font-family: 'Maven Pro', sans-serif;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  float: right;
  margin: 0;
  -webkit-border-radius: 15.75px;
  -moz-border-radius: 15.75px;
  border-radius: 15.75px;
}
.header .navigation li {
  font-size: 21px;
  line-height: 1.5em;
  margin: 0;
  float: left;
  border-right: 1px solid #d8cfc5;
  padding: 7px 30px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.header .navigation li a {
  text-decoration: none;
  color: #d8cfc5;
}
.header-back {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  width: 50%;
  top: 80px;
  right: 0;
  height: 46px;
  position: absolute;
}
.card-list th,
.card-list td {
  text-align: left;
  padding: 10px;
}
.card-list td {
  border-right: 1px solid #524641;
}
.card-list input {
  margin-bottom: 5px;
}
.section {
  margin: 94.5px 0;
  padding: 31.5px;
  color: #362e2a;
  position: relative;
}
.section h3 {
  border-bottom: 15px solid #908575;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.section a,
.section a:visited {
  color: #eee;
}
.section.left {
  width: 380px;
  float: left;
}
.section.right {
  width: 300px;
  float: right;
}
.section.first {
  margin: 126px 0 94.5px 0;
}
.cell-content {
  z-index: 150;
  position: relative;
}
.cell-bg {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  color: #eee;
  -webkit-border-radius: 15.75px;
  -moz-border-radius: 15.75px;
  border-radius: 15.75px;
  -moz-box-shadow: 5px 5px 16px #000;
  -webkit-box-shadow: 5px 5px 16px #000;
  box-shadow: 5px 5px 16px #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.img-loader {
  display: none;
}
.clear {
  clear: both;
}
/*******************************************
 *
 * Buttons
 *
 *******************************************/
.button {
  cursor: pointer;
}
.button.normal {
  background-color: #56a3da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#56a3da), to(#2470a6));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #56a3da, #2470a6);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #56a3da, #2470a6);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #56a3da, #2470a6);
/* IE10 */
  background-image: -o-linear-gradient(top, #56a3da, #2470a6);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #56a3da, #2470a6);
  width: 180px;
  text-align: center;
  padding: 8px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  -moz-box-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 1px #000;
  font-size: 25.2px;
  line-height: 1.5em;
  color: #eee;
  border: 0;
}
.button.normal.hover {
  color: #fff;
  background-color: #80bae3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#80bae3), to(#2d8cd0));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #80bae3, #2d8cd0);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #80bae3, #2d8cd0);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #80bae3, #2d8cd0);
/* IE10 */
  background-image: -o-linear-gradient(top, #80bae3, #2d8cd0);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #80bae3, #2d8cd0);
}
.button.normal.click {
  padding: 10px 12px 6px 18px;
  background-color: #2d8cd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d8cd0), to(#80bae3));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2d8cd0, #80bae3);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2d8cd0, #80bae3);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #2d8cd0, #80bae3);
/* IE10 */
  background-image: -o-linear-gradient(top, #2d8cd0, #80bae3);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #2d8cd0, #80bae3);
}
.checkout.button {
  background-color: #23f067;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23f067), to(#0ba23d));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #23f067, #0ba23d);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #23f067, #0ba23d);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #23f067, #0ba23d);
/* IE10 */
  background-image: -o-linear-gradient(top, #23f067, #0ba23d);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #23f067, #0ba23d);
  font-size: 33.6px;
  line-height: 1.5em;
  width: 200px;
  text-shadow: 1px 1px 0 #000;
}
.checkout.button.hover {
  background-color: #53f388;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53f388), to(#0ed24f));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53f388, #0ed24f);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #53f388, #0ed24f);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #53f388, #0ed24f);
/* IE10 */
  background-image: -o-linear-gradient(top, #53f388, #0ed24f);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #53f388, #0ed24f);
}
.checkout.button.click {
  background-color: #0ed24f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ed24f), to(#53f388));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0ed24f, #53f388);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0ed24f, #53f388);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #0ed24f, #53f388);
/* IE10 */
  background-image: -o-linear-gradient(top, #0ed24f, #53f388);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #0ed24f, #53f388);
}
.design-button.button {
  background-color: #23f067;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23f067), to(#0ba23d));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #23f067, #0ba23d);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #23f067, #0ba23d);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #23f067, #0ba23d);
/* IE10 */
  background-image: -o-linear-gradient(top, #23f067, #0ba23d);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #23f067, #0ba23d);
  text-shadow: 1px 1px 0 #000;
}
.design-button.button.hover {
  background-color: #53f388;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53f388), to(#0ed24f));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53f388, #0ed24f);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #53f388, #0ed24f);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #53f388, #0ed24f);
/* IE10 */
  background-image: -o-linear-gradient(top, #53f388, #0ed24f);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #53f388, #0ed24f);
}
.design-button.button.click {
  background-color: #0ed24f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ed24f), to(#53f388));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0ed24f, #53f388);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0ed24f, #53f388);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #0ed24f, #53f388);
/* IE10 */
  background-image: -o-linear-gradient(top, #0ed24f, #53f388);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #0ed24f, #53f388);
}
.google,
.facebook,
.twitter,
.linkedin,
.new {
  display: block;
  float: left;
  margin: 0 10px 20px 0;
  text-decoration: none;
  height: 40px;
  width: 150px;
}
.google span,
.facebook span,
.twitter span,
.linkedin span,
.new span {
  display: none;
}
.google .subtitle,
.facebook .subtitle,
.twitter .subtitle,
.linkedin .subtitle,
.new .subtitle {
  display: block;
  position: absolute;
  margin-top: 40px;
}
.google {
  background: url("/images/buttons/google.png");
}
.google.hover {
  background: url("/images/buttons/google-hover.png");
}
.google.click {
  background: url("/images/buttons/google-click.png");
}
.facebook {
  background: url("/images/buttons/facebook.png");
}
.facebook.hover {
  background: url("/images/buttons/facebook-hover.png");
}
.facebook.click {
  background: url("/images/buttons/facebook-click.png");
}
.twitter {
  background: url("/images/buttons/twitter.png");
}
.twitter.hover {
  background: url("/images/buttons/twitter-hover.png");
}
.twitter.click {
  background: url("/images/buttons/twitter-click.png");
}
.linkedin {
  background: url("/images/buttons/linkedin.png");
}
.linkedin.hover {
  background: url("/images/buttons/linkedin-hover.png");
}
.linkedin.click {
  background: url("/images/buttons/linkedin-click.png");
}
.new {
  background: url("/images/buttons/new.png");
}
.new.hover {
  background: url("/images/buttons/new-hover.png");
}
.new.click {
  background: url("/images/buttons/new-click.png");
}
/*******************************************
 *
 * Home Page
 *
 *******************************************/
.order-details .left,
.order-details .right,
.order-details .righter {
  float: left;
  margin: 30px 0;
  width: 230px;
}
.order-details .right,
.order-details .righter {
  margin-left: 20px;
}
.order-total .title,
.order-total .price,
.order-total .subtitle {
  text-align: center;
}
.order-total .title {
  border-bottom: 1px solid #524641;
  padding-bottom: 5px;
}
.order-total .price {
  padding: 15px;
  font-size: 42px;
  line-height: 1.5em;
  font-weight: bold;
}
.hand-container-container {
  position: absolute;
  z-index: 0;
  top: 200px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 500px;
  padding-top: 250px;
}
.hand-container-container .hand-container {
  width: 1000px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.hand-container-container .hand-container .card {
  position: absolute;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = 'auto expand' );
  zoom: 1;
  background: url("/images/card-bg-small/scott-qr-blue.png");
  height: 114px;
  width: 200px;
  left: -1px;
  top: -50px;
  font-size: 10.5px;
  line-height: 1.5em;
}
.hand-container-container .hand-container .card .content {
  margin: 5px 10px;
}
.hand-container-container .hand-container .card .qr {
  height: 35px;
  width: 35px;
  position: absolute;
  margin: 15px 0 0 140px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = 'auto expand' );
  zoom: 1;
}
.hand-container-container .hand-container .hand {
  position: absolute;
  top: 0;
  left: -200px;
}
.designer .card {
  width: 420px;
  height: 240px;
  float: left;
  cursor: default;
  overflow: hidden;
}
.designer .card .line {
  border-bottom: 1px solid #333;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.designer .options {
  float: right;
  height: 240px;
  width: 330px;
}
.designer .options li {
  overflow: hidden;
}
.designer .options li label {
  display: block;
  margin-top: 10px;
}
.designer .options li input {
  font-size: 12.6px;
  line-height: 1.5em;
  margin-right: 10px;
  float: left;
}
.designer .options .field input {
  width: 40px;
}
.designer .options .field .label {
  float: left;
  margin: 6px 3px 0 0;
  font-size: 10.5px;
  line-height: 1.5em;
}
.card-title {
  text-align: center;
  font-size: 12.6px;
  line-height: 1.5em;
}
.card.main {
  width: 420px;
  height: 240px;
  display: block;
  margin: 0 auto;
  -moz-box-shadow: 4px 4px 4px #524641;
  -webkit-box-shadow: 4px 4px 4px #524641;
  box-shadow: 4px 4px 4px #524641;
  font-size: 16.8px;
  line-height: 1.5em;
}
.card.main .content {
  padding: 30px 20px;
  margin-top: -144px;
}
.card.main .qr {
  height: 80px;
  width: 80px;
  margin-left: 320px;
  margin-top: 64px;
}
.card {
  -moz-box-shadow: 3px 3px 3px #524641;
  -webkit-box-shadow: 3px 3px 3px #524641;
  box-shadow: 3px 3px 3px #524641;
  height: 90px;
  width: 158px;
  background-size: 100%;
  background: #eee;
  font-size: 6.3px;
  line-height: 1.5em;
  cursor: pointer;
}
.card .content {
  padding: 15px 10px;
  margin-top: -54px;
}
.card .qr {
  height: 30px;
  width: 30px;
  margin-left: 120px;
  margin-top: 24px;
}
.card input {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #333;
}
.anchor.main {
  background: url("/images/card-bg/anchor.png");
}
.bike.main {
  background: url("/images/card-bg/bike.png");
}
.black-red.main {
  background: url("/images/card-bg/black-red.png");
}
.blue-boxes.main {
  background: url("/images/card-bg/blue-boxes.png");
}
.blue-circle.main {
  background: url("/images/card-bg/blue-circle.png");
}
.blue-gradient.main {
  background: url("/images/card-bg/blue-gradient.png");
}
.blue-green-gradient.main {
  background: url("/images/card-bg/blue-green-gradient.png");
}
.butterfly.main {
  background: url("/images/card-bg/butterfly.png");
}
.Card-1-Scott-QR-Blue.main {
  background: url("/images/card-bg/Card-1-Scott-QR-Blue.png");
}
.circles-blue.main {
  background: url("/images/card-bg/circles-blue.png");
}
.dark-yellow.main {
  background: url("/images/card-bg/dark-yellow.png");
}
.giraffe.main {
  background: url("/images/card-bg/giraffe.png");
}
.Gnome.main {
  background: url("/images/card-bg/Gnome.png");
}
.gray-blue-gradient.main {
  background: url("/images/card-bg/gray-blue-gradient.png");
}
.green-grid.main {
  background: url("/images/card-bg/green-grid.png");
}
.hello.main {
  background: url("/images/card-bg/hello.png");
}
.insidewatch.main {
  background: url("/images/card-bg/insidewatch.png");
}
.kickback-blue.main {
  background: url("/images/card-bg/kickback-blue.png");
}
.kickback-tan.main {
  background: url("/images/card-bg/kickback-tan.png");
}
.orange-bubble.main {
  background: url("/images/card-bg/orange-bubble.png");
}
.orange-grass.main {
  background: url("/images/card-bg/orange-grass.png");
}
.prime-grid.main {
  background: url("/images/card-bg/prime-grid.png");
}
.purple-blue.main {
  background: url("/images/card-bg/purple-blue.png");
}
.purple-burst.main {
  background: url("/images/card-bg/purple-burst.png");
}
.retroish.main {
  background: url("/images/card-bg/retroish.png");
}
.rose.main {
  background: url("/images/card-bg/rose.png");
}
.scissors.main {
  background: url("/images/card-bg/scissors.png");
}
.stripes.main {
  background: url("/images/card-bg/stripes.png");
}
.tree.main {
  background: url("/images/card-bg/tree.png");
}
.tri-color.main {
  background: url("/images/card-bg/tri-color.png");
}
.vertical-gray.main {
  background: url("/images/card-bg/vertical-gray.png");
}
.white-bubble.main {
  background: url("/images/card-bg/white-bubble.png");
}
.white-greenborder.main {
  background: url("/images/card-bg/white-greenborder.png");
}
.white-purple.main {
  background: url("/images/card-bg/white-purple.png");
}
.anchor {
  background: url("/images/card-bg-small/anchor.png");
}
.bike {
  background: url("/images/card-bg-small/bike.png");
}
.black-red {
  color: #eee;
  background: url("/images/card-bg-small/black-red.png");
}
.blue-boxes {
  background: url("/images/card-bg-small/blue-boxes.png");
}
.blue-circle {
  background: url("/images/card-bg-small/blue-circle.png");
}
.blue-gradient {
  background: url("/images/card-bg-small/blue-gradient.png");
}
.blue-green-gradient {
  background: url("/images/card-bg-small/blue-green-gradient.png");
}
.butterfly {
  background: url("/images/card-bg-small/butterfly.png");
}
.Card-1-Scott-QR-Blue {
  background: url("/images/card-bg-small/Card-1-Scott-QR-Blue.png");
}
.circles-blue {
  background: url("/images/card-bg-small/circles-blue.png");
}
.dark-yellow {
  color: #eee;
  background: url("/images/card-bg-small/dark-yellow.png");
}
.giraffe {
  background: url("/images/card-bg-small/giraffe.png");
}
.Gnome {
  color: #eee;
  background: url("/images/card-bg-small/Gnome.png");
}
.gray-blue-gradient {
  background: url("/images/card-bg-small/gray-blue-gradient.png");
}
.green-grid {
  background: url("/images/card-bg-small/green-grid.png");
}
.hello {
  background: url("/images/card-bg-small/hello.png");
}
.insidewatch {
  background: url("/images/card-bg-small/insidewatch.png");
}
.kickback-blue {
  background: url("/images/card-bg-small/kickback-blue.png");
}
.kickback-tan {
  background: url("/images/card-bg-small/kickback-tan.png");
}
.orange-bubble {
  background: url("/images/card-bg-small/orange-bubble.png");
}
.orange-grass {
  background: url("/images/card-bg-small/orange-grass.png");
}
.prime-grid {
  background: url("/images/card-bg-small/prime-grid.png");
}
.purple-blue {
  background: url("/images/card-bg-small/purple-blue.png");
}
.purple-burst {
  background: url("/images/card-bg-small/purple-burst.png");
}
.retroish {
  background: url("/images/card-bg-small/retroish.png");
}
.rose {
  background: url("/images/card-bg-small/rose.png");
}
.scissors {
  background: url("/images/card-bg-small/scissors.png");
}
.stripes {
  background: url("/images/card-bg-small/stripes.png");
}
.tree {
  background: url("/images/card-bg-small/tree.png");
}
.tri-color {
  background: url("/images/card-bg-small/tri-color.png");
}
.vertical-gray {
  background: url("/images/card-bg-small/vertical-gray.png");
}
.white-bubble {
  background: url("/images/card-bg-small/white-bubble.png");
}
.white-greenborder {
  background: url("/images/card-bg-small/white-greenborder.png");
}
.white-purple {
  background: url("/images/card-bg-small/white-purple.png");
}
.subtitle {
  color: #362e2a;
  font-size: 12.6px;
  line-height: 1.5em;
}
.card.main .nth-6,
.card.main .nth-7,
.card.main .nth-8,
.card.main .nth-9,
.card.main .nth-10,
.card.main .nth-11 {
  display: none;
}
.login-container {
  max-width: 480px;
  float: right;
}
.login-container p {
  text-align: center;
}
.login-container .local {
  text-align: center;
}
.login-container .new {
  margin: 15px auto;
  float: none;
}
.login-container .new span {
  width: 150px;
  text-align: center;
}
.login-form span {
  width: 250px;
  display: block;
  margin: 0 auto;
}
.login-form input,
.login-form .button {
  margin: 0 auto 15px auto;
  float: none;
  display: block;
  width: 250px;
}
.login-form .button {
  margin: 20px auto;
  width: 220px;
}
.category {
  position: relative;
}
.category .gallery {
  display: none;
}
.category h4 {
  cursor: pointer;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  color: #d8cfc5;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #524641;
}
.category.active .gallery {
  display: block;
}
.gallery {
  overflow: hidden;
}
.gallery .card {
  float: left;
  margin: 15px;
}
.gallery-select {
  height: 110px;
  width: 178px;
  position: absolute;
  background-color: #f3efea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3efea), to(#cfbea8));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f3efea, #cfbea8);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f3efea, #cfbea8);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #f3efea, #cfbea8);
/* IE10 */
  background-image: -o-linear-gradient(top, #f3efea, #cfbea8);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #f3efea, #cfbea8);
  z-index: 30;
}
label .subtitle {
  display: block;
  margin: 0 0 0 25px;
  font-size: 10.5px;
  line-height: 1.5em;
}
.text-fields {
  margin: 30px 0;
}
.text-fields .suggestions {
  color: #362e2a;
  font-size: 10.5px;
  line-height: 1.5em;
  line-height: 1em;
}
.text-fields textarea {
  width: 100%;
  height: 75px;
  margin: 0;
}
.text-fields label {
  color: #eee;
}
.text-fields input {
  display: block;
  font-size: 16.8px;
  line-height: 1.5em;
}
.text-fields li {
  float: left;
}
.shipping {
  font-size: 21px;
  line-height: 1.5em;
}
.shipping li {
  margin: 10px;
  display: block;
  float: none;
}
.shipping label {
  color: #524641;
  font-size: 13.65px;
  line-height: 1.5em;
}
.radio-text-fields {
  font-size: 21px;
  line-height: 1.5em;
  margin: -30px 0 15px 0;
}
.radio-text-fields li {
  margin: 10px;
}
.radio-text-fields label {
  color: #eee;
  font-size: 13.65px;
  line-height: 1.5em;
}
.radio-text-fields input {
  margin: 10px 10px 0 0;
  float: left;
  width: auto;
}
.section.home-first {
  padding: 0;
}
.phone-left {
  width: 200px;
  margin: 30px 0 30px 30px;
  float: left;
}
.slides {
  width: 620px;
  height: 465px;
  float: left;
  position: relative;
}
.slides .arrow-left,
.slides .arrow-right {
  cursor: pointer;
  height: 35px;
  width: 21px;
  position: absolute;
  z-index: 250;
  top: 202px;
}
.slides .arrow-left {
  background: url("/images/arrow-left.png");
  left: 5px;
}
.slides .arrow-right {
  background: url("/images/arrow-right.png");
  right: 5px;
}
.slides .arrow-left.hover {
  background: url("/images/arrow-left-alt.png");
}
.slides .arrow-right.hover {
  background: url("/images/arrow-right-alt.png");
}
.slides h2.prompt,
.slides h2.caption {
  font-size: 16.8px;
  line-height: 1.5em;
  text-align: center;
}
.slides h2.prompt {
  margin: 0 0 10px 0;
}
.slides h2.caption {
  margin: 10px 0 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.slides .container {
  margin-top: -30px;
  height: 435px;
  overflow: hidden;
}
.slides .container .content {
  width: 9000px;
}
.slides .container .content li {
  float: left;
  height: 345px;
  margin: 30px;
  width: 560px;
}
.slides .container .content li img {
  margin: 0 auto;
  display: block;
}
.slides .container .content .first {
  margin-top: 75px;
  position: relative;
}
.slides .container .content .first .video {
  position: absolute;
  top: 39px;
  left: 98px;
}
.slides .container .content .second {
  margin-top: 30px;
}
.slides .container .content .third {
  margin-top: 40px;
}
.slides .container .content .fourth .commercial {
  margin-top: 30px;
}
.footer {
  font-size: 12.6px;
  line-height: 1.5em;
  color: #524641;
  margin-top: 20px;
  text-align: center;
}
.footer a,
.footer a:visited {
  color: #524641;
  text-decoration: none;
}
.footer .really-above {
  color: semi-dark;
  padding-bottom: 10px;
}
.footer .really-above a {
  color: semi-dark;
  text-decoration: none;
}
.footer .above {
  border-top: 1px solid #908575;
  padding: 20px 0 0 0;
}
.footer .other {
  padding: 0 0 15px 0;
}
.footer .container {
  padding: 0;
}
.footer ul {
  text-align: center;
}
.footer ul li {
  display: inline-block;
  float: inherit;
  margin: 15px 10px;
}
.joe {
  float: left;
  margin: 121px 30px;
}
.sam {
  float: left;
  margin: 30px;
}
