/* Font_families */
/***********************************
 *
 * Color Definitions
 *
 ***********************************/
/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/
/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/
h1,
h2,
h3 {
  font-weight: normal;
  font-family: 'Maven Pro', sans-serif;
}
h1 {
  font-size: 50.4px;
  line-height: 1.5em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15.75px;
  line-height: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  background: #cfbea8 url("/images/little_pluses.png");
}
input {
  font-size: 21px;
  line-height: 1.5em;
}
#container {
  max-width: 850px;
  margin: 0 auto;
}
.cardsly {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  padding: 0 2px 0 5px;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #f05a23;
}
.cardsly .alt {
  color: #56a3da;
}
.tooltip {
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  padding: 2px 8px;
  background: #ff0;
  color: dark;
  font-size: 0.7em;
  margin-top: -29px;
  z-index: 350;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.modal {
  z-index: 200;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.close {
  font-size: 1em;
  padding: 4px 30px;
  background: #000;
  color: #eee;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;
  cursor: pointer;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}
.window {
  z-index: 201;
  background: #191514;
  background: rgba(25,21,20,0.90);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  color: #eee;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.window .button {
  margin-left: 15px;
  width: auto;
  margin-top: 30px;
}
.create_form input {
  width: 100%;
}
.buttons .button {
  display: block;
  float: right;
  text-align: center;
}
.buttons .large_button {
  display: block;
  float: right;
  text-align: center;
  width: 225px;
}
.small_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #3a322f;
}
.small_nav li {
  font-size: 12.6px;
  line-height: 1.5em;
  padding: 0px 10px;
  line-height: 27px;
  float: right;
}
.small_nav li a {
  color: #908575;
  position: relative;
  text-decoration: none;
}
.small_nav .account_link {
  cursor: pointer;
  position: relative;
  line-height: 27px;
  padding-right: 0;
}
.small_nav .account_link .gear {
  height: 28px;
  float: right;
  overflow: hidden;
}
.small_nav .account_link .gear img {
  float: right;
  margin: 4px 10px 0 10px;
}
.small_nav .hover,
.small_nav .click {
  background: #564a46;
}
.small_nav .account_menu {
  display: none;
  position: absolute;
  z-index: 500;
  padding: 0;
  top: 27px;
  right: 0;
  width: 100%;
  padding-right: 0;
  border-left: 1px solid #3a322f;
  border-bottom: 1px solid #3a322f;
  background: #564a46;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
.small_nav .account_menu li {
  border-top: 1px solid #3a322f;
  text-align: right;
  padding-right: 38px;
  float: none;
}
.small_nav .account_menu .hover,
.small_nav .account_menu .click {
  background: #3a322f;
}
.header {
  position: relative;
  z-index: 50;
  margin: 80px 0 0 50px;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  height: 46px;
}
.header .logo img {
  margin: -45px 0 50px -50px;
  float: left;
  position: relative;
  z-index: 50;
}
.header .design_button {
  position: absolute;
  top: 75px;
  right: 0;
  display: block;
}
.header h1 {
  position: absolute;
  top: 65px;
  color: #f05a23;
  font-size: 31.5px;
  line-height: 1.5em;
}
.header h1 .alt {
  color: #56a3da;
}
.header .navigation {
  font-family: 'Maven Pro', sans-serif;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  float: right;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header .navigation li {
  font-size: 21px;
  line-height: 1.5em;
  margin: 0;
  float: left;
  border-right: 1px solid #d8cfc5;
  padding: 7px 29px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header .navigation li a {
  text-decoration: none;
  color: #d8cfc5;
}
.header_back {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  width: 50%;
  top: 80px;
  right: 0;
  height: 46px;
  position: absolute;
}
.card_list th,
.card_list td {
  text-align: left;
  padding: 10px;
}
.card_list td {
  border-right: 1px solid #524641;
}
.card_list input {
  margin-bottom: 5px;
}
.section {
  margin: 94.5px 0;
  padding: 31.5px;
  color: #362e2a;
  position: relative;
}
.section h3 {
  border-bottom: 15px solid #908575;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.section a,
.section a:visited {
  color: #eee;
}
.section.left {
  width: 380px;
  float: left;
}
.section.right {
  width: 300px;
  float: right;
}
.section.first {
  margin-top: 126px;
}
.cell_content {
  z-index: 150;
  position: relative;
}
.cell_bg {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  color: #eee;
  -webkit-border-radius: 15.75px;
  -moz-border-radius: 15.75px;
  border-radius: 15.75px;
  -moz-box-shadow: 5px 5px 16px #000;
  -webkit-box-shadow: 5px 5px 16px #000;
  box-shadow: 5px 5px 16px #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.img_loader {
  display: none;
}
.clear {
  clear: both;
}
/*******************************************
 *
 * Buttons
 *
 *******************************************/
.button {
  cursor: pointer;
}
.normal,
.gray {
  width: 180px;
  text-align: center;
  padding: 8px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  -moz-box-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 1px #000;
  font-size: 25.2px;
  line-height: 1.5em;
  color: #eee;
  border: 0;
}
.normal.click,
.gray.click {
  padding: 10px 12px 6px 18px;
}
.button.gray {
  background-color: #aaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#777));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #aaa, #777);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #aaa, #777);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #aaa, #777);
/* IE10 */
  background-image: -o-linear-gradient(top, #aaa, #777);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #aaa, #777);
}
.button.normal.gray {
  color: #c3c3c3;
  background-color: #c3c3c3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#909090));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #c3c3c3, #909090);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #c3c3c3, #909090);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #c3c3c3, #909090);
/* IE10 */
  background-image: -o-linear-gradient(top, #c3c3c3, #909090);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #c3c3c3, #909090);
}
.button.gray.click {
  background-color: #909090;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#c3c3c3));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #909090, #c3c3c3);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #909090, #c3c3c3);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #909090, #c3c3c3);
/* IE10 */
  background-image: -o-linear-gradient(top, #909090, #c3c3c3);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #909090, #c3c3c3);
}
.button.normal {
  background-color: #56a3da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#56a3da), to(#2470a6));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #56a3da, #2470a6);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #56a3da, #2470a6);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #56a3da, #2470a6);
/* IE10 */
  background-image: -o-linear-gradient(top, #56a3da, #2470a6);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #56a3da, #2470a6);
}
.button.normal.hover {
  color: #fff;
  background-color: #80bae3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#80bae3), to(#2d8cd0));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #80bae3, #2d8cd0);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #80bae3, #2d8cd0);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #80bae3, #2d8cd0);
/* IE10 */
  background-image: -o-linear-gradient(top, #80bae3, #2d8cd0);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #80bae3, #2d8cd0);
}
.button.normal.click {
  background-color: #2d8cd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d8cd0), to(#80bae3));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2d8cd0, #80bae3);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2d8cd0, #80bae3);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #2d8cd0, #80bae3);
/* IE10 */
  background-image: -o-linear-gradient(top, #2d8cd0, #80bae3);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #2d8cd0, #80bae3);
}
.checkout.button {
  background-color: #23f067;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23f067), to(#0ba23d));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #23f067, #0ba23d);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #23f067, #0ba23d);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #23f067, #0ba23d);
/* IE10 */
  background-image: -o-linear-gradient(top, #23f067, #0ba23d);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #23f067, #0ba23d);
  font-size: 33.6px;
  line-height: 1.5em;
  width: 200px;
  text-shadow: 1px 1px 0 #000;
}
.checkout.button.hover {
  background-color: #53f388;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53f388), to(#0ed24f));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53f388, #0ed24f);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #53f388, #0ed24f);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #53f388, #0ed24f);
/* IE10 */
  background-image: -o-linear-gradient(top, #53f388, #0ed24f);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #53f388, #0ed24f);
}
.checkout.button.click {
  background-color: #0ed24f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ed24f), to(#53f388));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0ed24f, #53f388);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0ed24f, #53f388);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #0ed24f, #53f388);
/* IE10 */
  background-image: -o-linear-gradient(top, #0ed24f, #53f388);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #0ed24f, #53f388);
}
.design_button.button {
  background-color: #23f067;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23f067), to(#0ba23d));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #23f067, #0ba23d);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #23f067, #0ba23d);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #23f067, #0ba23d);
/* IE10 */
  background-image: -o-linear-gradient(top, #23f067, #0ba23d);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #23f067, #0ba23d);
  text-shadow: 1px 1px 0 #000;
}
.design_button.button.hover {
  background-color: #53f388;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53f388), to(#0ed24f));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53f388, #0ed24f);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #53f388, #0ed24f);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #53f388, #0ed24f);
/* IE10 */
  background-image: -o-linear-gradient(top, #53f388, #0ed24f);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #53f388, #0ed24f);
}
.design_button.button.click {
  background-color: #0ed24f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ed24f), to(#53f388));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0ed24f, #53f388);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0ed24f, #53f388);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #0ed24f, #53f388);
/* IE10 */
  background-image: -o-linear-gradient(top, #0ed24f, #53f388);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #0ed24f, #53f388);
}
.google,
.facebook,
.twitter,
.linkedin,
.new {
  display: block;
  float: left;
  margin: 0 10px 20px 0;
  text-decoration: none;
  height: 40px;
  width: 150px;
}
.google span,
.facebook span,
.twitter span,
.linkedin span,
.new span {
  display: none;
}
.google .subtitle,
.facebook .subtitle,
.twitter .subtitle,
.linkedin .subtitle,
.new .subtitle {
  display: block;
  position: absolute;
  margin-top: 40px;
}
.google {
  background: url("/images/buttons/google.png");
}
.google.hover {
  background: url("/images/buttons/google-hover.png");
}
.google.click {
  background: url("/images/buttons/google-click.png");
}
.facebook {
  background: url("/images/buttons/facebook.png");
}
.facebook.hover {
  background: url("/images/buttons/facebook-hover.png");
}
.facebook.click {
  background: url("/images/buttons/facebook-click.png");
}
.twitter {
  background: url("/images/buttons/twitter.png");
}
.twitter.hover {
  background: url("/images/buttons/twitter-hover.png");
}
.twitter.click {
  background: url("/images/buttons/twitter-click.png");
}
.linkedin {
  background: url("/images/buttons/linkedin.png");
}
.linkedin.hover {
  background: url("/images/buttons/linkedin-hover.png");
}
.linkedin.click {
  background: url("/images/buttons/linkedin-click.png");
}
.new {
  background: url("/images/buttons/new.png");
}
.new.hover {
  background: url("/images/buttons/new-hover.png");
}
.new.click {
  background: url("/images/buttons/new-click.png");
}
/*******************************************
 *
 * Home Page
 *
 *******************************************/
.order_details .left,
.order_details .right,
.order_details .righter {
  float: left;
  margin: 30px 0;
  width: 230px;
}
.order_details .right,
.order_details .righter {
  margin-left: 20px;
}
.order_total .title,
.order_total .price,
.order_total .subtitle {
  text-align: center;
}
.order_total .title {
  border-bottom: 1px solid #524641;
  padding-bottom: 5px;
}
.order_total .price {
  padding: 15px;
  font-size: 42px;
  line-height: 1.5em;
  font-weight: bold;
}
.hand_container_container {
  position: absolute;
  z-index: 0;
  top: 200px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 500px;
  padding-top: 250px;
}
.hand_container_container .hand_container {
  width: 1000px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.hand_container_container .hand_container .card {
  position: absolute;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = 'auto expand' );
  zoom: 1;
  background: url("/images/card-bg-small/scott-qr-blue.png");
  height: 114px;
  width: 200px;
  left: -1px;
  top: -50px;
  font-size: 10.5px;
  line-height: 1.5em;
}
.hand_container_container .hand_container .card .content {
  margin: 5px 10px;
}
.hand_container_container .hand_container .card .qr {
  height: 35px;
  width: 35px;
  position: absolute;
  margin: 15px 0 0 140px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = 'auto expand' );
  zoom: 1;
}
.hand_container_container .hand_container .hand {
  position: absolute;
  top: 0;
  left: -200px;
}
.colorpicker {
  z-index: 500;
}
.colorpicker_submit {
  display: none;
}
.designer {
  margin-bottom: 60px;
}
.designer .card {
  width: 505px;
  height: 280px;
  padding: 10px;
  display: block;
  float: left;
  cursor: default;
  overflow: hidden;
  position: relative;
}
.designer .card .qr {
  border: 1px solid transparent;
  display: block;
  position: absolute;
  margin: 0;
}
.designer .card .qr canvas {
  position: absolute;
  z-index: 351;
}
.designer .card .qr .background {
  position: absolute;
  z-index: 350;
}
.designer .card .line {
  border: 1px solid transparent;
  border-bottom: 1px solid #908575;
  height: 20px;
  width: 350px;
  display: block;
  position: absolute;
  white-space: nowrap;
}
.designer .card .active {
  border: 1px solid #56a3da;
}
.designer .options {
  float: right;
  height: 300px;
  width: 240px;
  position: relative;
}
.designer .options h4 {
  margin: 0 -10px 5px -10px;
  cursor: pointer;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  color: #d8cfc5;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #524641;
}
.designer .options li {
  margin-bottom: 10px;
  overflow: hidden;
}
.designer .options li label {
  display: block;
}
.designer .options input,
.designer .options select {
  font-size: 12.6px;
  line-height: 1.5em;
  margin-right: 10px;
  float: left;
  width: 70px;
}
.designer .options .color,
.designer .options .left,
.designer .options .center,
.designer .options .right {
  width: 25px;
  height: 25px;
  margin: 5px 10px 5px 0;
  float: left;
  cursor: pointer;
}
.designer .options .color {
  border: 2px solid #524641;
}
.designer .options ul {
  display: none;
}
.designer .options .active ul {
  display: block;
}
.designer .options .category_field input,
.designer .options .image input {
  width: 180px;
}
.designer .options .alignment {
  float: left;
}
.designer .options .alignment .left,
.designer .options .alignment .center,
.designer .options .alignment .right {
  background: #908575 url("/images/align_sprite.png") no-repeat;
  border: 2px solid #524641;
}
.designer .options .alignment .center {
  background-position: -25px 0;
}
.designer .options .alignment .right {
  background-position: -50px 0;
}
.designer .options .font_family {
  float: none;
  display: block;
  width: 180px;
  display: block;
}
.designer .options .buttons .button {
  height: 20px;
  width: 80px;
  margin: 10px 10px 10px 0;
  font-size: 12.6px;
  line-height: 1.5em;
}
.categories {
  overflow: hidden;
}
.categories .category {
  overflow: hidden;
}
.categories .card {
  overflow: hidden;
  position: relative;
  float: left;
  margin: 15px 20px 15px 10px;
  height: 90px;
  width: 158px;
}
.subtitle {
  color: #362e2a;
  font-size: 12.6px;
  line-height: 1.5em;
}
.form_narrow {
  width: 480px;
  margin: 30px auto;
  display: block;
}
.form_narrow p {
  text-align: center;
}
.form_narrow .local {
  text-align: center;
}
.form_narrow .new {
  margin: 15px auto;
  float: none;
}
.form_narrow .new span {
  width: 150px;
  text-align: center;
}
.form_narrow label {
  width: 250px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}
.form_narrow input {
  margin: 0 auto 15px auto;
  float: none;
  display: block;
  width: 250px;
}
.form_narrow .buttons .button {
  margin: 20px auto;
  width: 220px;
}
.form_narrow .new {
  margin: 0 auto;
}
.category {
  position: relative;
}
.category .gallery {
  display: none;
}
.category h4 {
  cursor: pointer;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  color: #d8cfc5;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #524641;
}
.category.active .gallery {
  display: block;
}
.gallery {
  overflow: hidden;
}
.gallery .card {
  float: left;
  margin: 15px;
}
.gallery_select {
  height: 110px;
  width: 178px;
  position: absolute;
  background-color: #f3efea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3efea), to(#cfbea8));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f3efea, #cfbea8);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f3efea, #cfbea8);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #f3efea, #cfbea8);
/* IE10 */
  background-image: -o-linear-gradient(top, #f3efea, #cfbea8);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #f3efea, #cfbea8);
  z-index: 30;
}
label .subtitle {
  display: block;
  margin: 0 0 0 25px;
  font-size: 10.5px;
  line-height: 1.5em;
}
.text_fields {
  margin: 30px 0;
}
.text_fields .suggestions {
  color: #362e2a;
  font-size: 10.5px;
  line-height: 1.5em;
  line-height: 1em;
}
.text_fields textarea {
  width: 100%;
  height: 75px;
  margin: 0;
}
.text_fields label {
  color: #eee;
}
.text_fields input {
  display: block;
  font-size: 16.8px;
  line-height: 1.5em;
}
.text_fields li {
  float: left;
}
.shipping {
  font-size: 21px;
  line-height: 1.5em;
}
.shipping li {
  margin: 10px;
  display: block;
  float: none;
}
.shipping label {
  color: #524641;
  font-size: 13.65px;
  line-height: 1.5em;
}
.radio_text_fields {
  font-size: 21px;
  line-height: 1.5em;
  margin: -30px 0 15px 0;
}
.radio_text_fields li {
  margin: 10px;
}
.radio_text_fields label {
  color: #eee;
  font-size: 13.65px;
  line-height: 1.5em;
}
.radio_text_fields input {
  margin: 10px 10px 0 0;
  float: left;
  width: auto;
}
.section.home_first {
  padding: 0;
}
input value=["Send Feedback"],
.feedback_form {
input
  margin: 15px auto;
}
.feedback_text {
  font-size: 14px;
  width: 350px;
}
.emailNotUser {
  font-size: 12px;
  width: 350px;
}
.feedback {
  top: 40%;
  right: -45px;
  cursor: pointer;
  position: fixed;
  z-index: 500;
}
.feedback a {
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 5px;
  background: #3a322f;
  border: 3px solid #eee;
  border-bottom: none;
  display: block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = 'auto expand' );
  zoom: 1;
  font-size: 21px;
  line-height: 1.5em;
  color: #eee;
  text-decoration: none;
}
.account_information,
.shipping_table {
  font-size: 20px;
  text-decoration: none;
}
.chart_scanned .unfilled_scanned {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  left: 0px;
  top: 0px;
  height: 200px;
  width: 250px;
  z-index: 300;
  background: #eee;
  display: block;
}
.chart_scanned .unfilled_scanned .filled_scanned {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
  top: 0px;
  height: 200px;
  width: 200px;
  z-index: 400;
  background: #3ea9f5;
  display: block;
}
.chart_default .unfilled_default {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  left: 0px;
  top: 0px;
  height: 200px;
  width: 250px;
  z-index: 300;
  background: #eee;
  display: block;
}
.chart_default .unfilled_default .filled_default {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
  top: 0px;
  height: 200px;
  width: 200px;
  z-index: 400;
  background: #e3007b;
  display: block;
}
.chart_scans_30days .unfilled_scans_30days {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  left: 0px;
  top: 0px;
  height: 200px;
  width: 250px;
  z-index: 300;
  background: #eee;
  display: block;
}
.chart_scans_30days .unfilled_scans_30days .filled_scans_30days {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
  top: 0px;
  height: 200px;
  width: 200px;
  z-index: 400;
  background: #e3007b;
  display: block;
}
.footer {
  font-size: 12.6px;
  line-height: 1.5em;
  color: #524641;
  margin-top: 20px;
  text-align: center;
}
.footer a,
.footer a:visited {
  color: #524641;
  text-decoration: none;
}
.footer .really_above {
  color: semi-dark;
  padding-bottom: 10px;
}
.footer .really_above a {
  color: semi-dark;
  text-decoration: none;
}
.footer .above {
  border-top: 1px solid #908575;
  padding: 20px 0 0 0;
}
.footer .other {
  padding: 0 0 15px 0;
}
.footer .container {
  padding: 0;
}
.footer ul {
  text-align: center;
}
.footer ul li {
  display: inline-block;
  float: inherit;
  margin: 15px 10px;
}
.joe {
  float: left;
  margin: 121px 30px;
}
.sam {
  float: left;
  margin: 30px;
}
.phone_frame {
  height: 542px;
  width: 276px;
  margin: 0 500px;
  display: block;
  position: relative;
}
.phone_frame {
  margin: 30px 30px 30px 450px;
  z-index: 300;
}
.home_slides {
  overflow: hidden;
}
.slides {
  position: absolute;
  left: 473px;
  top: 126px;
}
.slides li {
  position: absolute;
}
.biz_cards {
  top: -205px;
  left: 30px;
  position: absolute;
}
.biz_cards li {
  margin: 30px 0;
  position: relative;
}
.biz_cards li .qr {
  position: absolute;
  top: 40px;
  left: 200px;
}
.phone_scanner {
  position: absolute;
  left: 300px;
  bottom: 330px;
  z-index: 0;
}
.internet_explorer_error_page {
  font-size: 16px;
}
.browsers {
  overflow: hidden;
  margin: 0 auto;
}
.browsers li {
  padding: 30px 15px 15px 38px;
  float: left;
}
.multi_phone {
  margin: 0px 0px 0px 93px;
}
.split_guy {
  overflow: hidden;
  margin: 0px 0px 0px 142px;
}
.dbcommercial {
  margin: 0px 0px 0px 113px;
}
