html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover,
a:active {
  outline: none;
}
ul,
ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 1785px;
  line-height: 1.5em;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub,
sup {
  font-size: 1575px;
  line-height: 1.5em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px #f00;
  -webkit-box-shadow: 0px 0px 5px #f00;
  -moz-box-shadow: 0px 0px 5px 0px;
  -webkit-box-shadow: 0px 0px 5px 0px;
  box-shadow: 0px 0px 5px 0px;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
::-moz-selection {
  background: #fff;
  color: #fff;
  text-shadow: none none none #333;
}
::selection {
  background: #fff;
  color: #fff;
  text-shadow: none none none #333;
}
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
body,
select,
input,
textarea {
  color: #333;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-family: "Maven Pro", sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  text-shadow: 0 0 1px 1px;
}
.navigation {
  font-family: "Maven Pro", sans-serif;
}
h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 50.4px;
  line-height: 1.5em;
}
p,
ol,
ul,
table {
  margin-bottom: 31.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15.75px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15.75px;
  line-height: 1.5em;
  font-family: "Ubuntu", sans-serif;
  background: #cfbea8 url("/images/little_pluses.png");
  overflow: hidden;
}
input {
  font-size: 21px;
  line-height: 1.5em;
}
#container {
  max-width: 850px;
  margin: 0 auto;
}
.cardsly {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  padding: 0 2px 0 5px;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #f05a23;
}
.cardsly .alt {
  color: #56a3da;
}
.modal {
  z-index: 200;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.close {
  font-size: 21px;
  line-height: 1.5em;
  padding: 4px 30px;
  background: semi-light;
  background: #eee;
  background: rgba(238,238,238,0.75);
  color: semi-dark;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;
  cursor: pointer;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}
.window {
  z-index: 201;
  background: #eee;
  background: rgba(238,238,238,0.90);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  color: #000;
  padding: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
/**************************************
   *
   * Buttons at the bottom of most windows
   *
   **************************************/
}
.window .buttons {
  overflow: hidden;
  width: 100%;
}
.window .buttons .submit,
.window .buttons .cancel {
  margin: 30px 0 0 0;
  font-size: 25.2px;
  line-height: 1.5em;
  border: 1px solid #524641;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 30px;
}
.window .buttons .cancel {
  background: semi-light;
  color: semi-dark;
}
.window .buttons .submit {
  float: right;
  margin-left: 15px;
}
.window .buttons .cancel {
  margin-right: 15px;
  float: left;
}
header {
  position: relative;
  z-index: 50;
  margin: 80px 0 0 50px;
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  height: 46px;
}
header .logo img {
  margin: -45px 0 0 -50px;
  float: left;
  position: relative;
  z-index: 50;
}
header .design-button {
  position: absolute;
  top: 75px;
  right: 0;
  display: block;
}
header h1 {
  position: absolute;
  top: 75px;
  color: #f05a23;
  font-size: 31.5px;
  line-height: 1.5em;
}
header h1 .alt {
  color: #56a3da;
}
header .navigation {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  float: right;
  margin: 0;
  -webkit-border-radius: 15.75px;
  -moz-border-radius: 15.75px;
  border-radius: 15.75px;
}
header .navigation li {
  font-size: 21px;
  line-height: 1.5em;
  margin: 0;
  float: left;
  border-right: 1px solid #d8cfc5;
  padding: 7px 30px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
header .navigation li a {
  text-decoration: none;
  color: #d8cfc5;
}
.header-back {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  width: 50%;
  top: 80px;
  right: 0;
  height: 46px;
  position: absolute;
}
.card-list th,
.card-list td {
  text-align: left;
  padding: 10px;
}
.card-list td {
  border-right: 1px solid #524641;
}
.card-list input {
  margin-bottom: 5px;
}
.section {
  margin: 94.5px 0;
  padding: 31.5px;
  color: #000;
  position: relative;
}
.section a,
.section a:visited {
  color: #eee;
}
.section.left {
  width: 380px;
  float: left;
}
.section.right {
  width: 300px;
  float: right;
}
.section.first {
  margin: 126px 0 94.5px 0;
}
.cell-content {
  z-index: 150;
  position: relative;
}
.cell-bg {
  background-color: #908575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#908575), to(#524641));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #908575, #524641);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #908575, #524641);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #908575, #524641);
/* IE10 */
  background-image: -o-linear-gradient(top, #908575, #524641);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #908575, #524641);
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  color: #eee;
  -webkit-border-radius: 15.75px;
  -moz-border-radius: 15.75px;
  border-radius: 15.75px;
  -moz-box-shadow: 5px 5px 16px #000;
  -webkit-box-shadow: 5px 5px 16px #000;
  box-shadow: 5px 5px 16px #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.img-loader {
  display: none;
}
.clear {
  clear: both;
}
.button.normal {
  background-color: #56a3da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#56a3da), to(#2470a6));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #56a3da, #2470a6);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #56a3da, #2470a6);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #56a3da, #2470a6);
/* IE10 */
  background-image: -o-linear-gradient(top, #56a3da, #2470a6);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #56a3da, #2470a6);
  width: 140px;
  text-align: center;
  padding: 8px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  -moz-box-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 1px #000;
  font-size: 25.2px;
  line-height: 1.5em;
  color: #eee;
}
.button.normal.hover {
  color: #fff;
  background-color: #80bae3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#80bae3), to(#2d8cd0));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #80bae3, #2d8cd0);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #80bae3, #2d8cd0);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #80bae3, #2d8cd0);
/* IE10 */
  background-image: -o-linear-gradient(top, #80bae3, #2d8cd0);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #80bae3, #2d8cd0);
}
.button.normal.click {
  padding: 10px 12px 6px 18px;
  background-color: #2d8cd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d8cd0), to(#80bae3));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2d8cd0, #80bae3);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2d8cd0, #80bae3);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #2d8cd0, #80bae3);
/* IE10 */
  background-image: -o-linear-gradient(top, #2d8cd0, #80bae3);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #2d8cd0, #80bae3);
}
.checkout.button {
  background-color: #23f067;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23f067), to(#0ba23d));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #23f067, #0ba23d);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #23f067, #0ba23d);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #23f067, #0ba23d);
/* IE10 */
  background-image: -o-linear-gradient(top, #23f067, #0ba23d);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #23f067, #0ba23d);
  font-size: 33.6px;
  line-height: 1.5em;
  width: 200px;
  color: #333;
}
.checkout.button.hover {
  color: #000;
  background-color: #53f388;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53f388), to(#0ed24f));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53f388, #0ed24f);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #53f388, #0ed24f);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #53f388, #0ed24f);
/* IE10 */
  background-image: -o-linear-gradient(top, #53f388, #0ed24f);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #53f388, #0ed24f);
}
.checkout.button.click {
  background-color: #0ed24f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ed24f), to(#53f388));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0ed24f, #53f388);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0ed24f, #53f388);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #0ed24f, #53f388);
/* IE10 */
  background-image: -o-linear-gradient(top, #0ed24f, #53f388);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #0ed24f, #53f388);
}
.button {
  cursor: pointer;
}
.google,
.facebook,
.twitter,
.linkedin,
.new {
  display: block;
  float: left;
  margin: 0 10px 20px 0;
  text-decoration: none;
  height: 40px;
  width: 150px;
}
.google span,
.facebook span,
.twitter span,
.linkedin span,
.new span {
  display: none;
}
.google .subtitle,
.facebook .subtitle,
.twitter .subtitle,
.linkedin .subtitle,
.new .subtitle {
  display: block;
  position: absolute;
  margin-top: 40px;
}
.google {
  background: url("/images/buttons/google.png");
}
.google.hover {
  background: url("/images/buttons/google-hover.png");
}
.google.click {
  background: url("/images/buttons/google-click.png");
}
.facebook {
  background: url("/images/buttons/facebook.png");
}
.facebook.hover {
  background: url("/images/buttons/facebook-hover.png");
}
.facebook.click {
  background: url("/images/buttons/facebook-click.png");
}
.twitter {
  background: url("/images/buttons/twitter.png");
}
.twitter.hover {
  background: url("/images/buttons/twitter-hover.png");
}
.twitter.click {
  background: url("/images/buttons/twitter-click.png");
}
.linkedin {
  background: url("/images/buttons/linkedin.png");
}
.linkedin.hover {
  background: url("/images/buttons/linkedin-hover.png");
}
.linkedin.click {
  background: url("/images/buttons/linkedin-click.png");
}
.new {
  background: url("/images/buttons/new.png");
}
.new.hover {
  background: url("/images/buttons/new-hover.png");
}
.new.click {
  background: url("/images/buttons/new-click.png");
}
.order-details .left,
.order-details .right,
.order-details .righter {
  float: left;
  margin: 30px 0;
  width: 230px;
}
.order-details .right,
.order-details .righter {
  margin-left: 20px;
}
.order-total .title,
.order-total .price,
.order-total .subtitle {
  text-align: center;
}
.order-total .title {
  border-bottom: 1px solid #524641;
  padding-bottom: 5px;
}
.order-total .price {
  padding: 15px;
  font-size: 42px;
  line-height: 1.5em;
  font-weight: bold;
}
.section h3 {
  border-bottom: 15px solid #908575;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.hand-container-container {
  position: absolute;
  z-index: 0;
  top: 200px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 500px;
  padding-top: 250px;
}
.hand-container-container .hand-container {
  width: 1000px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.hand-container-container .hand-container .card {
  position: absolute;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = "auto expand" );
  zoom: 1;
  background: url("/images/card-bg-small/scott-qr-blue.png");
  height: 114px;
  width: 200px;
  left: -1px;
  top: -50px;
  font-size: 10.5px;
  line-height: 1.5em;
}
.hand-container-container .hand-container .card .content {
  margin: 5px 10px;
}
.hand-container-container .hand-container .card .qr {
  height: 35px;
  width: 35px;
  position: absolute;
  margin: 15px 0 0 140px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = "auto expand" );
  zoom: 1;
}
.hand-container-container .hand-container .hand {
  position: absolute;
  top: 0;
  left: -200px;
}
.card.main {
  width: 420px;
  height: 240px;
  display: block;
  margin: 0 auto;
  font-size: 16.8px;
  line-height: 1.5em;
  border: 20px solid #f05a23;
}
.card.main .content {
  padding: 30px 20px;
}
.card.main .qr {
  height: 70px;
  width: 70px;
  position: absolute;
  margin-left: 300px;
  margin-top: 70px;
}
.card {
  background: #eee;
  font-size: 8.4px;
  line-height: 1.5em;
}
.card .content {
  padding: 15px 10px;
}
.card .qr {
  height: 35px;
  width: 35px;
  position: absolute;
  margin-left: 150px;
  margin-top: 35px;
}
.scott-qr-blue.main {
  background: url("/images/card-bg/scott-qr-blue.png");
}
.scott-qr-blue.main .content {
  padding: 30px 20px;
}
.scott-qr-blue.main .qr {
  height: 70px;
  width: 70px;
  margin: 30px 0 0 280px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = "auto expand" );
  zoom: 1;
}
.scott-qr-blue {
  background: url("/images/card-bg-small/scott-qr-blue.png");
  color: #dcff18;
  font-family: Times New Roman;
}
.scott-qr-blue .content {
  padding: 15px 10px;
}
.scott-qr-blue .qr {
  height: 35px;
  width: 35px;
  margin: 15px 0 0 140px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid : DXImageTransform . Microsoft . Matrix ( M11 = 0.9914448613738104, M12 = -0.13052619222005157, M21 = 0.13052619222005157, M22 = 0.9914448613738104, sizingMethod = "auto expand" );
  zoom: 1;
}
.anchor.main {
  background: url("/images/card-bg/anchor.png");
}
.bike.main {
  background: url("/images/card-bg/bike.png");
}
.black-red.main {
  background: url("/images/card-bg/black-red.png");
}
.blue-boxes.main {
  background: url("/images/card-bg/blue-boxes.png");
}
.blue-circle.main {
  background: url("/images/card-bg/blue-circle.png");
}
.blue-gradient.main {
  background: url("/images/card-bg/blue-gradient.png");
}
.blue-green-gradient.main {
  background: url("/images/card-bg/blue-green-gradient.png");
}
.butterfly.main {
  background: url("/images/card-bg/butterfly.png");
}
.Card-1-Scott-QR-Blue.main {
  background: url("/images/card-bg/Card-1-Scott-QR-Blue.png");
}
.circles-blue.main {
  background: url("/images/card-bg/circles-blue.png");
}
.dark-yellow.main {
  background: url("/images/card-bg/dark-yellow.png");
}
.giraffe.main {
  background: url("/images/card-bg/giraffe.png");
}
.Gnome.main {
  background: url("/images/card-bg/Gnome.png");
}
.gray-blue-gradient.main {
  background: url("/images/card-bg/gray-blue-gradient.png");
}
.green-grid.main {
  background: url("/images/card-bg/green-grid.png");
}
.hello.main {
  background: url("/images/card-bg/hello.png");
}
.insidewatch.main {
  background: url("/images/card-bg/insidewatch.png");
}
.kickback-blue.main {
  background: url("/images/card-bg/kickback-blue.png");
}
.kickback-tan.main {
  background: url("/images/card-bg/kickback-tan.png");
}
.orange-bubble.main {
  background: url("/images/card-bg/orange-bubble.png");
}
.orange-grass.main {
  background: url("/images/card-bg/orange-grass.png");
}
.prime-grid.main {
  background: url("/images/card-bg/prime-grid.png");
}
.purple-blue.main {
  background: url("/images/card-bg/purple-blue.png");
}
.purple-burst.main {
  background: url("/images/card-bg/purple-burst.png");
}
.retroish.main {
  background: url("/images/card-bg/retroish.png");
}
.rose.main {
  background: url("/images/card-bg/rose.png");
}
.scissors.main {
  background: url("/images/card-bg/scissors.png");
}
.stripes.main {
  background: url("/images/card-bg/stripes.png");
}
.tree.main {
  background: url("/images/card-bg/tree.png");
}
.tri-color.main {
  background: url("/images/card-bg/tri-color.png");
}
.vertical-gray.main {
  background: url("/images/card-bg/vertical-gray.png");
}
.white-bubble.main {
  background: url("/images/card-bg/white-bubble.png");
}
.white-greenborder.main {
  background: url("/images/card-bg/white-greenborder.png");
}
.white-purple.main {
  background: url("/images/card-bg/white-purple.png");
}
.anchor {
  background: url("/images/card-bg-small/anchor.png");
}
.bike {
  background: url("/images/card-bg-small/bike.png");
}
.black-red {
  color: #eee;
  background: url("/images/card-bg-small/black-red.png");
}
.blue-boxes {
  background: url("/images/card-bg-small/blue-boxes.png");
}
.blue-circle {
  background: url("/images/card-bg-small/blue-circle.png");
}
.blue-gradient {
  background: url("/images/card-bg-small/blue-gradient.png");
}
.blue-green-gradient {
  background: url("/images/card-bg-small/blue-green-gradient.png");
}
.butterfly {
  background: url("/images/card-bg-small/butterfly.png");
}
.Card-1-Scott-QR-Blue {
  background: url("/images/card-bg-small/Card-1-Scott-QR-Blue.png");
}
.circles-blue {
  background: url("/images/card-bg-small/circles-blue.png");
}
.dark-yellow {
  color: #eee;
  background: url("/images/card-bg-small/dark-yellow.png");
}
.giraffe {
  background: url("/images/card-bg-small/giraffe.png");
}
.Gnome {
  color: #eee;
  background: url("/images/card-bg-small/Gnome.png");
}
.gray-blue-gradient {
  background: url("/images/card-bg-small/gray-blue-gradient.png");
}
.green-grid {
  background: url("/images/card-bg-small/green-grid.png");
}
.hello {
  background: url("/images/card-bg-small/hello.png");
}
.insidewatch {
  background: url("/images/card-bg-small/insidewatch.png");
}
.kickback-blue {
  background: url("/images/card-bg-small/kickback-blue.png");
}
.kickback-tan {
  background: url("/images/card-bg-small/kickback-tan.png");
}
.orange-bubble {
  background: url("/images/card-bg-small/orange-bubble.png");
}
.orange-grass {
  background: url("/images/card-bg-small/orange-grass.png");
}
.prime-grid {
  background: url("/images/card-bg-small/prime-grid.png");
}
.purple-blue {
  background: url("/images/card-bg-small/purple-blue.png");
}
.purple-burst {
  background: url("/images/card-bg-small/purple-burst.png");
}
.retroish {
  background: url("/images/card-bg-small/retroish.png");
}
.rose {
  background: url("/images/card-bg-small/rose.png");
}
.scissors {
  background: url("/images/card-bg-small/scissors.png");
}
.stripes {
  background: url("/images/card-bg-small/stripes.png");
}
.tree {
  background: url("/images/card-bg-small/tree.png");
}
.tri-color {
  background: url("/images/card-bg-small/tri-color.png");
}
.vertical-gray {
  background: url("/images/card-bg-small/vertical-gray.png");
}
.white-bubble {
  background: url("/images/card-bg-small/white-bubble.png");
}
.white-greenborder {
  background: url("/images/card-bg-small/white-greenborder.png");
}
.white-purple {
  background: url("/images/card-bg-small/white-purple.png");
}
.subtitle {
  color: #362e2a;
  font-size: 12.6px;
  line-height: 1.5em;
}
.main-fields .alt {
  display: none;
}
.main-fields .more,
.main-fields .less {
  margin: 30px 0 0 0;
  display: block;
  text-align: center;
}
.main-fields input {
  width: 189px;
  border: 1px solid #908575;
  padding: 0 5px;
}
.main-fields li {
  margin: 0 20px;
}
.main-fields label {
  margin: 10px 0 1px 0;
  display: block;
  font-size: 12.6px;
  line-height: 1.5em;
}
.design-container {
  position: relative;
}
.design-left {
  width: 500px;
  float: left;
  margin: 0;
}
.design-left .card {
  cursor: pointer;
}
.design-right {
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  float: right;
  padding: 0;
  margin: 0;
}
.design-right .gallery,
.design-right .cell-content {
  height: 100%;
}
.design-right .category {
  background: #908575;
  float: left;
  margin: 20px 20px 0 20px;
  width: 190px;
  padding: 5px;
}
.design-right .card {
  cursor: move;
}
.gallery {
  overflow: hidden;
}
.gallery .card {
  height: 114px;
  width: 200px;
  float: left;
  margin: 20px;
}
.gallery-select {
  height: 134px;
  width: 220px;
  position: absolute;
  background-color: #f05a23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05a23), to(#d2430e));
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f05a23, #d2430e);
/* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f05a23, #d2430e);
/* FF3.6 */
  background-image: -ms-linear-gradient(top, #f05a23, #d2430e);
/* IE10 */
  background-image: -o-linear-gradient(top, #f05a23, #d2430e);
/* Opera 11.10+ */
  background-image: linear-gradient(top, #f05a23, #d2430e);
  z-index: 30;
}
@-webkit-keyframes rotate-part-one {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-1deg);
  }

  75% {
    -webkit-transform: rotate(1deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
.wiggle-animate {
  -webkit-animation: rotate-part-one 0.4s infinite;
}
label .subtitle {
  display: block;
  margin: 0 0 0 25px;
  font-size: 10.5px;
  line-height: 1.5em;
}
.text-fields {
  margin: 30px 0;
}
.text-fields .suggestions {
  color: #362e2a;
  font-size: 10.5px;
  line-height: 1.5em;
  line-height: 1em;
}
.text-fields textarea {
  width: 100%;
  height: 75px;
  margin: 0;
}
.text-fields label {
  color: #eee;
}
.text-fields input {
  display: block;
  font-size: 16.8px;
  line-height: 1.5em;
}
.text-fields li {
  float: left;
}
.shipping {
  font-size: 21px;
  line-height: 1.5em;
}
.shipping li {
  margin: 10px;
  display: block;
  float: none;
}
.shipping label {
  color: #524641;
  font-size: 13.65px;
  line-height: 1.5em;
}
.radio-text-fields {
  font-size: 21px;
  line-height: 1.5em;
  margin: -30px 0 15px 0;
}
.radio-text-fields li {
  margin: 10px;
}
.radio-text-fields label {
  color: #eee;
  font-size: 13.65px;
  line-height: 1.5em;
}
.radio-text-fields input {
  margin: 10px 10px 0 0;
  float: left;
  width: auto;
}
.section.home-first {
  padding: 0;
}
.phone-left {
  width: 200px;
  margin: 30px 0 30px 30px;
  float: left;
}
.slides {
  width: 620px;
  height: 465px;
  float: left;
  position: relative;
}
.slides .arrow-left,
.slides .arrow-right {
  cursor: pointer;
  height: 35px;
  width: 21px;
  position: absolute;
  z-index: 250;
  top: 202px;
}
.slides .arrow-left {
  background: url("/images/arrow-left.png");
  left: 5px;
}
.slides .arrow-right {
  background: url("/images/arrow-right.png");
  right: 5px;
}
.slides .arrow-left.hover {
  background: url("/images/arrow-left-alt.png");
}
.slides .arrow-right.hover {
  background: url("/images/arrow-right-alt.png");
}
.slides h2.prompt,
.slides h2.caption {
  font-size: 16.8px;
  line-height: 1.5em;
  text-align: center;
}
.slides h2.prompt {
  margin: 0 0 10px 0;
}
.slides h2.caption {
  margin: 10px 0 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.slides .container {
  margin-top: -30px;
  height: 435px;
  overflow: hidden;
}
.slides .container .content {
  width: 9000px;
}
.slides .container .content li {
  float: left;
  height: 345px;
  margin: 30px;
  width: 560px;
}
.slides .container .content li img {
  margin: 0 auto;
  display: block;
}
.slides .container .content .first {
  margin-top: 75px;
}
.slides .container .content .second {
  margin-top: 30px;
}
.slides .container .content .third {
  margin-top: 40px;
}
@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}
@media screen and (max-device-width: 480px) {
}
@media print {
  * {
    background: transparent;
    color: #000;
    text-shadow: none none none #333;
    filter: none;
    -ms-filter: none;
  }
  a,
  a:visited {
    color: #444;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
