
// Palette One
color_two = #000
color_two_alt = #FFF
color_three = #000
color_four = #DED4B9
color_five = #64B6B1
color_six = #ce6d4e



size_one = 32px

huge_text = FFFTusjBold
accent_text = EdoRegular
normal_text = Trebuchet MS

body
  background color_four
  background url('/images/body_bg.png')
  font-family accent_text

input,h1,h2,textarea,select
  font-family accent_text

.logo
  display none
  height 56px
  width 160px
  background url('/images/logo-160x56.png')
  margin -60px auto 0 auto

.center_column
  width 1024px
  margin 0 auto

.navigation
  background color_two
  position absolute
  top 0
  left 0
  width 100%
  height 64px
  line-height 64px
  z-index 200
  ul
    margin 0 -20px
  .left
    float left
  .right
    float right
  a
    font-size size_one
    color color_five
    text-decoration none
  li
    float left
    margin 0 20px
  .hover
    a
      color color_four
.pull_down
  cursor pointer
  position absolute
  left 50%
  top -400px
  z-index 150
  img
    margin 0 0 0 -450px



h1
  color color_three

.hero
  margin 120px 0 0 0
  .top
    overflow hidden
    margin 40px 0 100px 0
  .left
    float left
    img
      margin-top 200px
  .right
    float right
    text-align right
  .bottom
    .left
      width 525px
    .right
      text-align center
      width 280px

h1.one
  font-family huge_text
  .one
    color color_six
    font-size 60px
    text-align left
  .two
    font-size 140px
    color color_three
  .three
    color color_five
    font-size 290px
    text-align left


.clear
  clear both

h1.two
  .one
    font-size 48px
  .two
    font-size 16px

.qr_action
  float right
  width 200px
  font-size 48px
  line-height 24px
  text-align center
  margin -140px 0 0 0
  text-decoration none
  img
    border 0

input,textarea,select
  padding 0 10px
  line-height 32px
  font-size 18px
  border 0

.notify_form,.shipping_form
  box_shadow(0,color_two,15px)
  width 280px
  background color_six
  position relative
  h2
    font-size 32px
    margin 30px 0 0 0
    padding 30px 0 0 0
  p
    margin 20px
  .field
    overflow hidden
  input,select
    height 40px
    line-height 40px
    float left
    width 120px
    margin 15px 0 15px 15px
  label
    float left
    line-height 40px
    height 40px
    margin 15px
.notify_form
  margin-top -180px
  padding 0 0 30px 0
  .socials
    margin 7px
    overflow hidden
    li
      font-family JustVector
      font-size 32px
      line-height 40px
      height 40px
      width 40px
      color color_two_alt
      gradient(color_five,darken(color_five,20))
      border_radius(10px)
      box_shadow(0,color_two,5px)
      float left
      margin 8px
    .shift
      line-height 50px
  .links
    input
      width 230px
      text-align right
  .toggle
    float right
    margin 15px
    border_radius(10px)
    box_shadow(0,color_two,5px)
    .bg
      border_radius(10px)
      overflow hidden
      gradient(darken(color_five,20),color_five)
      box_shadow(0,color_two,5px,inset)
    .option
      color color_four
      border_radius(10px)
      height 40px
      line-height 40px
      padding 0 10px
      float left
      cursor pointer
    .active
      color color_two_alt
      gradient(color_five,darken(color_five,20))
      box_shadow(0,color_two,5px)
.checkout_header
  margin 100px 0 20px 0
.shipping_form
  background color_five
  .street,.zip_code
    input
      width 90px
    img
      float right
      margin 15px
  .quantity
    margin 15px 0
    input
      width auto
      float right
      line-height 30px
      height 30px
      margin 0 15px
    label
      cursor pointer
      float right
      margin 0 15px
      line-height 30px
      height 30px
      .dollar
        font-family Comic Sans MS
    overflow hidden
  .card_expiry_year
    width 50px
  .billing
    label
      width 30px
    select
      width auto
      font-size 16px
    .cvc
      input
        width 40px
.checkout
  margin 30px 0 120px 0
  color color_two_alt
  gradient(lighten(color_six,0),darken(color_six,20))
  border_radius(15px)
  height 70px
  line-height 70px
  font-size 42px
  box_shadow(0,color_two,10px)
  img
    float left
    display block
    margin 10px 0 0 20px
  cursor pointer

.home_designer
  overflow visible
  .themes
    margin 70px 0
    img
      margin 0
      cursor pointer
      opacity(.3)
      width 126px
      height 72px
      z-index 50
      position relative
    .active
      margin -13px -20px
      border 4px solid color_three
      opacity(1)
      width 158px
      height 90px
      z-index 150
      box_shadow(0,color_three,10px)
    .hover
      opacity(.8)
  .card
    width 525px
    height 300px
    background #FFF
    box_shadow(0,color_two,15px)
    z-index 200
    position relative
  .controls
    margin 30px 0 0 0
    width 525px
    .area
      box_shadow(0,color_two,15px)
      position relative
      z-index 160
      width 485px
      height 200px
      background color_five
      display none
      padding 20px
      input
        width 140px
        margin 10px 20px
    .area.active
      display block
  
    .titles
      overflow visible
    .title
      box_shadow(0,color_two,15px)
      position relative
      z-index 150
      background color_five
      color color_three
      font-size 18px
      float left
      padding 0 20px
      margin 15px 1px 0 0
      height 32px
      line-height 32px
      cursor pointer
    .title.hover
      color color_four
    .title.active
      z-index 155
      margin 0 1px 0 0
      font-size 32px
      height 48px
      line-height 48px
