
// Palette One
color_two = #000
color_two_alt = #FFF
color_three = #000
color_four = #DED4B9
color_five = #64B6B1
color_six = #ce6d4e

color_seven = #3e434b



size_one = 32px

huge_text = FFFTusjBold
accent_text = EdoRegular
normal_text = Trebuchet MS

body
  background color_four
  background url('/images/body_bg.png')
  font-family accent_text

input,h1,h2,textarea,select
  font-family accent_text

.logo
  display none
  height 56px
  width 160px
  background url('/images/logo-160x56.png')
  margin -60px auto 0 auto

.center_column
  width 1024px
  margin 0 auto

.navigation
  background color_two
  position absolute
  top 0
  left 0
  width 100%
  height 64px
  line-height 64px
  z-index 200
  ul
    margin 0 -20px
  .left
    float left
  .right
    float right
  a
    font-size size_one
    color color_five
    text-decoration none
  li
    float left
    margin 0 20px
  .hover
    a
      color color_four
.pull_down
  position absolute
  left 50%
  top -780px
  z-index 150
  .bg,.contents
    position absolute
  .bg
    margin 0 0 0 -370px
  a
    color color_seven
    text-decoration none
  .contents
    color color_seven
    margin 160px 0 0 -350px
    width 190px
    text-align center
    h2
      font-size 42px
      margin 0 0 5px 0
    p
      margin 10px 0 0 0
      font-size 14px
    img
      width 140px
      margin 0 auto
      display block
  h3
    font-size 26px
    margin 50px 0 5px 0
    color color_six
  .list
    color color_six
    font-family normal_text
    height 250px
    overflow auto
    font-size 14px
    line-height 18px
    border-top 3px dashed color_seven
    .item
      padding 10px 5px 5px 5px
      border-bottom 3px dashed color_seven
    .date
      font-size 10px
      font-style italic
      text-align right
.alert
  position absolute
  top 50px
  left 50%
  z-index 150
  width 90px
  .top
    margin-top 100px
  .mid
    margin-top 180px
  .alerttext
    overflow hidden
    p
      margin-left 10px
    width 90px
    margin-left -150px
    font-size 20px
    text-align left


h1
  color color_three




          
.derek_hero
  overflow visible
  margin 120px 0 0 0
  .top
    overflow hidden
    margin 40px 0 100px 0
  .left
    float left
    img
      position absolute
      z-index -1
      margin-top 0
  .right
    float right
    text-align right
  h1.one
    font-family huge_text
    .one
      color color_six
      font-size 140px
      text-align right
    .two
      font-size 80px
      color color_seven
    .three
      color color_five
      font-size 340px
      text-align left


.steve_hero
  display none
  overflow visible
  margin 120px 0 0 0
  background #ded8c8
  .top
    overflow hidden
    margin 40px 0 20px 0
    height 400px
    .hands
      .scan
        float left
        font-size 40px
        text-align left
        padding 5px
        width 200px
      .notify
        float rigth
        font-size 40px
        text-align right
        padding 5px 
    .copy
      .logo2
        position relative
        left 320px
        top -315px
      .one
        position relative
        left 360px
        top -315px
        font-size 50px
        font-family huge_text
      .two
        position relative
        left 360px
        top -315px
        font-size 60px
        font-family huge_text
      .three
        font-size 40px
        font-family huge_text

.bottom
  .left
    width 525px
    float left
  .right
    width 280px
    float right
    text-align center


.clear
  clear both

h1.two
  .one
    font-size 48px
  .two
    font-size 16px

.qr_action
  float right
  width 200px
  font-size 48px
  line-height 24px
  text-align center
  margin -140px 0 0 0
  text-decoration none
  img
    border 0

input,textarea,select
  padding 0 10px
  line-height 32px
  font-size 18px
  border 0

.notify_form,.shipping_form
  box_shadow(0,color_two,15px)
  width 280px
  background color_six
  position relative
  h2
    font-size 32px
    margin 30px 0 0 0
    padding 30px 0 0 0
  p
    margin 20px
  .field
    overflow hidden
  input,select
    height 40px
    line-height 40px
    float left
    width 120px
    margin 15px 0 15px 15px
  label
    float left
    line-height 40px
    height 40px
    margin 15px
.notify_form
  padding 0 0 30px 0
  .link_editor
    overflow hidden
  .socials
    float left
    width 115px
    overflow hidden
    padding 0 0 15px 0
    li
      cursor pointer
      font-family JustVector
      font-size 32px
      line-height 40px
      height 40px
      width 40px
      color color_two_alt
      gradient(color_five,darken(color_five,20))
      border_radius(10px)
      box_shadow(0,color_two,5px)
      float left
      margin 15px 0 0 15px
    .shift
      line-height 50px
  .links
    float right
    margin 0 15px 0 0
    input
      width 95px
      text-align right
      float right
      margin 15px 0 0 0
    .button
      cursor pointer
      margin 15px 0 0 0
      float right
      gradient(color_five,darken(color_five,20))
      border_radius_right_only(10px)
      color color_two_alt
      font-family huge_text
      line-height 40px
      height 40px
      width 25px
  .toggle
    float right
    margin 15px
    border_radius(20px)
    box_shadow(0,color_two,5px)
    .bg
      border_radius(20px)
      overflow hidden
      gradient(darken(color_five,20),color_five)
      box_shadow(0,color_two,5px,inset)
    .option
      color lighten(color_five,10)
      border_radius(20px)
      height 40px
      line-height 40px
      padding 0 10px
      float left
      cursor pointer
    .active
      color color_two_alt
      gradient(color_five,darken(color_five,20))
      box_shadow(0,color_two,5px)
.checkout_header
  margin 100px 0 20px 0
.shipping_form
  background color_five
  .street,.zip_code
    width 90px
  .map
    float right
    margin 15px
  .full_address
    position absolute
    z-index 150
    width 125px
    text-align right
    font-size 14px
    alpha_bg(color_two_alt,.7)
    margin 95px 0 0 140px
  .quantity
    margin 15px 0
    .option
      cursor pointer
      text-align center
      float left
      width 115px
      height 130px
      margin 15px 0 30px 15px
      border_radius(15px)
    .active
      background color_two_alt
      border 4px solid color_two
      margin 11px -4px 26px 11px
    img
      margin 5px auto 0 auto

    .value
      margin 0 0 0 25px
      span
        float left
        display block
        font-size 48px
      .dollar
        font-family huge_text
        font-style italic
        font-size 24px
    overflow hidden
  .card_expiry_year
    width 50px
  .billing
    label
      width 30px
    select
      width auto
      font-size 16px
    .cvc
      input
        width 40px
.checkout
  margin 30px 0 120px 0
  color color_two_alt
  gradient(lighten(color_six,0),darken(color_six,20))
  border_radius(15px)
  height 70px
  line-height 70px
  font-size 42px
  box_shadow(0,color_two,10px)
  img
    float left
    display block
    margin 10px 0 0 20px
  cursor pointer

.scanhands
  position absolute
  margin -60px 0 0 340px
.get_guy
  margin 10px 0 -190px 0

.home_designer
  overflow visible
  .themes
    margin 370px 0
    img
      margin 0
      cursor pointer
      opacity(.3)
      width 126px
      height 72px
      z-index 50
      position relative
    .active
      margin -13px -20px
      border 4px solid color_three
      opacity(1)
      width 158px
      height 90px
      z-index 150
      box_shadow(0,color_three,10px)
    .hover
      opacity(1)
  .card
    position absolute
    width 525px
    height 300px
    background #FFF
    box_shadow(0,color_two,15px)
    z-index 200
  .controls
    margin 60px 0 0 0
    width 525px
    .area
      box_shadow(0,color_two,15px)
      position relative
      z-index 160
      width 485px
      height 200px
      background color_five
      display none
      padding 20px
      input
        width 140px
        margin 10px 20px
    .area.active
      display block
  
    .titles
      overflow visible
    .title
      box_shadow(0,color_two,15px)
      position relative
      z-index 150
      background color_five
      color color_three
      font-size 18px
      float left
      padding 0 20px
      margin 15px 1px 0 0
      height 32px
      line-height 32px
      cursor pointer
    .title.hover
      color color_four
    .title.active
      z-index 155
      margin 0 1px 0 0
      font-size 32px
      height 48px
      line-height 48px



.footer
  position fixed
  z-index 250
  bottom 0
  left 0
  width 100%
  background color_two
  height 32px
  line-height 32px
  color color_four
  font-size 12px
  text-align center
  .g,.t,.f
    a
      font-size 18px
      line-height 22px
      display block
      margin-top 6px
      font-family JustVector
  .t
    a
      margin-top 7px
  .f
    a
      margin-top 4px
  a
    font-size 12px
    color color_four
    text-decoration none
    padding 0
    margin 0
  .at
    font-family huge_text
  li
    float left
    padding 0 20px 0 0
  .items
    width auto
    overflow hidden
    display inline-block
    margin 0 auto   
