
// Palette One
color_two = #000
color_two_alt = #FFF
color_three = #000
color_four = #DED4B9
color_four = lighten(color_four,5)
color_five = #64B6B1
color_six = #ce6d4e

color_seven = #3e434b



size_one = 32px

huge_text = FFFTusjBold
accent_text = EdoRegular
normal_text = Trebuchet MS

body
  background color_four
  background url('/images/patterns/3_1.jpg') top center
  font-family accent_text

input,h1,h2,textarea,select
  font-family accent_text


































.center_column
  width 1024px
  margin 0 auto

.navigation
  background color_two
  position absolute
  top 0
  left 0
  width 100%
  height 64px
  line-height 64px
  z-index 200
  .left
    float left
    li
      float left
      margin 0 40px 0 0
  .right
    float right
    li
      float left
      margin 0 0 0 40px
  a
    font-size size_one
    color color_five
    text-decoration none
  .hover
    a
      color color_four
.pull_down
  display none
  position absolute
  left 50%
  top -780px
  z-index 150
  .bg,.contents
    position absolute
  .bg
    margin 0 0 0 -370px
  a
    color color_seven
    text-decoration none
  .contents
    color color_seven
    margin 160px 0 0 -350px
    width 190px
    text-align center
    h2
      font-size 42px
      margin 0 0 5px 0
    p
      margin 10px 0 0 0
      font-size 14px
    img
      width 140px
      margin 0 auto
      display block
  h3
    font-size 26px
    margin 50px 0 5px 0
    color color_six
  .list
    color color_six
    font-family normal_text
    height 250px
    overflow auto
    font-size 14px
    line-height 18px
    border-top 3px dashed color_seven
    .item
      padding 10px 5px 5px 5px
      border-bottom 3px dashed color_seven
    .date
      font-size 10px
      font-style italic
      text-align right
.alert
  position absolute
  top 50px
  left 50%
  z-index 150
  width 90px
  .top
    margin-top 120px
  .mid
    margin-top 150px
  .alerttext
    img
      margin-left -10px
    width 90px
    margin-left -140px
    font-size 20px
    text-align left


h1
  color color_three




          
.hero
  overflow visible
  margin 100px 0 0 0
  .super_top
    img
      position absolute
      z-index -1
      margin -18px 0 0 37px
    overflow hidden
    text-align left
    em, i
      float left
    em
      color color_six
      font-size 48px
      line-height 56px
      padding 0 20px
    i.one
      line-height 38px
    i.two
      line-height 80px
    i
      font-size 20px
      color color_seven
  .top
    overflow hidden
    margin 20px 0 100px 0
  .left
    float left
    img
      position absolute
      z-index -1
  .right
    float right
    text-align right
  h1.one
    font-family huge_text
    .one
      color color_six
      font-size 170px
      text-align right
    .two
      font-size 60px
      color color_seven
    .three
      color color_five
      font-size 356px
      text-align left


.bottom
  .left
    width 525px
    float left
  .right
    width 280px
    float right
    text-align center













.clear
  clear both
















h1.two
  color color_seven
  .one
    font-size 48px
  .two
    line-height 48px
    font-size 16px

input,textarea,select
  padding 0 10px
  line-height 32px
  font-size 18px
  border 0

.notify_images
  overflow hidden
  img
    margin 15px 15px 0 15px
  .email
    float left
  .text
    float right

.notify_form,.shipping_form
  box_shadow(0,color_two,10px)
  width 280px
  background color_six
  position relative
  h2
    font-size 32px
    margin 30px 0 0 0
    padding 30px 0 0 0
  p
    margin 20px
  .field
    overflow hidden
  input,select
    height 40px
    line-height 40px
    float left
    width 120px
    margin 15px 0 15px 15px
  label
    float left
    line-height 40px
    height 40px
    margin 15px
.notify_form
  padding 0 0 30px 0
  .link_editor
    overflow hidden
  .socials
    float left
    width 115px
    overflow hidden
    padding 0 0 15px 0
    li
      cursor pointer
      font-family JustVector
      font-size 32px
      line-height 40px
      height 40px
      width 40px
      color color_two_alt
      gradient(color_six,darken(color_six,20))
      border_radius(10px)
      box_shadow(0,color_two,5px)
      float left
      margin 15px 0 0 15px
    .shift
      line-height 50px
  .links
    float right
    margin 0 0
    input
      width 95px
      text-align right
      float right
      margin 15px 0 0 0
    .button
      cursor pointer
      margin 15px 15px 15px 0
      float right
      gradient(color_six,darken(color_six,20))
      border_radius_right_only(10px)
      box_shadow(0,color_two,5px)
      color color_two_alt
      font-family huge_text
      line-height 40px
      height 40px
      width 25px
    .item
      .url
        margin 15px 0 0 0
        float left
        text-align right
        width 95px
        padding 0 10px
        height 20px
        line-height 20px
        font-size 12px
      .button
        height 20px
        width 20px
        line-height 20px
        border_radius(20px)
        box_shadow(0,color_two,3px)
        float left
  /*
    .toggle
      float right
      margin 15px
      border_radius(20px)
      box_shadow(0,color_two,5px)
      .bg
        border_radius(20px)
        overflow hidden
        gradient(darken(color_six,20),color_six)
        box_shadow(0,color_two,5px,inset)
      .option
        color lighten(color_six,10)
        border_radius(20px)
        height 40px
        line-height 40px
        padding 0 10px
        float left
        cursor pointer
      .active
        color color_two_alt
        gradient(color_six,darken(color_six,20))
        box_shadow(0,color_two,5px)
  */
  .toggle
    float right
    margin 15px 15px 15px 0
    .bg
      overflow hidden
    .option
      float left
      color color_two
      padding 0 10px
      height 40px
      line-height 40px
      cursor pointer
      border_radius(15px)
    .active
      background color_two_alt
      border 4px solid color_two
      padding 0 6px
      height 32px
      line-height 32px
    
.checkout_header
  margin 100px 0 20px 0
.shipping_form
  background color_five
  .street,.zip_code
    width 90px
  .map
    float right
    margin 15px
  .full_address
    position absolute
    z-index 150
    width 125px
    text-align right
    font-size 14px
    alpha_bg(color_two_alt,.7)
    margin 95px 0 0 140px
  .quantity
    margin 15px 0
    .option
      cursor pointer
      text-align center
      float left
      width 115px
      height 130px
      margin 15px 0 30px 15px
      border_radius(15px)
    .active
      background color_two_alt
      border 4px solid color_two
      margin 11px -4px 26px 11px
    img
      margin 5px auto 0 auto

    .value
      margin 0 0 0 25px
      span
        float left
        display block
        font-size 48px
      .dollar
        font-family huge_text
        font-style italic
        font-size 24px
    overflow hidden
  .card_expiry_year
    width 50px
  .billing
    label
      width 30px
    select
      width auto
      font-size 16px
    .cvc
      input
        width 40px
.checkout
  margin 30px 0 120px 0
  color color_two_alt
  gradient(lighten(color_six,0),darken(color_six,20))
  border_radius(15px)
  height 70px
  line-height 70px
  font-size 42px
  box_shadow(0,color_two,10px)
  img
    float left
    display block
    margin 10px 0 0 20px
  cursor pointer







.home_images
  img
    float right
    margin-top -94px
    margin-right 15px
    width 96px



.theme_container
  margin 80px 0
  .top_anchor,.bottom_anchor,.themes
    position relative
    box_shadow(0,color_two,10px)
    background color_five
  .top_anchor,.bottom_anchor
    height 40px
    padding 15px
    z-index 151
    line-height 40px
    font-size 32px
  .themes
    background color_four
    position relative
    z-index 150
    height 500px
    overflow auto
    .thumb
      margin 15px 0 15px 15px
      padding 15px
      cursor pointer
      width 126px
      height 72px
      float left
      img
        border 1px solid color_two
        width 126px
        height 72px
    .active
      border 4px solid color_two
      border_radius(15px)
      margin 11px -4px 11px 11px
      background color_two_alt
    .hover
      opacity(1)

.home_designer
  overflow visible
  .card
    position relative
    width 525px
    height 300px
    background #FFF
    box_shadow(0,color_two,10px)
    z-index 149
  .controls
    margin 20px 0 0 0
    width 525px
    .area
      box_shadow(0,color_two,10px)
      position relative
      z-index 160
      width 525px
      height 125px
      background color_five
      display none
    .area.active
      display block


.line_value
  margin 15px 0 0 15px
  height 40px
  padding 0 20px
  line-height 40px
  text-align center
  float left
.button.save
  float left
  margin 15px 0 0 15px
  gradient(color_five,darken(color_five,20))
  border_radius(10px)
  box_shadow(0,color_two,5px)
  color color_two_alt
  padding 0 15px
  line-height 38px
  height 40px
  font-size 26px
  cursor pointer


.font_families
  float left
  margin 15px
.dropdown
  border_radius(10px)
  box_shadow(0,color_two,5px)
  position relative
  padding 0 30px 0 0
  height 40px
  z-index 300
  overflow hidden
  .arrow_container
    cursor pointer
    position absolute
    height 40px
    width 40px
    gradient(darken(color_five,0),darken(color_five,20))
    box_shadow(0,color_two,5px)
    border_radius(10px)
    right 0
    top 0
  .arrow
    margin 14px 0 0 12px
    border-top 12px solid color_two_alt
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-bottom none
    border_radius(4px)
    width 0
    height 0
  .bg_scroll
    overflow hidden
    border_radius(10px)
    margin-right -30px
    padding-right 30px
    height 40px
  .font_family
    height 40px
    font-size 16px
    line-height 40px
    text-align center
    cursor pointer
    padding 0 10px
    color color_two_alt
  .active
    color color_two_alt
    padding 0 40px 0 10px
    margin-right -30px
    gradient(color_five,darken(color_five,20))
    box_shadow(0,color_two,5px)
    border_radius_left_only(10px)
.dropdown.active
  overflow visible
  .active
    padding 0 10px
    margin-right 0
  .bg
    border_radius_except_top_right(10px)
    gradient(darken(color_five,20),darken(color_five,0))
    box_shadow(0,color_two,5px,inset)
    height 240px
  .bg_scroll
    margin-right 0
    padding-right 0
    border_radius(0)
    overflow auto
    height 240px
  .bg_bg
    height 240px
    width 100%
    position absolute
    z-index -1






























.footer
  position fixed
  z-index 250
  bottom 0
  left 0
  width 100%
  background color_two
  height 32px
  line-height 32px
  color color_four
  font-size 12px
  text-align center
  .g,.t,.f
    a
      font-size 18px
      line-height 22px
      display block
      margin-top 6px
      font-family JustVector
  .t
    a
      margin-top 7px
  .f
    a
      margin-top 4px
  a
    font-size 12px
    color color_four
    text-decoration none
    padding 0
    margin 0
  .at
    font-family huge_text
  li
    float left
    padding 0 20px 0 0
  .items
    width auto
    overflow hidden
    display inline-block
    margin 0 auto
    
.about
  position relative
  top 200px
