


.center_column
  width 320px

.navigation
  line-height 30px
  a
    font-size 20px

.overlay
  box_shadow(0,color_four,90px,inset)

h1.one
  line-height 100px
  font-size 56px
.hero
  img
    margin 5px 0 45px 0
  .left,.right
    float none
    display block
    width 280px
    margin 0 auto
    img.one
      width 58px
    img.two
      width 97px
    text-align left

.pull_down
  .bg
    margin 0 0 0 -50px
  .contents
    margin 160px 0 0 -30px