


.center_column
  width 569px

.navigation
  .logo,a
    padding 0 14px

.hero
  h1.one
    .one
      font-size 60px
    .two
      font-size 56px
    .three
      font-size 88px
  .left
    position relative
    margin-bottom -56px
    margin-top -28px
    z-index 199
  .right
    position relative
    z-index 200

h1.two
  .one
    font-size 55px

.row_bg
  width 561px
.set_alerts,.set_links
  .row_bg
    width 561px
.row_content
  padding 36px 22px
.row
  .help_overlay
    .dialog,.dialog.left
      top 320px
      left 40px
    .dialog.one
      left 201px
      top 310px
    .dialog.two
      left 10px
      top 440px
    .dialog.five
      top 810px
      left 10px
    .dialog.four
      left 140px
    .dialog.six
      left 10px
      top 800px
    .button_show,.button_hide
      top 96px
      height 40px
      line-height 40px
      font-size 20px
  .top
    padding-top 156px
          
.hero
  .bottom
    .col_one,.col_two,.col_three
      margin 0 18px
    .col_three
      margin 0 160px
.row
  .right
    float left
    clear both
    margin 56px 0 0 0
  .controls
    width auto
    .themes
      width auto
.set_alerts,.set_links
  .field
    margin 0 0 14px 0