


.center_column
  width 320px

.navigation
  line-height 30px
  a
    font-size 20px


.pull_down
  left 0
  .bg
    margin 0
  .contents
    margin 160px 0 0 20px
.alert
  left auto
  right 0
  .alerttext
    margin-left 0