// Base configurations and helper functions
@import "conf/base"
@import "conf/helpers"
@import "conf/colors"

// HTML5 helper classes, remove this if you don't use them
@import "elems/helpers"


header
  h1
    top -85px
    left -45px
    font-size(1)
    line-height 1.2em
.section
  padding 15px
.phone-left
  margin 150px 50px 50px
  display block
  float none
.slides
  margin 50px auto
  float none
  width 310px
  height 335px
  display block
  .arrow-left,.arrow-right
    height 35px
    width 21px
    z-index 250
    top 140px
  .container
    margin-top -15px
    height 205px
    .content
      width 9000px
      li
        height 175px
        margin 30px
        width 250px
      .first
        margin-top 40px
        img
          width 252px
          height 141px
      .second
        margin-top 15px
        img
          width 170px
          height 195px
      .third
        margin-top 40px
        img
          width 170px
          height 150px

// Business Cards
.card.main
  width 200px
  height 114px
.scott-qr-blue
  background url('/images/card-bg-small/scott-qr-blue.png')

// Form Layout
.text-fields
  margin 30px -15px
  label
    margin 0
  input
    width 250px
  li
    margin 10px 15px
