

$base_font_px = 21px
$base_line_height = 1.5

$base_gap = $base_font_px * $base_line_height

/* Font_families */
$base_font_family = 'Ubuntu', sans-serif
$display_font_family = 'Maven Pro', sans-serif

/***********************************
 *
 * Color Definitions
 *
 ***********************************/

// These list the default colors that we are using on the website
$c_light = #EEEEEE
$c_mid_cool = #AAAAAA
$c_dark_cool = #111111
$c_mid_warm = #FFFFFF
$c_dark_warm = #333333
$c_black = #000000
$c_blue = #3ea9f5

$c_bg_dark = #524641 //#006E9F
$c_bg_light = #908575 //#006E9F
$c_logo_light = #f05a23 //#f37b4f
$c_logo_alt = #56A3DA

//This one is mainly used on the top small nav bar and is the darkest on the site
$c_extra_dark = #3a322f

$c_go = #23f067

$c_background = lighten($c_light, 10%)
$c_body_bg = #cfbea8
$c_font = $c_dark_warm
$c_highlight = $c_mid_warm

$c_link = $c_mid_cool
$c_link_hover = $c_mid_warm
$c_link_visited = $c_mid_cool
$c_link_active = $c_mid_cool

$c_a_nav = #d8cfc5


/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/

// CHAM builtin style functions
relative_size($size_multiplier, $set_line_height=true)
  $font_px = unit($base_font_px * $size_multiplier, 'px')
  font-size $font_px
  if $set_line_height
    line-height unit($base_line_height / $font_px, 'em')
gap($multiplier)
  return $base_gap * $multiplier

// Alpha Background
alpha_bg(color,n)
  background rgb(color);
  background rgba(color,n);

// Shadow
box_shadow(n = gap(.25), color = $c_dark_warm, b = n)
  -moz-box-shadow n n b color
  -webkit-box-shadow n n b color
  box-shadow n n b color
  behavior: url('/js/libs/PIE')
text_shadow(n = gap(.1), color = $c_dark_warm, b = n)
  text-shadow n n b color
  behavior: url('/js/libs/PIE')

// Rounded Corners
border_radius(n = gap(.5))
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  behavior: url('/js/libs/PIE')
border_radius_bottom_left_only(n)
  border-bottom-left-radius n
  -moz-border-radius-bottomleft n
  -webkit-border-bottom-left-radius n
border_radius_except_top_right(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  border-top-right-radius 0
  -moz-border-radius-topright 0
  -webkit-border-top-right-radius 0
border_radius_top_only(n)
  border-top-left-radius n
  -moz-border-radius-topleft n
  -webkit-border-top-left-radius n
  border-top-right-radius n
  -moz-border-radius-topright n
  -webkit-border-top-right-radius n
border_radius_bottom_only(n)
  border-bottom-left-radius n
  -moz-border-radius-bottomleft n
  -webkit-border-bottom-left-radius n
  border-bottom-right-radius n
  -moz-border-radius-bottomright n
  -webkit-border-bottom-right-radius n
border_radius_except_bottom_left(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  border-bottom-left-radius 0
  -moz-border-radius-bottomleft 0
  -webkit-border-bottom-left-radius 0

// Transparency
opacity(n)
  opacity n
  filter alpha\(opacity\=n*100\)

absolute()
  display none
  position absolute
  top 0
  left 0

// Resize Ratio
transform_scale(width=0.5,height=width)
  -webkit-transform: scale(height, width);
  -moz-transform: scale(height, width);
  -ms-transform: scale(height, width);
  transform: scale(height, width);

// Rotate (pass in degrees)
box_rotate(degrees=7.5deg)
  -webkit-transform rotate(degrees)
  -moz-transform rotate(degrees)
  -ms-transform rotate(degrees)  
  -o-transform rotate(degrees)  
  transform rotate(degrees)
  zoom 1

// Background Gradient from 1 color at top to another color at bottom
gradient(color1=$c_background,color2=$c_background,alpha=1)
  color1 = rgba(color1, alpha)
  background-color color2
  background-image -webkit-gradient(linear, left top, left bottom, from(color1), to(color2)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, color1, color2) /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image -moz-linear-gradient(top, color1, color2) /* FF3.6 */
  background-image -ms-linear-gradient(top, color1, color2) /* IE10 */
  background-image -o-linear-gradient(top, color1, color2) /* Opera 11.10+ */
  background-image linear-gradient(top, color1, color2)
  -pie-background linear-gradient(top, color1, color2)
  behavior: url('/js/libs/PIE')

/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/




.section
  padding 15px

.header
  h1
    display none
  .logo img
    margin-top -25px
    width 250px
  .design_button
    display none

.header
  .navigation
    li
      a
        relative-size(.8)
      padding 3px 15px


.order_total,.home_designer
  .card
    transform_scale(.5)
    margin 0 -120px
.home_designer
  .card_container
    padding 0
    width auto
    float left
.home_options
  width 280px


.footer
  .us_pics
    li
      margin 45px 10px 0 10px


// Final Checkout Stuff At Bottom
.order_details
  .left,.right,.righter
    float left
    margin 0
    width 200px
  .right,.righter
    margin 0
  .address_result
  label
    relative_size(.5)
//
// Final
.order_total
  .my_card
    height 200px
    width 200px

//Feedback Button
input value=["Send Feedback"]
.feedback_form
  input
  margin 15px auto
.feedback_text
  font-size 14px
  width 350px
.emailNotUser
  font-size 12px
  width 350px
.feedback
  top 40%
  right -45px
  cursor pointer
  position fixed
  z-index 500
  opacity(.7)
  a
    height 38px
    line-height 22px
    font-size 14px
    text-align center
    padding 5px
    background $c_extra_dark
    border 3px solid $c_light
    border-bottom none
    display block
    box_rotate(270deg)
    relative_size(1)
    color $c_light
    text-decoration none