$base-font-size = 21px
$base-line-height = 1.5

$base-gap = $base-font-size * $base-line-height

/* Font-families */
$base-font-family = 'Ubuntu', sans-serif
$display-font-family = 'Maven Pro', sans-serif

/***********************************
 *
 * Color Definitions
 *
 ***********************************/
$c-light = #EEEEEE
$c-mid-cool = #AAAAAA
$c-dark-cool = #111111
$c-mid-warm = #FFFFFF
$c-dark-warm = #333333
$c-black = #000000

$c-bg-dark = #524641 //#006E9F
$c-bg-light = #908575 //#006E9F
$c-logo-light = #f05a23 //#f37b4f
$c-logo-alt = #56A3DA

$c-go = #23f067

$c-background = lighten($c-light, 10%)
$c-body-bg = #cfbea8
$c-font = $c-dark-warm
$c-highlight = $c-mid-warm

$c-link = $c-mid-cool
$c-link-hover = $c-mid-warm
$c-link-visited = $c-mid-cool
$c-link-active = $c-mid-cool

$c-a-nav = #d8cfc5


/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/

// CHAM builtin style functions
relative-size($size-multiplier, $set-line-height=true)
  $font-size = unit($base-font-size * $size-multiplier, 'px')
  font-size $font-size
  if $set-line-height
    line-height unit($base-line-height / $font-size, 'em')
gap($multiplier)
  return $base-gap * $multiplier

// Alpha Background
alpha-bg(color,n)
  background rgb(color);
  background rgba(color,n);

// Shadow
box-shadow(n = gap(.25), color = $c-dark-warm, b = n)
  -moz-box-shadow n n b color
  -webkit-box-shadow n n b color
  box-shadow n n b color
text-shadow(n = gap(.1), color = $c-dark-warm, b = n)
  text-shadow n n b color

// Rounded Corners
border-radius(n = gap(.5))
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
border-radius-except-top-right(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  border-top-right-radius 0
  -moz-border-radius-topright 0
  -webkit-border-top-right-radius 0
border-radius-top-only(n)
  border-top-left-radius n
  -moz-border-radius-topleft n
  -webkit-border-top-left-radius n
  border-top-right-radius n
  -moz-border-radius-topright n
  -webkit-border-top-right-radius n

// Transparency
opacity(n)
  opacity n
  filter alpha\(opacity\=n*100\)

absolute()
  display none
  position absolute
  top 0
  left 0

// Resize Ratio
transform-scale(width=0.5,height=width)
  -webkit-transform: scale(height, width);
  -moz-transform: scale(height, width);
  -ms-transform: scale(height, width);
  transform: scale(height, width);

// Rotate (pass in degrees)
box-rotate(degrees=7.5deg)
  -webkit-transform rotate(degrees)
  -moz-transform rotate(degrees)
  -ms-transform rotate(degrees)  
  -o-transform rotate(degrees)  
  transform rotate(degrees)
  filter progid\:DXImageTransform\.Microsoft\.Matrix\(M11\=0.9914448613738104, M12\=-0.13052619222005157,M21\=0.13052619222005157, M22\=0.9914448613738104, sizingMethod\='auto expand'\)
  zoom 1

// Background Gradient from 1 color at top to another color at bottom
gradient(color1=$c-background,color2=$c-background)
  background-color color1
  background-image -webkit-gradient(linear, left top, left bottom, from(color1), to(color2)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, color1, color2) /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image -moz-linear-gradient(top, color1, color2) /* FF3.6 */
  background-image -ms-linear-gradient(top, color1, color2) /* IE10 */
  background-image -o-linear-gradient(top, color1, color2) /* Opera 11.10+ */
  background-image linear-gradient(top, color1, color2)

/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/




// Base Tag Definitions
h1, h2, h3
  font-weight normal
  font-family $display-font-family
h1 
  relative-size(2.4)
ul
  list-style none
  margin 0
  padding 0
body
  relative-size(.75)
  font-family $base-font-family
  background $c-body-bg url('/images/little_pluses.png')
input
  relative-size(1)
// END Base Tag Definitions



// 
#container
  max-width 850px
  margin 0 auto


// cardsly logo highlight in text
.cardsly
  gradient($c-bg-light,$c-bg-dark)
  padding 0 2px 0 5px
  height 5px
  border-radius(5px)
  color $c-logo-light
  .alt
    color $c-logo-alt


// Tool Tips
.tooltip
  border 1px solid $c-black
  border-radius(3px)
  height 20px
  line-height 20px
  padding 2px 8px
  background yellow
  color dark
  font-size .7em
  margin-top -29px
  z-index 350
  absolute()


// Modal Backgrounds
.modal
  z-index 200
  gradient($c-bg-light,$c-bg-dark)
  opacity(.6)
  height 100%
  width 100%
  absolute()
.close
  font-size 1em
  padding 4px 30px
  background $c-black
  color $c-light
  absolute()
  z-index 201
  cursor pointer
  border-radius-top-only(8px)
.window
  z-index 201
  alpha-bg(darken($c-bg-dark,20),.9)
  border-radius-except-top-right(8px)
  color $c-light
  padding 30px
  absolute()
  overflow hidden
// Create Login Form
.create-form
  input
    width 100%
.buttons
  .button
    display block
    float right
    text-align center


// Header
header
  position relative
  z-index 50
  margin 80px 0 0 50px
  gradient($c-bg-light,$c-bg-dark)
  height 46px
  .logo img
    margin -45px 0 0 -50px
    float left
    position relative
    z-index 50
  .design-button
    position absolute
    top 75px
    right 0
    display block
  h1
    position absolute
    top 75px
    color $c-logo-light
    .alt
      color $c-logo-alt
    relative-size(1.5)
  .navigation
    font-family $display-font-family
    gradient($c-bg-light,$c-bg-dark)
    float right
    margin 0
    border-radius()
    li
      relative-size(1)
      margin 0
      float left
      a
        text-decoration none
        color $c-a-nav
      border-right 1px solid $c-a-nav
      padding 7px 30px
      border-radius(14px)
.header-back
  gradient($c-bg-light,$c-bg-dark)
  width 50%
  top 80px
  right 0
  height 46px
  position absolute




// Sections
.card-list
  th,td
    text-align left
    padding 10px
  td
    border-right 1px solid $c-bg-dark
  input
    margin-bottom 5px
.section
  h3
    border-bottom 15px solid $c-bg-light
    margin-bottom 30px
    padding-bottom 10px
  margin gap(3) 0
  padding gap(1)
  color darken($c-bg-dark,10)
  position relative
  a,a:visited
    color $c-light
.section.left
  width 380px
  float left
.section.right
  width 300px
  float right
.section.first
  margin gap(4) 0 gap(3) 0
.cell-content
  z-index 150
  position relative
.cell-bg
  gradient($c-bg-light,$c-bg-dark)
  opacity(.6)
  color $c-light
  border-radius()
  box-shadow(5px,$c-black,16px)
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  z-index 20



// Hide Images
.img-loader
  display none
.clear
  clear both

/*******************************************
 *
 * Buttons
 *
 *******************************************/

//
.button
  cursor pointer

// Generic Styles
.button.normal
  gradient($c-logo-alt,darken($c-logo-alt,20))
  width 180px
  text-align center
  padding 8px 15px
  border-radius(10px)
  margin 0 auto
  box-shadow(1px,$c-black)
  relative-size(1.2)
  color $c-light
  border 0
.button.normal.hover
  color lighten($c-light,10)
  gradient(lighten($c-logo-alt,10),darken($c-logo-alt,10))
.button.normal.click
  padding 10px 12px 6px 18px
  gradient(darken($c-logo-alt,10),lighten($c-logo-alt,10))
  
// Checkout Button
.checkout.button
  gradient($c-go,darken($c-go,20))
  relative-size(1.6)
  width 200px
  text-shadow(1px,$c-black,0)
.checkout.button.hover
  gradient(lighten($c-go,10),darken($c-go,10))
.checkout.button.click
  gradient(darken($c-go,10),lighten($c-go,10))


// Checkout Button
.design-button.button
  gradient($c-go,darken($c-go,20))
  text-shadow(1px,$c-black,0)
.design-button.button.hover
  gradient(lighten($c-go,10),darken($c-go,10))
.design-button.button.click
  gradient(darken($c-go,10),lighten($c-go,10))

// Social Buttons
.google,.facebook,.twitter,.linkedin,.new
  display block
  float left
  margin 0 10px 20px 0
  text-decoration none
  span
    display none
  .subtitle
    display block
    position absolute
    margin-top 40px
  height 40px
  width 150px
.google
  background url('/images/buttons/google.png')
.google.hover
  background url('/images/buttons/google-hover.png')
.google.click
  background url('/images/buttons/google-click.png')
.facebook
  background url('/images/buttons/facebook.png')
.facebook.hover
  background url('/images/buttons/facebook-hover.png')
.facebook.click
  background url('/images/buttons/facebook-click.png')
.twitter
  background url('/images/buttons/twitter.png')
.twitter.hover
  background url('/images/buttons/twitter-hover.png')
.twitter.click
  background url('/images/buttons/twitter-click.png')
.linkedin
  background url('/images/buttons/linkedin.png')
.linkedin.hover
  background url('/images/buttons/linkedin-hover.png')
.linkedin.click
  background url('/images/buttons/linkedin-click.png')
.new
  background url('/images/buttons/new.png')
.new.hover
  background url('/images/buttons/new-hover.png')
.new.click
  background url('/images/buttons/new-click.png')




/*******************************************
 *
 * Home Page
 *
 *******************************************/

// Final Checkout Stuff At Bottom
.order-details
  .left,.right,.righter
    float left
    margin 30px 0
    width 230px
  .right,.righter
    margin-left 20px

.order-total
  .title,.price,.subtitle
    text-align center
  .title
    border-bottom 1px solid $c-bg-dark
    padding-bottom 5px
  .price
    padding 15px
    relative-size(2)
    font-weight bold

// Hand Container
.hand-container-container
  position absolute
  z-index 0
  top 200px
  left 0
  width 100%
  overflow hidden
  height 500px
  padding-top 250px
  .hand-container
    width 1000px
    display block
    margin 0 auto
    position relative
    .card
      position absolute
      box-rotate(-15deg)
      background url('/images/card-bg-small/scott-qr-blue.png')
      height 114px
      width 200px
      .content
        margin 5px 10px
      left -1px
      top -50px
      relative-size(.5)
      .qr
        height 35px
        width 35px
        position absolute
        margin 15px 0 0 140px
        box-rotate(45deg)
    .hand
      position absolute
      top 0
      left -200px

//
// Business Cards in TEMPLATE DESIGNER
//
.designer
  .card
    width 420px
    height 240px
    float left
  .options
    float right
    height 240px
    width 330px
    li
      overflow hidden
      label
        float left
      input
        relative-size(.6)
        float left


//
// Business Cards ON HOME PAGE
//
//
// Center Card Title
.card-title
  text-align center
  relative-size(.6)
//
// Main Card
.card.main
  width 420px
  height 240px
  display block
  margin 0 auto
  box-shadow(4px,$c-bg-dark)
  relative-size(.8)
  .content
    padding 30px 20px
    margin-top -144px
  .qr
    height 80px
    width 80px
    margin-left 320px
    margin-top 64px
//
// Little Cards
.card
  box-shadow(3px,$c-bg-dark)
  height 90px
  width 158px
  background-size 100%
  background $c-light
  relative-size(.3)
  cursor pointer
  .content
    padding 15px 10px
    margin-top -54px
  .qr
    height 30px
    width 30px
    margin-left 120px
    margin-top 24px
  input
    background none
    border none
    color inherit
    font-size inherit
    padding 0
    margin 0
    width 100%
    border-bottom 1px solid $c-dark-warm



.anchor.main
  background url('/images/card-bg/anchor.png')
.bike.main
  background url('/images/card-bg/bike.png')
.black-red.main
  background url('/images/card-bg/black-red.png')
.blue-boxes.main
  background url('/images/card-bg/blue-boxes.png')
.blue-circle.main
  background url('/images/card-bg/blue-circle.png')
.blue-gradient.main
  background url('/images/card-bg/blue-gradient.png')
.blue-green-gradient.main
  background url('/images/card-bg/blue-green-gradient.png')
.butterfly.main
  background url('/images/card-bg/butterfly.png')
.Card-1-Scott-QR-Blue.main
  background url('/images/card-bg/Card-1-Scott-QR-Blue.png')
.circles-blue.main
  background url('/images/card-bg/circles-blue.png')
.dark-yellow.main
  background url('/images/card-bg/dark-yellow.png')
.giraffe.main
  background url('/images/card-bg/giraffe.png')
.Gnome.main
  background url('/images/card-bg/Gnome.png')
.gray-blue-gradient.main
  background url('/images/card-bg/gray-blue-gradient.png')
.green-grid.main
  background url('/images/card-bg/green-grid.png')
.hello.main
  background url('/images/card-bg/hello.png')
.insidewatch.main
  background url('/images/card-bg/insidewatch.png')
.kickback-blue.main
  background url('/images/card-bg/kickback-blue.png')
.kickback-tan.main
  background url('/images/card-bg/kickback-tan.png')
.orange-bubble.main
  background url('/images/card-bg/orange-bubble.png')
.orange-grass.main
  background url('/images/card-bg/orange-grass.png')
.prime-grid.main
  background url('/images/card-bg/prime-grid.png')
.purple-blue.main
  background url('/images/card-bg/purple-blue.png')
.purple-burst.main
  background url('/images/card-bg/purple-burst.png')
.retroish.main
  background url('/images/card-bg/retroish.png')
.rose.main
  background url('/images/card-bg/rose.png')
.scissors.main
  background url('/images/card-bg/scissors.png')
.stripes.main
  background url('/images/card-bg/stripes.png')
.tree.main
  background url('/images/card-bg/tree.png')
.tri-color.main
  background url('/images/card-bg/tri-color.png')
.vertical-gray.main
  background url('/images/card-bg/vertical-gray.png')
.white-bubble.main
  background url('/images/card-bg/white-bubble.png')
.white-greenborder.main
  background url('/images/card-bg/white-greenborder.png')
.white-purple.main
  background url('/images/card-bg/white-purple.png')


.anchor
  background url('/images/card-bg-small/anchor.png')
.bike
  background url('/images/card-bg-small/bike.png')
.black-red
  color $c-light
  background url('/images/card-bg-small/black-red.png')
.blue-boxes
  background url('/images/card-bg-small/blue-boxes.png')
.blue-circle
  background url('/images/card-bg-small/blue-circle.png')
.blue-gradient
  background url('/images/card-bg-small/blue-gradient.png')
.blue-green-gradient
  background url('/images/card-bg-small/blue-green-gradient.png')
.butterfly
  background url('/images/card-bg-small/butterfly.png')
.Card-1-Scott-QR-Blue
  background url('/images/card-bg-small/Card-1-Scott-QR-Blue.png')
.circles-blue
  background url('/images/card-bg-small/circles-blue.png')
.dark-yellow
  color $c-light
  background url('/images/card-bg-small/dark-yellow.png')
.giraffe
  background url('/images/card-bg-small/giraffe.png')
.Gnome
  color $c-light
  background url('/images/card-bg-small/Gnome.png')
.gray-blue-gradient
  background url('/images/card-bg-small/gray-blue-gradient.png')
.green-grid
  background url('/images/card-bg-small/green-grid.png')
.hello
  background url('/images/card-bg-small/hello.png')
.insidewatch
  background url('/images/card-bg-small/insidewatch.png')
.kickback-blue
  background url('/images/card-bg-small/kickback-blue.png')
.kickback-tan
  background url('/images/card-bg-small/kickback-tan.png')
.orange-bubble
  background url('/images/card-bg-small/orange-bubble.png')
.orange-grass
  background url('/images/card-bg-small/orange-grass.png')
.prime-grid
  background url('/images/card-bg-small/prime-grid.png')
.purple-blue
  background url('/images/card-bg-small/purple-blue.png')
.purple-burst
  background url('/images/card-bg-small/purple-burst.png')
.retroish
  background url('/images/card-bg-small/retroish.png')
.rose
  background url('/images/card-bg-small/rose.png')
.scissors
  background url('/images/card-bg-small/scissors.png')
.stripes
  background url('/images/card-bg-small/stripes.png')
.tree
  background url('/images/card-bg-small/tree.png')
.tri-color
  background url('/images/card-bg-small/tri-color.png')
.vertical-gray
  background url('/images/card-bg-small/vertical-gray.png')
.white-bubble
  background url('/images/card-bg-small/white-bubble.png')
.white-greenborder
  background url('/images/card-bg-small/white-greenborder.png')
.white-purple
  background url('/images/card-bg-small/white-purple.png')



// General Style to lighten text
// Checkout Form
.subtitle
  color darken($c-bg-dark,10)
  relative-size(.6)

// Main Form Layout
.card.main
  .nth-6,.nth-7,.nth-8,.nth-9,.nth-10,.nth-11
    display none
//
// Login Form On Login Page Styling
//
// container of whole section
.login-container
  max-width 480px
  float right
  p
    text-align center
  .local
    text-align center
  .new
    margin 15px auto
    float none
    span
      width 150px
      text-align center
//
// The two login fields specifically, and their login button
.login-form
  span
    width 250px
    display block
    margin 0 auto
  input,.button
    margin 0 auto 15px auto
    float none
    display block
    width 250px
  .button
    margin 20px auto
    width 220px
  
  

// Card Galleries
.category
  position relative
  .gallery
    display none
  h4
    cursor pointer
    gradient($c-bg-light,$c-bg-dark)
    color $c-a-nav
    padding 5px 10px
    border-radius(5px)
    border-bottom 1px solid $c-bg-dark
.category.active
  .gallery
    display block
.gallery
  overflow hidden
  .card
    float left
    margin 15px
.gallery-select
  height 110px
  width 178px
  position absolute
  gradient(lighten($c-body-bg,20),$c-body-bg)
  z-index 30


// Form Layout Generic
label
  .subtitle
    display block
    margin 0 0 0 25px
    relative-size(.5)
.text-fields
  margin 30px 0
  .suggestions
    color darken($c-bg-dark,10)
    relative-size(.5)
    line-height 1em
  textarea
    width 100%
    height 75px
    margin 0
  label
    color $c-light
  input
    display block
    relative-size(.8)
  li
    float left
.shipping
  relative-size(1)
  li
    margin 10px
    display block
    float none
  label
    color $c-bg-dark
    relative-size(.65)
.radio-text-fields
  relative-size(1)
  margin -30px 0 15px 0
  li
    margin 10px
  label
    color $c-light
    relative-size(.65)
  input
    margin 10px 10px 0 0
    float left
    width auto

// Slides
.section.home-first
  padding 0
.phone-left
  width 200px
  margin 30px 0 30px 30px
  float left
.slides
  width 620px
  height 465px
  float left
  position relative
  .arrow-left,.arrow-right
    cursor pointer
    height 35px
    width 21px
    position absolute
    z-index 250
    top 202px
  .arrow-left
    background url('/images/arrow-left.png')
    left 5px
  .arrow-right
    background url('/images/arrow-right.png')
    right 5px
  .arrow-left.hover
    background url('/images/arrow-left-alt.png')
  .arrow-right.hover
    background url('/images/arrow-right-alt.png')
  h2.prompt,h2.caption
    relative-size(.8)
    text-align center
  h2.prompt
    margin 0 0 10px 0
  h2.caption
    margin 10px 0 0 0
    position absolute
    bottom 0
    width 100%
  .container
    margin-top -30px
    height 435px
    overflow hidden
    .content
      width 9000px
      li
        float left
        height 345px
        margin 30px
        width 560px
        img
          margin 0 auto
          display block
      .first
        margin-top 75px
        position relative
        .video
          position absolute
          top 39px
          left 98px
      .second
        margin-top 30px
      .third
        margin-top 40px
      .fourth
        .commercial
          margin-top 30px

// Footer

.footer
  relative-size(.6)
  color $c-bg-dark
  a,a:visited
    color $c-bg-dark
    text-decoration none
  margin-top 20px
  text-align center
  .really-above
    color semi-dark
    a
      color semi-dark
      text-decoration none
    padding-bottom 10px
  .above
    border-top 1px solid $c-bg-light
    padding 20px 0 0 0
  .other
    padding 0 0 15px 0
  .container
    padding 0
  ul
    text-align center
    li
      display inline-block
      float inherit
      margin 15px 10px











// New How It Works Section - Scott Cain 11.1.11

.joe  
  float left 
  margin 121px 30px

.sam
  float left
  margin 30px






