$base_font_px = 21px
$base_line_height = 1.5

$base_gap = $base_font_px * $base_line_height

/* Font_families */
$base_font_family = 'Ubuntu', sans-serif
$display_font_family = 'Maven Pro', sans-serif

/***********************************
 *
 * Color Definitions
 *
 ***********************************/

// These list the default colors that we are using on the website
$c_light = #EEEEEE
$c_mid_cool = #AAAAAA
$c_dark_cool = #111111
$c_mid_warm = #FFFFFF
$c_dark_warm = #333333
$c_black = #000000
$c_blue = #3ea9f5

$c_bg_dark = #524641 //#006E9F
$c_bg_light = #908575 //#006E9F
$c_logo_light = #f05a23 //#f37b4f
$c_logo_alt = #56A3DA

//This one is mainly used on the top small nav bar and is the darkest on the site
$c_extra_dark = #3a322f

$c_go = #23f067

$c_background = lighten($c_light, 10%)
$c_body_bg = #cfbea8
$c_font = $c_dark_warm
$c_highlight = $c_mid_warm

$c_link = $c_mid_cool
$c_link_hover = $c_mid_warm
$c_link_visited = $c_mid_cool
$c_link_active = $c_mid_cool

$c_a_nav = #d8cfc5


/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/

// CHAM builtin style functions
relative_size($size_multiplier, $set_line_height=true)
  $font_px = unit($base_font_px * $size_multiplier, 'px')
  font-size $font_px
  if $set_line_height
    line-height unit($base_line_height / $font_px, 'em')
gap($multiplier)
  return $base_gap * $multiplier

// Alpha Background
alpha_bg(color,n)
  background rgb(color);
  background rgba(color,n);

// Shadow
box_shadow(n = gap(.25), color = $c_dark_warm, b = n)
  -moz-box-shadow n n b color
  -webkit-box-shadow n n b color
  box-shadow n n b color
text_shadow(n = gap(.1), color = $c_dark_warm, b = n)
  text-shadow n n b color

// Rounded Corners
border_radius(n = gap(.5))
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
border_radius_bottom_left_only(n)
  border-bottom-left-radius n
  -moz-border-radius-bottomleft n
  -webkit-border-bottom-left-radius n
border_radius_except_top_right(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  border-top-right-radius 0
  -moz-border-radius-topright 0
  -webkit-border-top-right-radius 0
border_radius_top_only(n)
  border-top-left-radius n
  -moz-border-radius-topleft n
  -webkit-border-top-left-radius n
  border-top-right-radius n
  -moz-border-radius-topright n
  -webkit-border-top-right-radius n

// Transparency
opacity(n)
  opacity n
  filter alpha\(opacity\=n*100\)

absolute()
  display none
  position absolute
  top 0
  left 0

// Resize Ratio
transform_scale(width=0.5,height=width)
  _webkit-transform: scale(height, width);
  -moz-transform: scale(height, width);
  -ms-transform: scale(height, width);
  transform: scale(height, width);

// Rotate (pass in degrees)
box_rotate(degrees=7.5deg)
  -webkit-transform rotate(degrees)
  -moz-transform rotate(degrees)
  -ms-transform rotate(degrees)  
  -o-transform rotate(degrees)  
  transform rotate(degrees)
  filter progid\:DXImageTransform\.Microsoft\.Matrix\(M11\=0.9914448613738104, M12\=-0.13052619222005157,M21\=0.13052619222005157, M22\=0.9914448613738104, sizingMethod\='auto expand'\)
  zoom 1

// Background Gradient from 1 color at top to another color at bottom
gradient(color1=$c_background,color2=$c_background,alpha=1)
  color1 = rgba(color1, alpha)
  background-color color1
  background-image -webkit-gradient(linear, left top, left bottom, from(color1), to(color2)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, color1, color2) /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image -moz-linear-gradient(top, color1, color2) /* FF3.6 */
  background-image -ms-linear-gradient(top, color1, color2) /* IE10 */
  background-image -o-linear-gradient(top, color1, color2) /* Opera 11.10+ */
  background-image linear-gradient(top, color1, color2)

/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/




// Base Tag Definitions
// This is changing our heading style defintions
h1, h2, h3
  font-weight normal
  font-family $display_font_family
h1 
  relative_size(2.4)
ul
  list-style none
  margin 0
  padding 0
body
  relative_size(.75)
  font-family $base_font_family
  background $c_body_bg url('/images/little_pluses.png')
input
  relative_size(1)
// END Base Tag Definitions



// 
#container
  max-width 850px
  margin 0 auto


// cardsly logo highlight in text
.cardsly
  gradient($c_bg_light,$c_bg_dark)
  padding 0 2px 0 5px
  height 5px
  border_radius(5px)
  color $c_logo_light
  .alt
    color $c_logo_alt


// Tool Tips
.tooltip
  border 1px solid $c_black
  border_radius(3px)
  height 20px
  line-height 20px
  padding 2px 8px
  background yellow
  color dark
  font-size .7em
  margin-top -29px
  z-index 350
  absolute()


// Modal Backgrounds
.modal
  z-index 200
  gradient($c_bg_light,$c_bg_dark)
  opacity(.6)
  height 100%
  width 100%
  absolute()
.close
  font-size 1em
  padding 4px 30px
  background $c_black
  color $c_light
  absolute()
  z-index 201
  cursor pointer
  border_radius_top_only(8px)
.window
  z-index 201
  alpha_bg(darken($c_bg_dark,20),.9)
  border_radius_except_top_right(8px)
  color $c_light
  padding 30px
  absolute()
  overflow hidden
  .button
    margin-left 15px
    width auto
    margin-top 30px
// Create Login Form
.create_form
  input
    width 100%
//This is the main styling of a buttons that are blue.
.buttons
  .button
    display block
    float right
    text-align center
  .large_button
    display block
    float right
    text-align center
    width 225px


// Header

// Small nav is the small black bar at the top of the site that is used for logging in and other account actions.
.small_nav_container
  position absolute
  top 0
  left 0
  width 100%
  background $c_extra_dark
.small_nav
  max-width 850px
  margin 0 auto
  //This changes the style of the objects that reside within the small nav object
  li
    relative_size(.6)
    padding 0px 10px
    line-height 27px
    float right
    a
      color $c_bg_light
      position relative
      text-decoration none
  .account_link
    cursor pointer
    position relative
    line-height 27px
    padding-right 0
    .hidden_email
      display none
      
    //This is the the gear icon in the small nav menu.
    .gear
      height 28px
      float right
      overflow hidden
      img
        float right
        margin 4px 10px 0 10px
  //This controls what happens when any item is hovered or clicked the small nav.
  .hover,.click
    background lighten($c_extra_dark,10)
  //These are the style properties of the account drop down menu that appear when you click the gear or the name.
  .account_menu
    display none
    position absolute
    z-index 500
    padding 0
    top 27px
    right 0
    width 100%
    padding-right 0
    border-left 1px solid $c_extra_dark
    border-bottom 1px solid $c_extra_dark
    background lighten($c_extra_dark,10)
    border_radius_bottom_left_only(5px)
    //This is the styling of the elements that are in that drop down menu.
    li
      border-top 1px solid $c_extra_dark
      text-align right
      padding-right 38px
      float none
    //Submenu hovers and clicks
    .hover,.click
      background $c_extra_dark

// This is the header which contains the logo and the navigation buttons that are to the right of it.
.header
  position relative
  z-index 50
  margin 80px 0 0 50px
  gradient($c_bg_light,$c_bg_dark)
  height 46px
  .logo img
    margin -45px 0 50px -50px
    float left
    position relative
    z-index 50
  .design_button
    position absolute
    top 75px
    right 0
    display block
  h1
    position absolute
    top 65px
    color $c_logo_light
    .alt
      color $c_logo_alt
    relative_size(1.5)
  
  //This is the styling of the buttons that are too the right of the logo that are contained within the header.
  .navigation
    font-family $display_font_family
    gradient($c_bg_light,$c_bg_dark)
    float right
    margin 0
    border_radius(10px)
    li
      relative_size(1)
      margin 0
      float left
      a
        text-decoration none
        color $c_a_nav
      border-right 1px solid $c_a_nav
      //padding 7px 30px
      padding 7px 29px
      border_radius(10px)
//This is the background of the header
.header_back
  gradient($c_bg_light,$c_bg_dark)
  width 50%
  top 80px
  right 0
  height 46px
  position absolute

// This is the list of cards that are being chosen by the user.
// Sections
// Card List
.card_table
  display block
  border 1px solid $c_bg_dark
.row_header
  display block
  float left
  .cell_selectorh
    display block
    float left
    border 1px solid $c_bg_dark
  .cell_card_numberh
    display block
    float left
    border 1px solid $c_bg_dark
  .cell_purchase_dateh
    display block
    float left
    border 1px solid $c_bg_dark
  .cell_actionh
    display block
    float left
    border 1px solid $c_bg_dark
.body_rows
  display block
  float left
  overflow hidden
  .cell_selector
    display block
    float left
    border 1px solid $c_bg_dark
  .cell_card_number
    display block
    float left
    border 1px solid $c_bg_dark
  .cell_purchase_date
    display block
    float left
    border 1px solid $c_bg_dark
  .cell_action
    display block
    float left
    border 1px solid $c_bg_dark

.card_list
  th,td
    text-align left
    padding 10px
  td
    border-right 1px solid $c_bg_dark
  input
    margin-bottom 5px
.section
  h3
    border-bottom 15px solid $c_bg_light
    margin-bottom 30px
    padding-bottom 10px
  margin gap(3) 0
  padding gap(1)
  color darken($c_bg_dark,10)
  position relative
  a,a:visited
    color $c_light
.section.left
  width 380px
  float left
.section.right
  right 0px
  cursor pointer
  position fixed
  z-index 500
.section.first
  margin-top gap(4)
.cell_content
  z-index 150
  position relative
.cell_bg
  gradient($c_bg_light,$c_bg_dark)
  opacity(.6)
  color $c_light
  border_radius()
  box_shadow(5px,$c_black,16px)
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  z-index 20



// Hide Images
.img_loader
  display none
.clear
  clear both

/*******************************************
 *
 * Buttons
 *
 *******************************************/

//
.button
  cursor pointer

// Gray and Normal Buttons Basic Properties
.normal,.gray
  width 180px
  text-align center
  padding 8px 15px
  border_radius(10px)
  margin 0 auto
  box_shadow(1px,$c_black)
  relative_size(1.2)
  color $c_light
  border 0

.button.small
  width 110px
  relative_size(.7)
  padding 4px 8px
  
// Shift on click (so it looks like it's pressing down, I think ... :)
.normal.click,.gray.click
  padding 10px 12px 6px 18px

.button.small.click
  padding 5px 6px 3px 9px

// GRAY BUTTONS, YAY!!
.button.gray
  gradient($c_mid_cool,darken($c_mid_cool,20))
.button.gray.hover
  color lighten($c_mid_cool,50)
  gradient(lighten($c_mid_cool,10),darken($c_mid_cool,10))
.button.gray.click
  gradient(darken($c_mid_cool,10),lighten($c_mid_cool,10))
  

// Various shades of blue for various states of button clickiness
.button.normal
  gradient($c_logo_alt,darken($c_logo_alt,20))
.button.normal.hover
  color lighten($c_light,10)
  gradient(lighten($c_logo_alt,10),darken($c_logo_alt,10))
.button.normal.click
  gradient(darken($c_logo_alt,10),lighten($c_logo_alt,10))
  
// Checkout Button
.checkout.button
  gradient($c_go,darken($c_go,20))
  relative_size(1.6)
  width 200px
  text_shadow(1px,$c_black,0)
.checkout.button.hover
  gradient(lighten($c_go,10),darken($c_go,10))
.checkout.button.click
  gradient(darken($c_go,10),lighten($c_go,10))


// Checkout Button
.design_button.button
  gradient($c_go,darken($c_go,20))
  text_shadow(1px,$c_black,0)
.design_button.button.hover
  gradient(lighten($c_go,10),darken($c_go,10))
.design_button.button.click
  gradient(darken($c_go,10),lighten($c_go,10))

// Social Buttons
.google,.facebook,.twitter,.linkedin,.new
  display block
  float left
  margin 0 10px 20px 0
  text-decoration none
  span
    display none
  .subtitle
    display block
    position absolute
    margin-top 40px
  height 40px
  width 150px
.google
  background url('/images/buttons/google.png')
.google.hover
  background url('/images/buttons/google-hover.png')
.google.click
  background url('/images/buttons/google-click.png')
.facebook
  background url('/images/buttons/facebook.png')
.facebook.hover
  background url('/images/buttons/facebook-hover.png')
.facebook.click
  background url('/images/buttons/facebook-click.png')
.twitter
  background url('/images/buttons/twitter.png')
.twitter.hover
  background url('/images/buttons/twitter-hover.png')
.twitter.click
  background url('/images/buttons/twitter-click.png')
.linkedin
  background url('/images/buttons/linkedin.png')
.linkedin.hover
  background url('/images/buttons/linkedin-hover.png')
.linkedin.click
  background url('/images/buttons/linkedin-click.png')
.new
  background url('/images/buttons/new.png')
.new.hover
  background url('/images/buttons/new-hover.png')
.new.click
  background url('/images/buttons/new-click.png')




/*******************************************
 *
 * Home Page
 *
 *******************************************/

// Final Checkout Stuff At Bottom
.order_details
  .left,.right,.righter
    float left
    margin 30px 0
    width 230px
  .right,.righter
    margin-left 20px

.order_total
  .title,.price,.subtitle
    text-align center
  .title
    border-bottom 1px solid $c_bg_dark
    padding-bottom 5px
  .price
    padding 15px
    relative_size(2)
    font-weight bold

// Hand Container
.hand_container_container
  position absolute
  z-index 0
  top 200px
  left 0
  width 100%
  overflow hidden
  height 500px
  padding-top 250px
  .hand_container
    width 1000px
    display block
    margin 0 auto
    position relative
    .card
      position absolute
      box_rotate(-15deg)
      background url('/images/card-bg-small/scott-qr-blue.png')
      height 114px
      width 200px
      .content
        margin 5px 10px
      left -1px
      top -50px
      relative_size(.5)
      .qr
        height 35px
        width 35px
        position absolute
        margin 15px 0 0 140px
        box_rotate(45deg)
    .hand
      position absolute
      top 0
      left -200px

//
// Generic for colorpicker
//
.colorpicker
  z-index 500
.colorpicker_submit
  display none

//
// Business Cards in TEMPLATE DESIGNER in Admin
//
.add_new
  float right
.home_designer
  .card
    width 505px
    height 280px
    padding 10px
    margin 0 auto
    position relative
    .qr
      position absolute
      canvas
        position absolute
        z-index 351
      .background
        position absolute
        z-index 350
    .line
      border 1px solid transparent
      border-bottom 1px solid $c_bg_light
      padding 0
      margin 0
      background none
      overflow visible
      position absolute
.active_view
  display none
.home_options
  width 525px
  margin 0 auto
  overflow hidden
  .views
    float left
    text-align center
    .subtitle
      margin-top -5px

.designer
  margin-bottom 60px
  .card
    width 505px
    height 280px
    padding 10px
    display block
    float left
    cursor default
    overflow hidden
    position relative
    z-index 1
    .qr
      position absolute
      canvas
        position absolute
        z-index 351
      .background
        position absolute
        z-index 350
    //These are the text fields that are being manipulated in the admin
    .line
      border 1px solid transparent
      border-bottom 1px solid $c_bg_light
      display block
      position absolute
      white-space nowrap
    .active
      border 1px solid $c_logo_alt    
  //These are all the other options on the right side of the admin interface
  //
  .options
    float right
    height 300px
    width 240px
    position relative
    h4
      margin 0 -10px 5px -10px
      cursor pointer
      gradient($c_bg_light,$c_bg_dark)
      color $c_a_nav
      padding 5px 10px
      border_radius(5px)
      border-bottom 1px solid $c_bg_dark
    li
      margin-bottom 10px
      overflow hidden
      label
        display block
    input,select
      relative_size(.6)
      margin-right 10px
      float left
      width 70px
    .color,.left,.center,.right,.increase,.decrease,.indicator
      width 25px
      height 25px
      margin 5px 10px 5px 0
      float left
      cursor pointer
    .color
      border 2px solid $c_bg_dark
    ul
      display none
    .active ul
      display block
    .category_field,.image
      input
        width 180px
    .alignment
      float left
      .left,.center,.right
        background $c_bg_light url('/images/wysiwyg_spritesheet.png') no-repeat
        border 2px solid $c_bg_dark
      .center
        background-position -25px 0
      .right
        background-position -50px 0
    .size
      float left
      .indicator
        cursor auto
        cursor auto
        background $c_bg_light
        padding 2px
        text-align center
        line-height 25px
        font-size 15px
      .increase,.decrease
        background $c_bg_light url('/images/wysiwyg_spritesheet.png') no-repeat
        border 2px solid $c_bg_dark
      .increase
        background-position -75px 0
      .decrease
        background-position -100px 0
      .slider
        width 100px
        float left
        height 10px
        margin 15px 10px 0 10px
        display block
    .font_family
      float none
      display block
      width 180px
      display block
    .qr_color2_alpha
      height 10px
      margin 5px 0 15px 0
    .buttons
      .button
        height 20px
        width 80px
        margin 10px 10px 10px 0
        relative_size(.6)
  .views
    float left
    overflow hidden
.toggle
  overflow hidden
  background $c_bg_dark
  margin 10px 0
  padding 2px
  border_radius(12px)
  .disabled
    overflow hidden
    alpha_bg($c_bg_light,.5)
    border_radius(10px)
  .option
    width 40px
    height 40px
    line-height 40px
    text-align center
    cursor pointer
    float left
    background none
    color $c_bg_light
  .active
    color $c_light
    alpha_bg($c_bg_light,.8)
    border_radius(10px)
//
.web_bg,.web_fg
  position absolute
  height 300px
  width 525px
.web_bg
  background $c_black
  z-index -1
.web_fg
  gradient($c_black,$c_light,0)
  z-index 600
//
.categories
  overflow hidden
  .category
    overflow hidden
    .cards
      display none
  .category.active
    .cards
      display block
  .card
    cursor pointer
    overflow hidden
    position relative
    float left
    margin 15px 20px 15px 10px
    height 90px
    width 158px


// General Style to lighten text
// Checkout Form
.subtitle
  color darken($c_bg_dark,10)
  relative_size(.6)

//
//
// The two login fields specifically, and their login button
.form_narrow
  width 480px
  margin 30px auto
  display block
  p
    text-align center
  .local
    text-align center
  .new
    margin 15px auto
    float none
    span
      width 150px
      text-align center
  label
    width 250px
    display block
    margin 0 auto
    font-weight bold
  input
    margin 0 auto 15px auto
    float none
    display block
    width 250px
  .buttons
    .button
      margin 20px auto
      width 220px
  .new
    margin 0 auto
  
  

// Card Galleries
.category
  position relative
  .gallery
    display none
  h4
    cursor pointer
    gradient($c_bg_light,$c_bg_dark)
    color $c_a_nav
    padding 5px 10px
    border_radius(5px)
    border-bottom 1px solid $c_bg_dark
.category.active
  .gallery
    display block
.gallery
  overflow hidden
  .card
    float left
    margin 15px
.gallery_select
  height 110px
  width 178px
  position absolute
  gradient(lighten($c_body_bg,20),$c_body_bg)
  z-index 30


// Form Layout Generic
label
  .subtitle
    display block
    margin 0 0 0 25px
    relative_size(.5)
.text_fields
  margin 30px 0
  .suggestions
    color darken($c_bg_dark,10)
    relative_size(.5)
    line-height 1em
  textarea
    width 100%
    height 75px
    margin 0
  label
    color $c_light
  input
    display block
    relative_size(.8)
  li
    float left
.shipping
  relative_size(1)
  li
    margin 10px
    display block
    float none
  label
    color $c_bg_dark
    relative_size(.65)
.radio_text_fields
  relative_size(1)
  margin -30px 0 15px 0
  li
    margin 10px
  label
    color $c_light
    relative_size(.65)
  input
    margin 10px 10px 0 0
    float left
    width auto

// Slides
.section.home_first
  padding 0
//Feedback Button
input value=["Send Feedback"]
.feedback_form
  input
  margin 15px auto
.feedback_text
  font-size 14px
  width 350px
.emailNotUser
  font-size 12px
  width 350px
.feedback
  top 40%
  right -45px
  cursor pointer
  position fixed
  z-index 500
  a
    width 110px
    height 40px
    line-height 40px
    text-align center
    padding 5px
    background $c_extra_dark
    border 3px solid $c_light
    border-bottom none
    display block
    box_rotate(270deg)
    relative_size(1)
    color $c_light
    text-decoration none

//Account Page
.account_information
  
.shipping_table
  font-size 20px
  text-decoration none
  
//Various Card Charts
.chart_scanned
  .unfilled_scanned
    border_radius(5px)
    position relative
    left 0px
    top 0px
    height 200px
    width 250px
    z-index 300
    background $c_light
    display block
    .filled_scanned
      position relative
      border_radius(5px)
      padding 0px
      top 0px
      height 200px
      width 200px
      z-index 400
      background $c_blue
      display block
.chart_default
  .unfilled_default
    border_radius(5px)
    position relative
    left 0px
    top 0px
    height 200px
    width 250px
    z-index 300
    background $c_light
    display block
    .filled_default
      position relative
      border_radius(5px)
      padding 0px
      top 0px
      height 200px
      width 200px
      z-index 400
      background #e3007b
      display block
.chart_scans_30days
  .unfilled_scans_30days
    border_radius(5px)
    position relative
    left 0px
    top 0px
    height 200px
    width 250px
    z-index 300
    background $c_light
    display block
    .filled_scans_30days
      position relative
      border_radius(5px)
      padding 0px
      top 0px
      height 200px
      width 200px
      z-index 400
      background #e3007b
      display block
// Footer

.footer
  relative_size(.65)
  color darken($c_bg_light,10)
  a,a:visited
    color darken($c_bg_light,10)
    text-decoration none
  margin-top 20px
  text-align center
  p
    margin 0
  .us_pics
    li
      margin 45px 20px 0 20px
      img
        display block
        margin 0 auto
  .above
    border-top 1px solid $c_bg_light
    padding 10px 0 0 0
  .container
    padding 0
  ul
    text-align center
    li
      display inline-block
      float inherit
      margin 10px 15px 8px 15px
  

// New How It Works Section - Scott Cain 11.1.11

.joe  
  float left 
  margin 121px 30px

.sam
  float left
  margin 30px


// SCOTTS STUFF _ HOME PAGE CRAP




.phone_frame
  height 542px
  width 276px
  margin 0 500px
  display block 
  position relative
.phone_frame
  margin 30px 30px 30px 450px
  z-index 300
.phone_bar
  position relative
  z-index 305
  left 474px
  bottom 478px

.home_slides
  overflow hidden

.slides,.slide_bg
  position absolute
  overflow hidden
  left 473px
  top 126px
  width 233px
  height 900px
  z-index 23
  img
    position absolute
    display none
  label
    display none
    top 460px
    position absolute
    width 233px
    text-align center
.slide_bg
  background $c_black
  height 356px
  z-index 22

.biz_cards
  top -205px
  left 50px
  position absolute
  z-index 20
  li
    margin 30px 0
    position relative
    .qr
      position absolute
      top 50px
      left 225px

.phone_scanner
  position absolute
  left 320px
  bottom 330px
  z-index 21
.loading_screen
  position absolute
  padding 20px
  left 455px
  top 110px



.internet_explorer_error_page 
  font-size 16px

.browsers
  overflow hidden
  margin 0 auto
  li
    padding 30px 15px 15px 38px
    float left



// How it works style stuff by Scott

.multi_phone
  margin 0px 0px 0px 93px

.split_guy
  overflow hidden
  margin 0px 0px 0px 142px


// Pre-launch landing page stuff

.dbcommercial
  margin 0px 0px 0px 113px


  







