/* Font_families */
/***********************************
 *
 * Color Definitions
 *
 ***********************************/
/********************************
 *
 * LIBRARY FUNCTIONS
 *
 ********************************/
/********************************
 *
 * END LIBRARY FUNCTIONS
 *
 ********************************/
.feedback a {
  margin-right: -35px;
filter: progid:DXImageTransform.Microsoft.Matrix(                     M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, sizingMethod='auto expand');
}
.chromeFrameOverlayUnderlay {
  opacity: 0.6;
  filter: alpha ( opacity = 60 );
  margin-top: -80px;
  background: #000 !important;
}
